@import 'variables.scss';

#agenda {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    row-gap: 3px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.agenda>.hidden-row {
    display: none;
}

@mixin full-agenda-row($bgcolour) {
    background-color: $bgcolour;
    display: grid;
    justify-self: stretch;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 5px;
    grid-auto-flow: column;
    justify-content: space-between;
}

.agenda-row-style-break {
    @include full-agenda-row(#ed3259);
    font-size: 0.8rem;
}

.agenda-row-style-key {
    @include full-agenda-row(#990020);
    font-size: 0.8rem;
}

.agenda-row-style-highlight {
    @include full-agenda-row($brandPink);
}

.agenda-row-style-keynote {
    @include full-agenda-row($brandBlue);
}

.agenda-row-timeslot {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    justify-self: stretch;
    row-gap: 3px;
    column-gap: 5px;

    @media (max-width: $mobileWidth) {
        grid-auto-flow: row;
        grid-template-columns: auto;
    }
}

.agenda-session {
    background-color: #000d28;
    border-radius: 5px;
    display: grid;
    justify-self: stretch;
    justify-items: center;
    color: white;
    text-align: center;
    padding: 2px;    
}

.agenda-row-style-loading {
    font-size: 0.8rem;
}

.agenda-session-time,
.agenda-session-room {
    font-size: 0.8rem;
    margin: 3px;
}

.agenda-session-time {
    @media (max-width: $mobileWidth) {
        display: none;
    }
}

.agenda-session-name {
    color: #990020;
}

.agenda-session-image,
.agenda-session-name,
.agenda-session-title {
    margin: 3px;
    font-weight: 700;
}

.agenda-session-image {
    padding: 10px;
}

.speaker-image {
    width: 100%;
    border-radius: 50%;

    @media (max-width: $mobileWidth) {
        display: none;
    }
}

.clickable-session {
    cursor: pointer;

    @media (max-width: $mobileWidth) {
        grid-template-rows: auto 0 auto auto;
    }
}

.unclickable-session {
    align-items: center;
}

.popupBackdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000a6;
    display: grid;
    justify-items: center;
    align-items: center;
}

.popupBackdropHidden {
    display: none;
}

.popupClose {
    color: white;
    font-weight: 800;
    font-size: 2rem;
    justify-self: right;
    cursor: pointer;
}

.popupBio {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    padding: 10px;
    grid-column-gap: 10px;

    @media (max-width: $mobileWidth) {
        grid-template-columns: auto;
        grid-template-rows: repeat(8, auto);
    }
}

.popupContent {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    max-width: 90%;
}

.bio-title,
.bio-speaker-bio-title,
.bio-speaker {
    color: $brandPink;
    font-weight: 800;
}

.bio-tagline,
.bio-speaker-bio,
.bio-talk-description {
    font-size: 0.8rem;
}

.bio-speaker {
    grid-column: 1/1;
    grid-row: 2/2;
    margin-top: 10px;
    justify-self: center;

    @media (max-width: $mobileWidth) {
        grid-column: unset;
        grid-row: unset;
    }
}

.bio-social {
    grid-row: 3/3;
    grid-column: 1/1;
    margin-top: 5px;
    justify-self: center;
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;

    img {
        height: 35px;
    }

    @media (max-width: $mobileWidth) {
        grid-column: unset;
        grid-row: unset;
    }
}

.bio-tagline {
    grid-row: 4/4;
    grid-column: 1/1;
    margin-top: 5px;
    justify-self: center;

    @media (max-width: $mobileWidth) {
        grid-column: unset;
        grid-row: unset;
    }
}

.bio-speaker-bio-title {
    grid-row: 5/5;
    grid-column: 1/1;
    margin-top: 5px;

    @media (max-width: $mobileWidth) {
        grid-column: unset;
        grid-row: unset;
    }
}

.bio-speaker-bio {
    grid-row: 6/6;
    grid-column: 1/1;
    margin-top: 5px;

    @media (max-width: $mobileWidth) {
        grid-column: unset;
        grid-row: unset;
    }
}

.bio-title {
    grid-row: 1/1;
    grid-column: 2/2;
    justify-self: center;

    @media (max-width: $mobileWidth) {
        margin-top: 5px;
        grid-column: unset;
        grid-row: unset;
    }
}

.bio-talk-description {
    grid-row: 1/6;
    grid-column: 2/2;
    margin-top: 25px;

    @media (max-width: $mobileWidth) {
        grid-column: unset;
        grid-row: unset;
        margin-top: 10px;
    }
}

.bio-track {
    grid-row: 6/6;
    grid-column: 2/2;
    font-size: 0.8rem;
    align-self: center;
    justify-self: end;

    @media (max-width: $mobileWidth) {
        grid-column: unset;
        grid-row: unset;
        margin-top: 5px;
        justify-self: start;
    }
}

.largePopupImage {
    grid-column: 1/1;
    grid-row: 1/1;
    align-self: center;
    border-radius: 50%;
    border-radius: 50%;
    max-width: 60%;
    justify-self: center;

    @media (max-width: $mobileWidth) {
        grid-column: unset;
        grid-row: unset;
    }
}