.feedbackBase {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-self: center;
    grid-column-gap: 20px;
    grid-row-gap: 10px;

    @media (max-width: 1300px) {
        grid-template-columns: repeat(3, 300px);
    }

    @media (max-width: 990px) {
        grid-template-columns: repeat(2, 300px);
    }

    @media (max-width: 640px) {
        grid-template-columns: repeat(1, 300px);
    }
}

.feedbackButton {
    align-content: center;
    width: 300px;
    height: 150px;
    background: #fff;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: $darkBrandBlue;
    color: $darkBrandBlue;
    border-width: 4px;
    text-align: center;
    cursor: pointer;
    display: grid;
    justify-content: center;
    row-gap: 10px;

    &:hover {
        background: darken(white, 10);
    }
}

.feedbackButtonTitle {
    font-size: larger;
    font-weight: bold;
    color: $darkBrandPink;
}

.feedbackButtonWorkshop {
    font-size: small;
    padding-left: 5px;
    padding-right: 5px;
}

.popupRatingClose {
    color: $darkBrandPink;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
  }

.feedbackPopup {
    width: 75vw;
    max-height: 75vh;
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    overflow-y: auto;
    padding: 30px;
    align-content: start;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-x: hidden;
    @include scrollbar();
}

.feedbackTitle {
    font-size: x-large;
    color: $darkBrandPink;
}

.rating {
    display: grid;
    grid-auto-flow: row;

    datalist {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        writing-mode: vertical-lr;
    }

    option {
        padding: 0;
    }

    input[type="range"] {
        margin: 0;
    }
}

.textFeedback {
    width: 90%;
    height: 100px;
    font-size: larger;
}

.questionTitle {
    margin-bottom: 5px;
}

.questionBase {
    margin-bottom: 10px;
}

input[type="radio"] {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    accent-color: $darkBrandPink;
}

.radioSet {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 45px 100px 45px 100px;
}

.doneButton {
    width: 300px;
    justify-self: center;
    font-size: large;
    border-radius: 10px;
    border-color: $brandPink;
    background: $darkBrandPink;
    color: white;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background: lighten($darkBrandPink, 10%);
    }
    
    &:active {
        background: darken($darkBrandPink, 10%);
    }

    &:disabled {
        background-color: $darkBrandBlue;
    }
}

.saveButton {
    display: none;
    width: 300px;
    justify-self: center;
    font-size: x-large;
    border-radius: 10px;
    border-color: $brandPink;
    background: $darkBrandPink;
    color: white;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background: lighten($darkBrandPink, 10%);
    }
    
    &:active {
        background: darken($darkBrandPink, 10%);
    }

    &:disabled {
        background-color: $darkBrandBlue;
    }
}

select {
    font-size: larger;
    width: 90%;
    border-color: $darkBrandPink;
    padding: 10px;
}

input[type="email"] {
    font-size: larger;
    width: 90%;
    border-color: $darkBrandPink;
    padding: 10px;
}

input[type="number"] {
    font-size: larger;
    width: 90%;
    border-color: $darkBrandPink;
    padding: 10px;
}

.submitButtons {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 40px;
}

.loading {
    justify-self: center;
    grid-area: 1 / span 4;
    font-size: xx-large;
}