@import 'choose-contrast-color.scss';
@import 'sponsors.scss';
$brandpink: #fc003d;
$brandblue: #000d28;
$mobileWidth: 700px;

a {
    color: $brandpink;

    &:hover {
        color: lighten($brandpink, 10);
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: white;
    font-family: 'Armata', Helvetica, 'Segoe UI', Verdana, sans-serif;
    color: rgb(10, 10, 10);
    margin: 0;
    font-size: 1rem;
    margin-bottom: 30px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: 0.03rem;
}

a {
    text-decoration: none;
}

.menu {
    background-color: $brandblue;
    color: white;
    height: 40px;
    padding: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    font-weight: bolder;
    position: sticky;
    top: 0;
    z-index: 10000;

    a {
        color: white;

        &:hover {
            color: $brandpink;
        }
    }

    .left {
        justify-self: start;
        align-self: baseline;
    }

    .right {
        justify-self: end;

        &-mobile-icon {
            display: none;

            @media (max-width: $mobileWidth) {
                display: grid;
                justify-content: end;
                cursor: pointer;
            }
        }

        &-menu {
            justify-self: end;
            display: grid;
            grid-auto-flow: column;
            grid-gap: 10px;

            @media (max-width: $mobileWidth) {
                display: none;

                &-open {
                    display: grid;
                    grid-auto-flow: row;
                    background: $brandblue;
                    padding: 20px;
                    border-color: darken($brandpink, 50%);
                    border-width: 1px;
                    border-style: solid;
                    margin-top: 5px;
                    grid-row-gap: 20px;

                    >div.spacer {
                        display: none;
                    }
                }
            }
        }

        .spacer {
            color: rgb(197, 197, 197);
        }
    }
}

.hero {
    background-image: url("/public/images/Background_Web.jpg");
    background-color: $brandblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    color: white;
    justify-content: center;
    text-align: center;
    grid-row-gap: 30px;
    padding-left: 10px;
    padding-right: 10px;

    .brand {
        display: grid;
        justify-items: center;

        img {
            max-width: 80%;
            max-height: 100px;
            object-fit: contain;
        }
    }

    .CFPSection {
        display: grid;
        justify-items: center;

        .cfpbutton {
            background-color: #fc003d;
            color: white;
            border-radius: 30px;
            padding-bottom: 8px;
            padding-left: 15px;
            padding-right: 15px;
            border-width: 2px;
            border-style: solid;
            border-color: white;

            &:hover {
                background-color: #6d001b;
                border-color: #fc003d;
            }

            a {
                color: white;
            }

            p.cfpTimeline {
                font-size: 0.8rem;
            }
        }
    }

    .eventbananas {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        row-gap: 10px;

        .event {
            display: grid;
            grid-row-gap: 10px;
            justify-content: center;

            .location {
                font-size: 1.6rem;
                color: $brandpink;
                font-weight: bolder;
            }
        }
    }

    .mailingList {
        font-size: 0.9rem;

        .input-group {
            margin-left: auto;
            margin-right: auto;
        }

        input {
            border: 0;
            padding: 5px;

            &[type=submit] {
                background: $brandblue;
                color: white;
                border-color: darken($brandpink, 25);
                border-width: 1px;
                border-style: solid;

                &:hover {
                    background: $brandpink;
                }
            }
        }

        a {
            color: $brandpink;

            &:hover {
                color: lighten($brandpink, 10);
            }
        }
    }
}

.content {
    padding: 20px;
    font-size: 0.9rem;
    background-color: white;
    line-height: 180%;

    .highlight {
        font-weight: bold;
        color: $brandpink;
    }

    .seperator {
        width: 100%;
        height: 3px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom-color: $brandblue;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    .sectionTitle {
        font-weight: bold;
        font-size: 1.4rem;
        color: $brandpink;
        margin-bottom: 10px;
        margin-top: 10px;
        letter-spacing: -0.02rem;
    }

    .subSectionTitle {
        @extend .sectionTitle;
        color: $brandblue;
        font-size: 1.2rem;
    }

    .media {
        display: grid;

        .mediaArticles {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 200px;
            overflow-x: auto;
            grid-column-gap: 10px;
        }
    }

    @mixin card($dimension) {
        border: 1px solid lighten($brandblue, 50);
        border-radius: 5px;
        height: $dimension;
        width: $dimension;
        font-size: 0.7rem;
        font-variant-caps: all-small-caps;
        font-weight: bold;
        display: grid;
        align-items: end;
        background-color: $brandblue;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        .title {
            padding: 5px;
            width: ($dimension - 9px);
            margin-bottom: 10px;
            background-color: rgba(0, 0, 0, 0.705);
            color: white;
        }
    }

    .card {
        @include card(200px);
    }

    .smallerCard {
        @include card(150px);
    }

    .contactus {
        display: grid;

        .contactDetails {
            align-self: stretch;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(auto-fill, 200px);

            a {
                color: $brandblue;

                &:hover {
                    color: lighten($brandblue, 10);
                }
            }
        }
    }
}

$agendaBase: #f4f4f4;

.agenda {
    display: grid;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    align-items: end;
    background-color: $agendaBase;
    color: black;
    justify-self: stretch;
    padding-left: 20px !important;
    padding-right: 20px !important;
    align-items: stretch;
    text-align: center;

    &-room {
        background-color: darken($agendaBase, 20%);
    }

    &-session {
        &-talk {
            &-content {
                display: grid;
                justify-items: center;
            }
        }

        &-highlight {}
    }

    &-break {
        align-content: center;
        display: grid;
        background-color: darken($agendaBase, 20%);
    }

    &-room {
        align-content: center;
        display: grid;
        background-color: darken($agendaBase, 30%);
    }

    &-tbaCard {
        align-content: center;
        display: grid;
    }
}


.footer {
    background-color: $brandblue;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    @media (max-width: 605px) {
        font-size:0.5rem;
    }
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;

    >div:nth-child(1){
        margin-left: 15px;
    }

    >div:nth-child(2){
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        justify-items: end;
        margin-right: 15px;

        >a:nth-child(1){
            @media (max-width: 768px) {
                visibility: hidden;
            }
        }
    }
}

a.button {
    background-color: $brandpink;
    border-radius: 10px;
    padding: 5px;
    color: white;
    width: 200px;
    display: grid;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: lighten($brandpink, 10);
    }
}

a.smalllink {
    font-size: 0.7rem;
    color: $brandblue;
    text-decoration: underline;
}