$brandPink: #ff3263;
$darkBrandPink: #fc003d;
$brandBlue: #19c3fc;
$darkBrandBlue: #000d28;
$brandThird: #9a76cf;
$mobileWidth: 850px;
$workshopMoveBelowWidth: 1220px;

@mixin scrollbar() {
    &::-webkit-scrollbar {
      width: 12px;
    }
  
    &::-webkit-scrollbar-track {
      background: $darkBrandBlue;
    }
  
    &::-webkit-scrollbar-thumb {
      background: rgb(252, 0, 61);
      background: linear-gradient(
        0deg,
        rgba(252, 0, 61, 1) 25%,
        rgba(25, 195, 252, 1) 75%
      );
      border-radius: 20px;
      border: 0;
    }
  }