---
layout: default
---

<div class="sponsor sponsor-home">
    <div class="hero">
        <div class="brand">
            <img alt="DevConf;" src="/public/images/bannerTitle.png" />
            <div class="slogan">solving today and tomorrow's software development challenges</div>
            <div class="intro">
                DevConf is a community-driven, professional software developer focused, one-day conference hosted
                annually.<br />
                DevConf provides professional software developers with a buffet of tools, practices and principles
                applicable to tackling current and future challenges in the South African software development
                environment. It's an event where attendees can learn, network and be inspired regardless of their
                specific technology stack and programming language of choice.
            </div>
        </div>
    </div>


    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-event-bananas">
            {% for event in site.data.config.events %}
            {% if event.show %}
            {% if event.infoOn %}
            <a class="event" href="{{ event.info }}">
                {% else %}
                <div class="event">
                    {% endif %}
                    <div class="location-{{event.colour }}">{{ event.location }}</div>
                    <div class="date">{{ event.date }}</div>
                    <img class="event-logo" src="/public/images/{{ event.logo }}" />
                    {% if event.infoOn %}
                        {% assign agendaText = '' %}
                        {% assign ticketText = '' %}
                    {% if event.showAgenda %}
                        {% assign agendaText = 'Agenda, ' %}
                    {% endif %}
                    {% if event.tickets.onsale %}
                        {% assign ticketText = 'Tickets, ' %}
                    {% endif %}
                    <div class="button" role="button">
                        {{ agendaText | append: ticketText | append: 'Venue &amp; Sponsors'}}
                    </div>
                    {% endif %}
                    {% if event.infoOn %}
            </a>
            {% else %}
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    {% if site.data.config.callForSpeakers.show %}
    <div>
        <a class="button callforspeakers shimmer" href="{{ site.data.config.callForSpeakers.link }}" target="_blank">Speak at DevConf!<br/>Send us your talk proposal today!</a>
    </div>
    {% endif %}
</div>

{% if site.data.config.sponsors.banner %}
<div class="sponsor-content-detail">
    <div class="sponsor-content-detail-heading">DevConf is made possible with support from</div>
    <div class="sponsor-content-detail-wide-grid">
        {% assign year = site.data.config.general.year %}
        {% assign sponsorsByLevel = site.data[year]["jhbsponsors"] | concat: site.data[year]["cptsponsors"] | uniq: "Name" | group_by: 'Level' %}

        {% assign allSponsors = "" | split: "" %}
        {% for level in sponsorsByLevel %}
            {% assign sponsors = level.items | sort: "Name" %}
            {% assign allSponsors = allSponsors | concat: sponsors %}
        {% endfor %}

        {% assign totalSponsors = allSponsors | size %}
        {% assign thirdSize = totalSponsors | divided_by: 3 | ceil %}

        <div class="sponsor-row-1">
            <div class="sponsor-row-content">
                {% for sponsor in allSponsors limit: thirdSize %}
                <div class="sponsor-content-detail-content-sponsor-card sponsor-content-detail-sponsor-{{ sponsor.Level }}">
                    <a href="{{ sponsor.Url }}" target="_blank" rel="noopener noreferrer">
                        <img alt="The logo for {{ sponsor.Name }}" src="/public/images/sponsorship/{{site.data.config.general.year}}/{{sponsor.Logo }}" />
                    </a>
                </div>
                {% endfor %}

                {% comment %}Duplicate the first set of sponsors for seamless scrolling{% endcomment %}
                {% for sponsor in allSponsors limit: thirdSize %}
                <div class="sponsor-content-detail-content-sponsor-card sponsor-content-detail-sponsor-{{ sponsor.Level }}">
                    <a href="{{ sponsor.Url }}" target="_blank" rel="noopener noreferrer">
                        <img alt="The logo for {{ sponsor.Name }}" src="/public/images/sponsorship/{{site.data.config.general.year}}/{{sponsor.Logo }}" />
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="sponsor-row-2">
            <div class="sponsor-row-content">
                {% assign secondThirdStart = thirdSize %}
                {% assign secondThirdLimit = thirdSize %}
                {% for sponsor in allSponsors offset: secondThirdStart limit: secondThirdLimit %}
                <div class="sponsor-content-detail-content-sponsor-card sponsor-content-detail-sponsor-{{ sponsor.Level }}">
                    <a href="{{ sponsor.Url }}" target="_blank" rel="noopener noreferrer">
                        <img alt="The logo for {{ sponsor.Name }}" src="/public/images/sponsorship/{{site.data.config.general.year}}/{{sponsor.Logo }}" />
                    </a>
                </div>
                {% endfor %}

                {% comment %}Duplicate the second set of sponsors for seamless scrolling{% endcomment %}
                {% for sponsor in allSponsors offset: secondThirdStart limit: secondThirdLimit %}
                <div class="sponsor-content-detail-content-sponsor-card sponsor-content-detail-sponsor-{{ sponsor.Level }}">
                    <a href="{{ sponsor.Url }}" target="_blank" rel="noopener noreferrer">
                        <img alt="The logo for {{ sponsor.Name }}" src="/public/images/sponsorship/{{site.data.config.general.year}}/{{sponsor.Logo }}" />
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="sponsor-row-3">
            <div class="sponsor-row-content">
                {% assign thirdThirdStart = thirdSize | times: 2 %}
                {% for sponsor in allSponsors offset: thirdThirdStart %}
                <div class="sponsor-content-detail-content-sponsor-card sponsor-content-detail-sponsor-{{ sponsor.Level }}">
                    <a href="{{ sponsor.Url }}" target="_blank" rel="noopener noreferrer">
                        <img alt="The logo for {{ sponsor.Name }}" src="/public/images/sponsorship/{{site.data.config.general.year}}/{{sponsor.Logo }}" />
                    </a>
                </div>
                {% endfor %}

                {% comment %}Duplicate the third set of sponsors for seamless scrolling{% endcomment %}
                {% for sponsor in allSponsors offset: thirdThirdStart %}
                <div class="sponsor-content-detail-content-sponsor-card sponsor-content-detail-sponsor-{{ sponsor.Level }}">
                    <a href="{{ sponsor.Url }}" target="_blank" rel="noopener noreferrer">
                        <img alt="The logo for {{ sponsor.Name }}" src="/public/images/sponsorship/{{site.data.config.general.year}}/{{sponsor.Logo }}" />
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div id="youtubeSection" class="sponsor-content-detail">
    <div class="sponsor-content-detail-heading">Videos</div>
    <iframe id="youtubeIframe" allow="autoplay; encrypted-media" allowfullscreen class="youtubes" frameborder="0"
        src="https://www.youtube.com/embed/videoseries?list=PLZgTMWtBnKkosbeuwDrcfNxLxd5tiC3ye"></iframe>
    <a class="button-blue nudgeDown" href="https://youtube.com/c/devconfza" target="_blank">Visit Our YouTube
        Channel</a>
</div>

<div class="sponsor-content-detail">
    <div class="sponsor-content-detail-heading">Email Us</div>
    <div class="sponsor-content-detail-email" role="button">
        <a class="button" href="mailto:info@devconf.co.za">info@devconf.co.za</a>
    </div>
</div>
</div>