---
layout: default
---


<div class="sponsor">
    <div class="sponsor-title">
        <div class="sponsor-title-ellipse">&nbsp;</div>
        <div class="sponsor-title-content">
            <div>Sponsorships</div>
            <div class="sponsor-title-content-packages-intro">By providing the right sponsorship platforms, we aim to
                work with our sponsors in providing delegates
                with further event benefits such as networking, career discussions and opportunities.</div>
        </div>
    </div>
    <div class="sponsor-content-detail">
        <p>All packages come standard with:
            <ul>
                <li>Full delegate tickets to the event (number dependant on package chosen)</li>
                <li>Logo on all scheduled emails to database</li>
                <li>Logo on event website</li>
                <li>Logo and sponsorship acknowledgement in keynote</li>
                <li>Logo on printed agenda</li>
                <li>Option to include brochure and/or promotional item in delegate bag – (subject to refusal)</li>
            </ul>
        </p>
    </div>
</div>
<div class="sponsor-content-detail-packages">
    <div>
        <div class="sponsor-content-detail-heading">Cape Town</div>
        <div class="sponsor-content-detail-package-cards">
            {% assign sorted = site.cpt_sponsor_packages | sort: 'order' %}
            {% for package in sorted %}
            {% include package_card.html suffix="-blue" %}
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="sponsor-content-detail-heading-pink">Johannesburg</div>
        <div class="sponsor-content-detail-package-cards">
            {% assign sorted = site.jhb_sponsor_packages | sort: 'order' %}
            {% for package in sorted %}
            {% include package_card.html %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="sponsor-content-detail">
    <div class="sponsor-content-detail-termsAndConditions">
        <ul>
            <li>Terms and conditions apply</li>
            <li>All prices are excluding VAT of 15%</li>
        </ul>
    </div>
</div>
</div>