@charset "UTF-8";
/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
.sponsor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px repeat(5, auto); }
  .sponsor-button {
    background-color: #021637;
    font-size: 0.9rem;
    font-weight: 800;
    border-radius: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    line-height: 1rem; }
    .sponsor-button:hover {
      color: white;
      background-color: black; }
  .sponsor-title {
    background-color: #ff3263;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-top: 10px; }
    .sponsor-title-ellipse {
      width: 90%;
      height: 90%;
      border-radius: 50%;
      background-color: #000;
      opacity: 0.08;
      margin-left: auto;
      margin-right: auto;
      margin-top: 160px;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      z-index: 10; }
    .sponsor-title-button {
      margin-top: 30px; }
    .sponsor-title-content {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      z-index: 100;
      color: white;
      justify-self: center;
      font-size: 3rem;
      text-align: center;
      margin-top: 40px;
      justify-items: center;
      display: grid;
      grid-template-rows: repeat(4, minmax(0, min-content));
      grid-row-gap: 10px;
      text-transform: uppercase; }
      .sponsor-title-content-package {
        margin-top: 0; }
        .sponsor-title-content-package-image {
          display: grid;
          justify-items: center;
          align-items: start;
          margin-top: -130px;
          z-index: 150;
          margin-bottom: -40px; }
          @media (max-width: 700px) {
            .sponsor-title-content-package-image {
              display: none; } }
          .sponsor-title-content-package-image > img {
            height: 300px; }
      @media (max-width: 700px) {
        .sponsor-title-content {
          font-size: 2.5rem; } }
      .sponsor-title-content-second {
        font-size: 1.5rem; }
      .sponsor-title-content-third {
        font-size: 1rem; }
  .sponsor-title-blue {
    background-color: #1BA6E3;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-top: 10px; }
    .sponsor-title-blue-ellipse {
      width: 90%;
      height: 90%;
      border-radius: 50%;
      background-color: #000;
      opacity: 0.08;
      margin-left: auto;
      margin-right: auto;
      margin-top: 160px;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      z-index: 10; }
    .sponsor-title-blue-button {
      margin-top: 30px; }
    .sponsor-title-blue-content {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      z-index: 100;
      color: white;
      justify-self: center;
      font-size: 3rem;
      text-align: center;
      margin-top: 40px;
      justify-items: center;
      display: grid;
      grid-template-rows: repeat(4, minmax(0, min-content));
      grid-row-gap: 10px;
      text-transform: uppercase; }
      .sponsor-title-blue-content-package {
        margin-top: 0; }
        .sponsor-title-blue-content-package-image {
          display: grid;
          justify-items: center;
          align-items: start;
          margin-top: -130px;
          z-index: 150;
          margin-bottom: -40px; }
          @media (max-width: 700px) {
            .sponsor-title-blue-content-package-image {
              display: none; } }
          .sponsor-title-blue-content-package-image > img {
            height: 300px; }
      @media (max-width: 700px) {
        .sponsor-title-blue-content {
          font-size: 2.5rem; } }
      .sponsor-title-blue-content-second {
        font-size: 1.5rem; }
      .sponsor-title-blue-content-third {
        font-size: 1rem; }
  .sponsor-content-detail, .sponsor-content-detail-packages {
    display: grid;
    justify-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px; }
    .sponsor-content-detail > *:not(a), .sponsor-content-detail-packages > *:not(a) {
      padding-left: 15%;
      padding-right: 15%; }
      @media (max-width: 1200px) {
        .sponsor-content-detail > *:not(a), .sponsor-content-detail-packages > *:not(a) {
          padding-left: unset;
          padding-right: unset; } }
    .sponsor-content-detail-packages {
      grid-column-gap: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      justify-items: stretch;
      background-color: white !important;
      padding-left: 15%;
      padding-right: 15%; }
      .sponsor-content-detail-packages > div {
        padding-left: 0;
        padding-right: 0; }
      @media (max-width: 700px) {
        .sponsor-content-detail-packages {
          grid-template-columns: auto;
          grid-template-rows: auto auto; } }
    .sponsor-content-detail-package-cards {
      display: grid;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      grid-template-columns: 100%;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      justify-items: center;
      align-items: baseline; }
    .sponsor-content-detail-package-card {
      padding: 25px 10px;
      background-color: #f4f4f4;
      color: #ff3263;
      display: grid;
      justify-items: center;
      grid-row-gap: 5px;
      width: 200px;
      text-align: center;
      line-height: 1.5rem; }
      .sponsor-content-detail-package-card > img {
        width: 150px; }
        @media (max-width: 700px) {
          .sponsor-content-detail-package-card > img {
            display: none; } }
      .sponsor-content-detail-package-card > div:nth-child(1), .sponsor-content-detail-package-card > div:nth-child(5), .sponsor-content-detail-package-card > div:nth-child(7) {
        font-weight: 800; }
    .sponsor-content-detail-package-card-blue {
      padding: 25px 10px;
      background-color: #f4f4f4;
      color: #1BA6E3;
      display: grid;
      justify-items: center;
      grid-row-gap: 5px;
      width: 200px;
      text-align: center;
      line-height: 1.5rem; }
      .sponsor-content-detail-package-card-blue > img {
        width: 150px; }
        @media (max-width: 700px) {
          .sponsor-content-detail-package-card-blue > img {
            display: none; } }
      .sponsor-content-detail-package-card-blue > div:nth-child(1), .sponsor-content-detail-package-card-blue > div:nth-child(5), .sponsor-content-detail-package-card-blue > div:nth-child(7) {
        font-weight: 800; }
    .sponsor-content-detail-heading, .sponsor-content-detail-heading-blue {
      color: #1BA6E3;
      text-transform: uppercase;
      padding-top: 10px;
      font-weight: 800;
      font-size: 2rem;
      margin-bottom: 30px;
      text-align: center; }
      .sponsor-content-detail-heading-blue {
        color: #1BA6E3; }
      @media (min-width: 700px) {
        .sponsor-content-detail-heading-attendees {
          text-align: left; } }
    .sponsor-content-detail-termsAndConditions {
      font-size: 0.6rem; }
    .sponsor-content-detail-media {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: auto;
      justify-items: center;
      line-height: 1.5rem; }
      .sponsor-content-detail-media-points {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 30px; }
        @media (max-width: 700px) {
          .sponsor-content-detail-media-points {
            grid-template-columns: auto;
            grid-template-rows: repeat(2, auto); } }
        .sponsor-content-detail-media-points > div > img {
          height: 250px; }
          @media (max-width: 700px) {
            .sponsor-content-detail-media-points > div > img {
              width: 200px; } }
        .sponsor-content-detail-media-points > div {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: repeat(3, auto);
          justify-items: center; }
          .sponsor-content-detail-media-points > div > div:nth-child(2) {
            font-weight: bold; }
    .sponsor-content-detail-mission {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 50px;
      line-height: 1.5rem; }
      .sponsor-content-detail-mission > div {
        text-align: center;
        display: grid;
        justify-items: center;
        grid-row-gap: 20px;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: auto; }
        @media (max-width: 700px) {
          .sponsor-content-detail-mission > div > img {
            display: none;
            grid-template-rows: 0 auto; } }
      @media (max-width: 700px) {
        .sponsor-content-detail-mission {
          grid-template-rows: repeat(4, 1fr);
          grid-template-columns: 1fr;
          grid-row-gap: 5px; } }
    .sponsor-content-detail-attendees {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto auto;
      justify-items: center;
      line-height: 1.5rem; }
      @media (max-width: 700px) {
        .sponsor-content-detail-attendees {
          grid-template-columns: auto; }
          .sponsor-content-detail-attendees > img {
            display: none; } }
    .sponsor-content-detail-overview {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: minmax(auto, 350px) minmax(auto, 350px);
      justify-items: center;
      grid-row-gap: 10px;
      grid-column-gap: 50px;
      grid-auto-flow: column;
      line-height: 1.5rem;
      margin-bottom: 20px; }
      @media (max-width: 700px) {
        .sponsor-content-detail-overview {
          grid-auto-flow: row;
          grid-template-rows: repeat(4, auto);
          grid-template-columns: 350px; } }
      .sponsor-content-detail-overview > div:nth-child(1),
      .sponsor-content-detail-overview > div:nth-child(3) {
        color: #ff3263;
        font-weight: 800;
        margin-bottom: 20px; }
      .sponsor-content-detail-overview > div:nth-child(3) {
        color: #1BA6E3; }
      .sponsor-content-detail-overview > div:nth-child(2) {
        background-color: #ff3263; }
      .sponsor-content-detail-overview > div:nth-child(4) {
        background-color: #1BA6E3; }
      .sponsor-content-detail-overview > div:nth-child(2),
      .sponsor-content-detail-overview > div:nth-child(4) {
        color: white;
        padding: 30px 20px;
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: auto;
        justify-items: center;
        grid-row-gap: 20px; }
        .sponsor-content-detail-overview > div:nth-child(2) > div,
        .sponsor-content-detail-overview > div:nth-child(4) > div {
          display: grid;
          justify-items: center;
          grid-row-gap: 5px;
          text-align: center; }
          .sponsor-content-detail-overview > div:nth-child(2) > div > div:nth-child(odd),
          .sponsor-content-detail-overview > div:nth-child(4) > div > div:nth-child(odd) {
            text-transform: uppercase; }
    .sponsor-content-detail-reflection {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-column-gap: 20px;
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 20px;
      justify-items: center;
      margin-bottom: 20px;
      line-height: 1.5rem; }
      @media (max-width: 700px) {
        .sponsor-content-detail-reflection {
          grid-template-columns: auto;
          grid-template-rows: repeat(6, auto); } }
      .sponsor-content-detail-reflection > div {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        text-align: center; }
        .sponsor-content-detail-reflection > div > img {
          width: 250px;
          height: 250px; }
        .sponsor-content-detail-reflection > div:nth-child(2) {
          font-size: 1.1rem; }
    .sponsor-content-detail-contact {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      grid-column-gap: 20px;
      line-height: 1.5rem; }
      @media (max-width: 700px) {
        .sponsor-content-detail-contact {
          grid-template-rows: repeat(3, 1fr);
          grid-template-columns: auto;
          grid-row-gap: 10px; } }
      .sponsor-content-detail-contact > div {
        display: grid;
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        grid-row-gap: 5px; }
        .sponsor-content-detail-contact > div > div:nth-child(1) {
          font-weight: 800; }
    .sponsor-content-detail-introduction {
      justify-self: left;
      line-height: 1.5rem; }
    .sponsor-content-detail-brand {
      line-height: 1.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px; }
      .sponsor-content-detail-brand > div:before {
        content: "🧡 "; }
      @media (max-width: 700px) {
        .sponsor-content-detail-brand {
          grid-template-columns: 1fr; } }
    .sponsor-content-detail-expo {
      line-height: 1.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px; }
      .sponsor-content-detail-expo > div:before {
        content: "💜 "; }
      @media (max-width: 700px) {
        .sponsor-content-detail-expo {
          grid-template-columns: 1fr; } }
    .sponsor-content-detail-benefits {
      line-height: 1.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px; }
      .sponsor-content-detail-benefits > div:before {
        content: "💙 "; }
      @media (max-width: 700px) {
        .sponsor-content-detail-benefits {
          grid-template-columns: 1fr; } }
    .sponsor-content-detail-exclusive {
      line-height: 1.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px; }
      .sponsor-content-detail-exclusive > div:before {
        content: "💚 "; }
      @media (max-width: 700px) {
        .sponsor-content-detail-exclusive {
          grid-template-columns: 1fr; } }
    .sponsor-content-detail:nth-child(odd), .sponsor-content-detail-packages:nth-child(odd) {
      background-color: white; }
    .sponsor-content-detail:nth-child(even), .sponsor-content-detail-packages:nth-child(even) {
      background-color: #f4f4f4; }
  .sponsor .more-info {
    margin-top: 10px; }

a {
  color: #fc003d; }
  a:hover {
    color: #ff3062; }

html {
  position: relative;
  min-height: 100%; }

body {
  background-color: white;
  font-family: 'Armata', Helvetica, 'Segoe UI', Verdana, sans-serif;
  color: #0a0a0a;
  margin: 0;
  font-size: 1rem;
  margin-bottom: 30px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: 0.03rem; }

a {
  text-decoration: none; }

.menu {
  background-color: #000d28;
  color: white;
  height: 40px;
  padding: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  font-weight: bolder;
  position: sticky;
  top: 0;
  z-index: 10000; }
  .menu a {
    color: white; }
    .menu a:hover {
      color: #fc003d; }
  .menu .left {
    justify-self: start;
    align-self: baseline; }
  .menu .right {
    justify-self: end; }
    .menu .right-mobile-icon {
      display: none; }
      @media (max-width: 700px) {
        .menu .right-mobile-icon {
          display: grid;
          justify-content: end;
          cursor: pointer; } }
    .menu .right-menu {
      justify-self: end;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 10px; }
      @media (max-width: 700px) {
        .menu .right-menu {
          display: none; }
          .menu .right-menu-open {
            display: grid;
            grid-auto-flow: row;
            background: #000d28;
            padding: 20px;
            border-color: black;
            border-width: 1px;
            border-style: solid;
            margin-top: 5px;
            grid-row-gap: 20px; }
            .menu .right-menu-open > div.spacer {
              display: none; } }
    .menu .right .spacer {
      color: #c5c5c5; }

.hero {
  background-image: url("/public/images/Background_Web.jpg");
  background-color: #000d28;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  color: white;
  justify-content: center;
  text-align: center;
  grid-row-gap: 30px;
  padding-left: 10px;
  padding-right: 10px; }
  .hero .brand {
    display: grid;
    justify-items: center; }
    .hero .brand img {
      max-width: 80%;
      max-height: 100px;
      object-fit: contain; }
  .hero .CFPSection {
    display: grid;
    justify-items: center; }
    .hero .CFPSection .cfpbutton {
      background-color: #fc003d;
      color: white;
      border-radius: 30px;
      padding-bottom: 8px;
      padding-left: 15px;
      padding-right: 15px;
      border-width: 2px;
      border-style: solid;
      border-color: white; }
      .hero .CFPSection .cfpbutton:hover {
        background-color: #6d001b;
        border-color: #fc003d; }
      .hero .CFPSection .cfpbutton a {
        color: white; }
      .hero .CFPSection .cfpbutton p.cfpTimeline {
        font-size: 0.8rem; }
  .hero .eventbananas {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 10px; }
    .hero .eventbananas .event {
      display: grid;
      grid-row-gap: 10px;
      justify-content: center; }
      .hero .eventbananas .event .location {
        font-size: 1.6rem;
        color: #fc003d;
        font-weight: bolder; }
  .hero .mailingList {
    font-size: 0.9rem; }
    .hero .mailingList .input-group {
      margin-left: auto;
      margin-right: auto; }
    .hero .mailingList input {
      border: 0;
      padding: 5px; }
      .hero .mailingList input[type=submit] {
        background: #000d28;
        color: white;
        border-color: #7d001e;
        border-width: 1px;
        border-style: solid; }
        .hero .mailingList input[type=submit]:hover {
          background: #fc003d; }
    .hero .mailingList a {
      color: #fc003d; }
      .hero .mailingList a:hover {
        color: #ff3062; }

.content {
  padding: 20px;
  font-size: 0.9rem;
  background-color: white;
  line-height: 180%; }
  .content .highlight {
    font-weight: bold;
    color: #fc003d; }
  .content .seperator {
    width: 100%;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-color: #000d28;
    border-bottom-style: solid;
    border-bottom-width: 1px; }
  .content .sectionTitle, .content .subSectionTitle {
    font-weight: bold;
    font-size: 1.4rem;
    color: #fc003d;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: -0.02rem; }
  .content .subSectionTitle {
    color: #000d28;
    font-size: 1.2rem; }
  .content .media {
    display: grid; }
    .content .media .mediaArticles {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 200px;
      overflow-x: auto;
      grid-column-gap: 10px; }
  .content .sponsors {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(auto-fit, 150px); }
  .content .card {
    border: 1px solid #286eff;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    font-size: 0.7rem;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    display: grid;
    align-items: end;
    background-color: #000d28;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .content .card .title {
      padding: 5px;
      width: 191px;
      margin-bottom: 10px;
      background-color: rgba(0, 0, 0, 0.705);
      color: white; }
  .content .smallerCard {
    border: 1px solid #286eff;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    font-size: 0.7rem;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    display: grid;
    align-items: end;
    background-color: #000d28;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .content .smallerCard .title {
      padding: 5px;
      width: 141px;
      margin-bottom: 10px;
      background-color: rgba(0, 0, 0, 0.705);
      color: white; }
  .content .map {
    background-image: url("/public/images/map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .content .map .overlaytext {
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      color: white;
      font-weight: bold;
      padding: 10px; }
  .content .contactus {
    display: grid; }
    .content .contactus .contactDetails {
      align-self: stretch;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fill, 200px); }
      .content .contactus .contactDetails a {
        color: #000d28; }
        .content .contactus .contactDetails a:hover {
          color: #001e5b; }

.agenda {
  display: grid;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-row-gap: 5px; }
  .agenda .agendaTimeslot {
    display: grid;
    justify-items: stretch; }
    .agenda .agendaTimeslot > .agendateriaryEvent {
      background-color: #960024;
      border-style: solid;
      border-width: 1px;
      border-color: #ff174f;
      color: white;
      text-align: center;
      font-weight: bolder; }
    .agenda .agendaTimeslot > .agendasecondaryEvent {
      background-color: #c90031;
      border-style: solid;
      border-width: 1px;
      border-color: #ff4a75;
      color: white;
      text-align: center;
      font-weight: bolder; }
    .agenda .agendaTimeslot > .agendasession {
      background-color: #fc003d;
      border-style: solid;
      border-width: 1px;
      border-color: #ff7d9c;
      color: black;
      text-align: center;
      font-weight: bolder; }
    .agenda .agendaTimeslot > .agendabreak {
      background-color: #000d28;
      border-style: solid;
      border-width: 1px;
      border-color: #0036a8;
      color: white;
      text-align: center;
      font-weight: bolder; }
    .agenda .agendaTimeslot .talks {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-row-end: 5px;
      grid-column-gap: 5px; }
      .agenda .agendaTimeslot .talks .talkSlotCard {
        height: 300px;
        border-style: solid;
        border-width: 1px;
        border-color: #0036a8;
        display: grid;
        grid-template-rows: min-content;
        align-content: end; }
        .agenda .agendaTimeslot .talks .talkSlotCard .talkLabel {
          color: #9e9e9e;
          background-color: rgba(0, 0, 0, 0.692);
          width: 100%;
          margin-bottom: 10px; }
          .agenda .agendaTimeslot .talks .talkSlotCard .talkLabel .talkLabelText {
            padding: 5px; }
            .agenda .agendaTimeslot .talks .talkSlotCard .talkLabel .talkLabelText .talkTitle {
              color: white;
              font-weight: bold; }
            .agenda .agendaTimeslot .talks .talkSlotCard .talkLabel .talkLabelText .talkSpeaker {
              color: white;
              font-weight: bolder; }

.footer {
  background-color: #000d28;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (max-width: 700px) {
    .footer {
      visibility: hidden; } }

a.button {
  height: 30px;
  background-color: #fc003d;
  border-radius: 10px;
  padding: 5px;
  color: white;
  width: 200px;
  display: grid;
  align-items: center;
  justify-content: center; }
  a.button:hover {
    background-color: #ff3062; }

a.smalllink {
  font-size: 0.7rem;
  color: #000d28;
  text-decoration: underline; }
