{% assign event = site.data.config.events[include.offset] %}

<div class="sponsor">
    <div class="{{ include.baseStyle }}">
        <div class="{{ include.baseStyle }}-ellipse">&nbsp;</div>
        <div class="sponsor-title-content">
            <div class="sponsor-title-content-third">[ DevConf 2020 ]</div>
            <div>{{ event.location }}</div>
            <div class="sponsor-title-content-second">{{event.date}} | 5 Tracks | Over 40 Speakers</div>
        </div>
    </div>

    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-heading">Buy your tickets</div>
        <div class="sponsor-content-detail-tickets">
            <div>Limited tickets available with something for everyone. All tickets include full day access to all
                sessions, the amazing welcome gifts, lunch, snacks, and access to the post-conference event!</div>
            <div class="sponsor-content-detail-tickets-cards">
                <div>
                    <div>Early Bird Tickets</div>
                    <div>The best price ticket but <i>extremely</i> limited!</div>
                    <div class="sponsor-content-detail-tickets-cards-price">{{ event.tickets.earlyBird.price }}</div>
                    <a class="sponsor-button" href="{{ event.tickets.purchaseSite }}" target="_blank">Buy an early bird
                        ticket now!</a>
                </div>
                <div>
                    <div>Individual Tickets</div>
                    <div>For community members and solo developers who are paying their own way. Only
                        available via Quicket with credit card payment.</div>
                    <div class="sponsor-content-detail-tickets-cards-price">{{ event.tickets.solo.price }}</div>
                    <a class="sponsor-button" href="{{ event.tickets.purchaseSite }}" target="_blank">Buy an individual
                        ticket now!</a>
                </div>
                <div>
                    <div>Corporate Tickets</div>
                    <div>Corporates are on the honour system to purchase this ticket and support the
                        community. You can pay with EFT or Credit Card and get an invoice from Quicket prior to EFT
                        payment.</div>
                    <div>
                        Purchase 10 or more to get 10% off!
                    </div>
                    <div class="sponsor-content-detail-tickets-cards-price">{{ event.tickets.corporate.price }}</div>
                    <a class="sponsor-button" href="{{ event.tickets.purchaseSite }}" target="_blank">Buy a corporate
                        ticket now!</a>
                </div>
                <div>
                    <div>Manual Corporate Tickets</div>
                    <div>Have a special requirement? Pro-forma invoice? Need us to register as a
                        supplier? Need special payment terms?<br />
                        <strong>No problem</strong> - we can assist with a manual ticket purchase</div>
                    <div>Purchase 10 or more to get 10% off!</div>
                    <div class="sponsor-content-detail-tickets-cards-price">{{ event.tickets.corporate.price }}</div>
                    <a class="sponsor-button"
                        href="mailto:info@devconf.co.za?subject=Manual Ticket For {{ event.location }}"
                        target="_blank">Let us help you now!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-heading">Agenda</div>
        <div class="sponsor-content-detail-content">
            Full agenda to be announced in the middle/late November
        </div>
        <div id="agenda" class="agenda" data-event-id="{{ event.sessionizeId }}">
            <div class="agenda-row-style-key">
                07h15 → <b>Registration</b> ← 08h30
            </div>
            <div class="agenda-row-style-key">
                07h30 → <b>Lean Coffee</b> ← 08h30
            </div>
            <div class="agenda-row-style-key">
                08h00 → <b>Expo is Opens</b> ← 19h00
            </div>
            <div class="agenda-row-style-highlight">
                08h30 → <b>Welcome</b> ← 08h45
            </div>
            <div class="agenda-row-style-keynote hidden-row">
                08h45 → <b>Keynote - To Be Announced</b> ← 09h30
            </div>
            <div class="agenda-row-style-loading">
                Loading...
            </div>
            <div class="agenda-row-style-break">
                09h30 → <b>Movement, Networking &amp; Snacks</b> ← 10h00
            </div>
            <div class="agenda-row-style-key">
                10h00 → <b>Timeslot 1</b> ← 10h50
            </div>
            <div class="agenda-row-timeslot hidden-row">
                <div class="agenda-session" data-slot-id="{{ include.sessions[1] }}">
                    <div class="agenda-session-room">Room 1</div>
                    <div class="agenda-session-time">10h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[2] }}">
                    <div class="agenda-session-room">Room 2</div>
                    <div class="agenda-session-time">10h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[3] }}">
                    <div class="agenda-session-room">Room 3</div>
                    <div class="agenda-session-time">10h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[4] }}">
                    <div class="agenda-session-room">Room 4</div>
                    <div class="agenda-session-time">10h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[5] }}">
                    <div class="agenda-session-room">Room 5</div>
                    <div class="agenda-session-time">10h00</div>

                </div>
            </div>
            <div class="agenda-row-style-loading">
                Loading...
            </div>
            <div class="agenda-row-style-break">
                10h50 → <b>Movement</b> ← 11h00
            </div>
            <div class="agenda-row-style-key">
                11h00 → <b>Timeslot 2</b> ← 11h50
            </div>
            <div class="agenda-row-timeslot hidden-row">
                <div class="agenda-session" data-slot-id="{{ include.sessions[6] }}">
                    <div class="agenda-session-room">Room 1</div>
                    <div class="agenda-session-time">11h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[7] }}">
                    <div class="agenda-session-room">Room 2</div>
                    <div class="agenda-session-time">11h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[8] }}">
                    <div class="agenda-session-room">Room 3</div>
                    <div class="agenda-session-time">11h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[9] }}">
                    <div class="agenda-session-room">Room 4</div>
                    <div class="agenda-session-time">11h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[10] }}">
                    <div class="agenda-session-room">Room 5</div>
                    <div class="agenda-session-time">11h00</div>

                </div>
            </div>
            <div class="agenda-row-style-loading">
                Loading...
            </div>
            <div class="agenda-row-style-break">
                11h50 → <b>Movement</b> ← 12h00
            </div>
            <div class="agenda-row-style-key">
                12h00 → <b>Timeslot 3</b> ← 12h50
            </div>
            <div class="agenda-row-timeslot hidden-row">
                <div class="agenda-session" data-slot-id="{{ include.sessions[11] }}">
                    <div class="agenda-session-room">Room 1</div>
                    <div class="agenda-session-time">12h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[12] }}">
                    <div class="agenda-session-room">Room 2</div>
                    <div class="agenda-session-time">12h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[13] }}">
                    <div class="agenda-session-room">Room 3</div>
                    <div class="agenda-session-time">12h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[14] }}">
                    <div class="agenda-session-room">Room 4</div>
                    <div class="agenda-session-time">12h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[15] }}">
                    <div class="agenda-session-room">Room 5</div>
                    <div class="agenda-session-time">12h00</div>

                </div>
            </div>
            <div class="agenda-row-style-loading">
                Loading...
            </div>
            <div class="agenda-row-style-break">
                12h50 → <b>Lunch</b> ← 13h40
            </div>
            <div class="agenda-row-style-key">
                13h40 → <b>Timeslot 4</b> ← 14h30
            </div>
            <div class="agenda-row-timeslot hidden-row">
                <div class="agenda-session" data-slot-id="{{ include.sessions[16] }}">
                    <div class="agenda-session-room">Room 1</div>
                    <div class="agenda-session-time">13h40</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[17] }}">
                    <div class="agenda-session-room">Room 2</div>
                    <div class="agenda-session-time">13h40</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[18] }}">
                    <div class="agenda-session-room">Room 3</div>
                    <div class="agenda-session-time">13h40</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[19] }}">
                    <div class="agenda-session-room">Room 4</div>
                    <div class="agenda-session-time">13h40</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[20] }}">
                    <div class="agenda-session-room">Room 5</div>
                    <div class="agenda-session-time">13h40</div>

                </div>
            </div>
            <div class="agenda-row-style-loading">
                Loading...
            </div>
            <div class="agenda-row-style-break">
                14h30 → <b>Movement</b> ← 14h40
            </div>
            <div class="agenda-row-style-key">
                14h40 → <b>Timeslot 5</b> ← 15h30
            </div>
            <div class="agenda-row-timeslot hidden-row">
                <div class="agenda-session" data-slot-id="{{ include.sessions[21] }}">
                    <div class="agenda-session-room">Room 1</div>
                    <div class="agenda-session-time">14h40</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[22] }}">
                    <div class="agenda-session-room">Room 2</div>
                    <div class="agenda-session-time">14h40</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[23] }}">
                    <div class="agenda-session-room">Room 3</div>
                    <div class="agenda-session-time">14h40</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[24] }}">
                    <div class="agenda-session-room">Room 4</div>
                    <div class="agenda-session-time">14h40</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[25] }}">
                    <div class="agenda-session-room">Room 5</div>
                    <div class="agenda-session-time">14h40</div>

                </div>
            </div>
            <div class="agenda-row-style-loading">
                Loading...
            </div>
            <div class="agenda-row-style-break">
                15h30 → <b>Movement, Networking &amp; Snacks</b> ← 16h00
            </div>
            <div class="agenda-row-style-key">
                16h00 → <b>Timeslot 6</b> ← 16h50
            </div>
            <div class="agenda-row-timeslot hidden-row">
                <div class="agenda-session" data-slot-id="{{ include.sessions[26] }}">
                    <div class="agenda-session-room">Room 1</div>
                    <div class="agenda-session-time">16h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[27] }}">
                    <div class="agenda-session-room">Room 2</div>
                    <div class="agenda-session-time">16h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[28] }}">
                    <div class="agenda-session-room">Room 3</div>
                    <div class="agenda-session-time">16h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[29] }}">
                    <div class="agenda-session-room">Room 4</div>
                    <div class="agenda-session-time">16h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[30] }}">
                    <div class="agenda-session-room">Room 5</div>
                    <div class="agenda-session-time">16h00</div>

                </div>
            </div>
            <div class="agenda-row-style-loading">
                Loading...
            </div>
            <div class="agenda-row-style-break">
                16h50 → <b>Movement</b> ← 17h00
            </div>
            <div class="agenda-row-style-key">
                17h00 → <b>Timeslot 7</b> ← 17h50
            </div>
            <div class="agenda-row-timeslot hidden-row">
                <div class="agenda-session" data-slot-id="{{ include.sessions[31] }}">
                    <div class="agenda-session-room">Room 1</div>
                    <div class="agenda-session-time">17h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[32] }}">
                    <div class="agenda-session-room">Room 2</div>
                    <div class="agenda-session-time">17h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[33] }}">
                    <div class="agenda-session-room">Room 3</div>
                    <div class="agenda-session-time">17h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[34] }}">
                    <div class="agenda-session-room">Room 4</div>
                    <div class="agenda-session-time">17h00</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[35] }}">
                    <div class="agenda-session-room">Room 5</div>
                    <div class="agenda-session-time">17h00</div>

                </div>
            </div>
            <div class="agenda-row-style-loading">
                Loading...
            </div>
            <div class="agenda-row-style-key">
                17h50 → <b>Drinks, snacks, cocktails &amp; networking</b> ← 19h00
            </div>
        </div>
    </div>

    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-heading">Sponsors</div>
        <div class="sponsor-content-detail-content-sponsor">
            {% assign sponsorsByLevel = (include.sponsors | group_by: 'Level') %}
            {% for level in sponsorsByLevel %}
            <div class="sponsor-content-detail-sponsor-level">
                <div class="sponsor-content-detail-heading-smaller">{{ level.name }}</div>
                <div class="sponsor-content-detail-sponsors">
                    {% for sponsor in level.items %}
                    <div class="sponsor-content-detail-sponsor-{{ level.name }}">
                        <a href="{{ sponsor.Url }}" target="_blank" rel="noopener noreferrer">
                            <img src="/public/images/sponsorship/2020/sponsors/{{sponsor.Logo }}"
                                alt="The logo for {{ sponsor.Name }}" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <a href="/sponsorship" target="_blank">Interested in sponsoring? Review our 2020 Sponsor Proposal now!</a>
        </div>
    </div>

    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-heading">Location</div>
        <div class="sponsor-content-detail-location">
            <div>DevConf will be held at
                <a href="{{ event.venue.website }}" target="_blank" rel="noopener noreferrer">{{ event.venue }}</a>, in
                {{ event.location }}, South Africa.</div>
            <div>
                <a href="{{ event.mapLink }}" target="_blank" rel="noopener noreferrer">View on Google
                    Maps</a>
            </div>
        </div>
    </div>

    <div class="popupBackdrop popupBackdropHidden">
        <div class="popupContent">
            <div class="popupClose">X</div>
        </div>
    </div>
</div>

<template id="tbaCardTemplate">
    <div>To be announced</div>
</template>

<template id="sessionCardTemplate">
    <div class="agenda-session-image"></div>
    <div class="agenda-session-name">Name</div>
    <div class="agenda-session-title">Title</div>
</template>

<template id="popupBioContent">
    <div class="popupBio">
        <img class="largePopupImage" />
        <div class="bio-speaker"></div>
        <div class="bio-social"></div>
        <div class="bio-tagline"></div>
        <div class="bio-speaker-bio-title">Biography</div>
        <div class="bio-speaker-bio"></div>
        <div class="bio-title"></div>
        <div class="bio-talk-description"></div>
        <div class="bio-track"></div>
    </div>
</template>