{% assign event = site.data.config.events[include.offset] %}

<div class="sponsor">
    <div class="{{ include.baseStyle }}">
        <div class="{{ include.baseStyle }}-ellipse">&nbsp;</div>
        <div class="sponsor-title-content">
            <div class="sponsor-title-content-third">[ DevConf 2024 ]</div>
            <div>{{ event.location }}</div>
            <div class="sponsor-title-content-second">
                <span> {{event.date}} </span><span class="agenda-title-spacer">|</span> 5 Tracks <span class="agenda-title-spacer">|</span><span> Over 35 Speakers </span>|</span> 3 Master Classes <span class="agenda-title-spacer">|</span> One amazing day!<span class="agenda-title-spacer"></div>
        </div>
    </div>

    <div class="sponsor-content-detail-collapse" style="display: none;">
        &nbsp;
    </div>

    {% comment %}
    <div class="sponsor-content-detail-collapse">
        {% if event.tickets.onsale %}
        <div class="sponsor-content-detail-heading">Buy your tickets</div>
        {% else %}
            <div class="sponsor-content-detail-heading">This event is sold out!</div>
        {% endif %}
        <div class="sponsor-content-detail-tickets">
            {% if event.tickets.onsale %}
            {% if event.virtual %}
            <div>Limited tickets available with something for everyone. All tickets include full day access to all
                sessions, the amazing swag, and access to the virtual network space!</div>
            {% else %}
            <div>Limited tickets available with something for everyone. All tickets include full day access to all
                sessions, the amazing swag, lunch, snacks, and access to the post-conference event!</div>
            {% endif %}
            {% else %}
            <div class="sponsor-content-detail-tickets"> We cannot wait to meet all of you soon!</div>
            {% endif %}
           
            {% if event.tickets.onsale %}
            <div class="sponsor-content-detail-tickets-cards">
                {% if event.tickets.totally_sold_out %}
                {% if event.tickets.has_shuttle %}
                <div style="grid-area: first;">
                    <div>SERVICE BUS! Want to arrive in style?</div>
                    <div>For the first time ever, we have a DevConf Shuttle to the venue! The shuttle is from Monte Casino Johannesburg to the venue and returns in the evening after the event.</div>
                
                    <a class="sponsor-button" rel="noopener" href="{{ event.tickets.merch_link }}"
                        target="_blank">Buy a bus ticket for R100</a>
                </div>
                {% endif %}
                <div style="grid-area: second;">
                    <div>DevConf {{ event.location }} is<br/>SOLD OUT</div>
                    <div>Unfortunately all tickets for the event are sold out. 
                        {% if event.tickets.has_waiting_list %}
                        You can join the waiting list below in case there are cancelled tickets or sponsor packages with tickets are not claimed.</div>
                
                    <a class="sponsor-button" rel="noopener" href="{{ event.tickets.waiting_list }}"
                        target="_blank">Join the waiting list</a>

                        {% endif %}
                    <div class="soldOutFooter">Already have a ticket and need to update the details or transfer the ticket to someone else?<br/><a rel="noopener" href="https://www.quicket.co.za/"
                    target="_blank">Login to Quicket to manage your ticket</a></div>
                </div>
                {% else %}
                <div>
                    <div>Early Bird Tickets</div>
                    <div>The best priced ticket, but <i>extremely</i> limited!</div>
                    <div class="sponsor-content-detail-tickets-cards-price">
                        R{{ event.tickets.earlybird.price }} ex. vat<br />
                        <small>R{{ event.tickets.earlybird.price | times:1.15 | floor}} incl. vat</small>
                    </div>
                    {% if event.tickets.onsale %}
                    {% if event.tickets.earlybird.sold_out %}
                    <div class="sponsor-fake-button">Sold Out!</div>
                    {% else %}
                    <a class="sponsor-button" rel="noopener noreferrer" href="{{ event.tickets.purchaseSite }}"
                        target="_blank">Buy an early bird ticket now!</a>
                    {% endif %}
                    {% endif %}
                </div>
                <div>
                    <div>Standard Tickets</div>
                    <div></div>
                    <div>
                        Purchase 10 or more to get a discount!
                    </div>
                    <div class="sponsor-content-detail-tickets-cards-price">
                        R{{ event.tickets.fullprice.price }} ex. vat<br />
                        <small>R{{ event.tickets.fullprice.price | times:1.15 | floor}} incl. vat</small>
                    </div>
                    {% if event.tickets.onsale %}
                    {% if event.tickets.fullprice.sold_out %}
                    <div class="sponsor-fake-button">Sold Out!</div>
                    {% else %}
                    <a class="sponsor-button" rel="noopener noreferrer" href="{{ event.tickets.purchaseSite }}"
                        target="_blank">Buy a ticket now!</a>
                    {% endif %}
                    {% endif %}
                </div>
                {% comment %}
                <div>
                    <div>Manual Tickets</div>
                    <div>Have a special requirement? Pro-forma invoice? Need us to register as a supplier? Need special
                        payment terms?<br />
                        <strong>No problem</strong> - we can assist with a manual ticket purchase
                    </div>
                    <div class="sponsor-content-detail-tickets-cards-price">
                        R{{ event.tickets.fullprice.price }} ex. vat<br />
                        <small>R{{ event.tickets.fullprice.price | times:1.15 | floor }} incl. vat</small>
                    </div>
                    {% if event.tickets.onsale %}
                    {% if event.tickets.fullprice.sold_out %}
                    <div class="sponsor-fake-button">Sold Out!</div>
                    {% else %}
                    <a class="sponsor-button"
                        href="mailto:info@devconf.co.za?subject=Manual Ticket For {{ event.location }}"
                        target="_blank">Let us help you now!</a>
                    {% endif %}
                    {% endif %}
                </div>
                {% endcomment %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endcomment %}

    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-heading">Agenda</div>
        {% if event.showAgenda %}
        <div id="agenda" class="agenda" data-event-id="{{ event.sessionizeId }}">
            <div class="agenda-row-style-key" style="grid-area: registration;">
                <span class="time-from-time">07h30</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Registration</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">09h00</span>
            </div>
            <div class="agenda-row-style-key" style="grid-area: expo;">
                <span class="time-from-time">08h00</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Expo Opens</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">19h00</span>
            </div>
            <div class="agenda-row-style-highlight" style="grid-area: welcome;">
                <span class="time-from-time">09h00</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Welcome</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">09h15</span>
            </div>
            <div class="agenda-row-style-keynote hidden-row" style="grid-area: keynote;">
                <div class="agenda-session-header">
                    <span class="time-from-time">09h15</span>
                    <span class="time-from-arrow">&#10095;</span>
                    <b class="time-title">Keynote</b>
                    <span class="time-to-arrow">&#10094;</span>
                    <span class="time-to-time">10h00</span>
                </div>
                <div class="agenda-session agenda-keynote-session" data-slot-id="{{ include.sessions[0].id }}"
                    data-remote="{{ include.sessions[0].remote }}"></div>
            </div>
            <div class="agenda-row-style-loading" style="grid-area: loading1;">
                Loading...
            </div>
            <div class="agenda-row-style-break" style="grid-area: break1;">
                <span class="time-from-time">10h00</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Movement, Networking &amp; Refreshments</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">10h30</span>
            </div>
            {% if event.workshops.workshop1.enabled %}
            <div class="agenda-row-style-key" style="grid-area: timeslot1;">
            {% else %}
            <div class="agenda-row-style-key" style="grid-area: timeslot1 / span 2;">
            {% endif %}
                <span class="time-from-time">10h30 </span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Timeslot 1</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">11h10</span>
            </div>
            {% if event.workshops.workshop1.enabled %}
            <div class="agenda-row-timeslot hidden-row" style="grid-area: session1;">
            {% else %}
            <div class="agenda-row-timeslot hidden-row" style="grid-area: session1 / span 2;">
            {% endif %}
                <div class="agenda-session" data-slot-id="{{ include.sessions[1].id }}"
                    data-remote="{{ include.sessions[1].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_1 }}</div>
                    <div class="agenda-session-time">10h30</div>
                    
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[2].id }}"
                    data-remote="{{ include.sessions[2].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_2 }}</div>
                    <div class="agenda-session-time">10h30</div>
                    
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[3].id }}"
                    data-remote="{{ include.sessions[3].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_3 }}</div>
                    <div class="agenda-session-time">10h30</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[4].id }}"
                    data-remote="{{ include.sessions[4].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_4 }}</div>
                    <div class="agenda-session-time">10h30</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[5].id }}"
                    data-remote="{{ include.sessions[5].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_5 }}</div>
                    <div class="agenda-session-time">10h30</div>
                </div>
            </div>
            <div class="agenda-row-style-loading" style="grid-area: loading2;">
                Loading...
            </div>
            {% if event.workshops.workshop1.enabled %}
            <div class="agenda-row-style-break" style="grid-area: movement1;">
            {% else %}
            <div class="agenda-row-style-break" style="grid-area: movement1 / span 2;">
            {% endif %}
                <span class="time-from-time">11h10</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Movement</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">11h20</span>
            </div>
            {% if event.workshops.workshop1.enabled %}
            <div class="agenda-row-style-key" style="grid-area: timeslot2;">
            {% else %}
            <div class="agenda-row-style-key" style="grid-area: timeslot2 / span 2;">
            {% endif %}
                <span class="time-from-time">11h20</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Timeslot 2</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">12h00</span>
            </div>
            {% if event.workshops.workshop1.enabled %}
            <div class="agenda-row-timeslot hidden-row" style="grid-area: session2;">
            {% else %}
            <div class="agenda-row-timeslot hidden-row" style="grid-area: session2 / span 2;">
            {% endif %}
                <div class="agenda-session" data-slot-id="{{ include.sessions[6].id }}"
                    data-remote="{{ include.sessions[6].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_1 }}</div>
                    <div class="agenda-session-time">11h20</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[7].id }}"
                    data-remote="{{ include.sessions[7].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_2 }}</div>
                    <div class="agenda-session-time">11h20</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[8].id }}"
                    data-remote="{{ include.sessions[8].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_3 }}</div>
                    <div class="agenda-session-time">11h20</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[9].id }}"
                    data-remote="{{ include.sessions[9].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_4 }}</div>
                    <div class="agenda-session-time">11h20</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[10].id }}"
                    data-remote="{{ include.sessions[10].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_5 }}</div>
                    <div class="agenda-session-time">11h20</div>
                </div>
            </div>
            <div class="agenda-row-style-loading" style="grid-area: loading3;">
                Loading...
            </div>
            <div class="agenda-row-style-break" style="grid-area: lunch;">
                <span class="time-from-time">12h00</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Lunch</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">12h50</span>
            </div>
            {% if event.workshops.workshop1.enabled %}
            <div class="agenda-row-style-key" style="grid-area: timeslot3;">
            {% else %}
            <div class="agenda-row-style-key" style="grid-area: timeslot3 / span 2;">
            {% endif %}
                <span class="time-from-time">12h50</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Timeslot 3</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">13h30</span>
            </div>
            {% if event.workshops.workshop1.enabled %}
            <div class="agenda-row-timeslot hidden-row" style="grid-area: session3;">
            {% else %}
            <div class="agenda-row-timeslot hidden-row" style="grid-area: session3 / span 2;">
            {% endif %}
                <div class="agenda-session" data-slot-id="{{ include.sessions[11].id }}"
                    data-remote="{{ include.sessions[11].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_1 }}</div>
                    <div class="agenda-session-time">12h50</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[12].id }}"
                    data-remote="{{ include.sessions[12].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_2 }}</div>
                    <div class="agenda-session-time">12h50</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[13].id }}"
                    data-remote="{{ include.sessions[13].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_3 }}</div>
                    <div class="agenda-session-time">12h50</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[14].id }}"
                    data-remote="{{ include.sessions[14].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_4 }}</div>
                    <div class="agenda-session-time">12h50</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[15].id }}"
                    data-remote="{{ include.sessions[15].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_5 }}</div>
                    <div class="agenda-session-time">12h50</div>
                </div>
            </div>
            <div class="agenda-row-style-loading" style="grid-area: loading4;">
                Loading...
            </div>
            <div class="agenda-row-style-break" style="grid-area: movement2 / span 2;">
                <span class="time-from-time">13h30</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Movement</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">13h40</span>
            </div>
            <div class="agenda-row-style-key" style="grid-area: timeslot4 / span 2;">
                <span class="time-from-time">13h40</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Timeslot 4</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">14h20</span>
            </div>
            <div class="agenda-row-timeslot hidden-row" style="grid-area: session4 / span 2;">
                <div class="agenda-session" data-slot-id="{{ include.sessions[16].id }}"
                    data-remote="{{ include.sessions[16].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_1 }}</div>
                    <div class="agenda-session-time">13h40</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[17].id }}"
                    data-remote="{{ include.sessions[17].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_2 }}</div>
                    <div class="agenda-session-time">13h40</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[18].id }}"
                    data-remote="{{ include.sessions[18].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_3 }}</div>
                    <div class="agenda-session-time">13h40</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[19].id }}"
                    data-remote="{{ include.sessions[19].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_4 }}</div>
                    <div class="agenda-session-time">13h40</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[20].id }}"
                    data-remote="{{ include.sessions[20].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_5 }}</div>
                    <div class="agenda-session-time">13h40</div>
                </div>
            </div>
            <div class="agenda-row-style-loading" style="grid-area: loading5;">
                Loading...
            </div>
            <div class="agenda-row-style-break" style="grid-area: movement3;">
                <span class="time-from-time">14h20</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Movement</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">14h30</span>
            </div>
            <div class="agenda-row-style-key" style="grid-area: timeslot5;">
                <span class="time-from-time">14h30</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Timeslot 5</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">15h10</span>
            </div>
            <div class="agenda-row-timeslot hidden-row" style="grid-area: session5;">
                <div class="agenda-session" data-slot-id="{{ include.sessions[21].id }}"
                    data-remote="{{ include.sessions[21].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_1 }}</div>
                    <div class="agenda-session-time">14h30</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[22].id }}"
                    data-remote="{{ include.sessions[22].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_2 }}</div>
                    <div class="agenda-session-time">14h30</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[23].id }}"
                    data-remote="{{ include.sessions[23].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_3 }}</div>
                    <div class="agenda-session-time">14h30</div>

                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[24].id }}"
                    data-remote="{{ include.sessions[24].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_4 }}</div>
                    <div class="agenda-session-time">14h30</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[25].id }}"
                    data-remote="{{ include.sessions[25].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_5 }}</div>
                    <div class="agenda-session-time">14h30</div>
                </div>
            </div>
            <div class="agenda-row-style-loading" style="grid-area: loading6;">
                Loading...
            </div>
            <div class="agenda-row-style-break" style="grid-area: break2 / span 2">
                <span class="time-from-time">15h10</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Movement, Networking &amp; Refreshments</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">15h40</span>
            </div>
            <div class="agenda-row-style-key" style="grid-area: timeslot6;">
                <span class="time-from-time">15h40</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Timeslot 6</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">16h20</span>
            </div>
            <div class="agenda-row-timeslot hidden-row" style="grid-area: session6;">
                <div class="agenda-session" data-slot-id="{{ include.sessions[26].id }}"
                    data-remote="{{ include.sessions[26].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_1 }}</div>
                    <div class="agenda-session-time">15h40</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[27].id }}"
                    data-remote="{{ include.sessions[27].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_2 }}</div>
                    <div class="agenda-session-time">15h40</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[28].id }}"
                    data-remote="{{ include.sessions[28].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_3 }}</div>
                    <div class="agenda-session-time">15h40</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[29].id }}"
                    data-remote="{{ include.sessions[29].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_4 }}</div>
                    <div class="agenda-session-time">15h40</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[30].id }}"
                    data-remote="{{ include.sessions[30].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_5 }}</div>
                    <div class="agenda-session-time">15h40</div>
                </div>
            </div>
            <div class="agenda-row-style-loading" style="grid-area: loading7;">
                Loading...
            </div>
            <div class="agenda-row-style-break" style="grid-area: movement4;">
                <span class="time-from-time">16h20</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Movement</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">16h30</span>
            </div>
            <div class="agenda-row-style-key" style="grid-area: timeslot7;">
                <span class="time-from-time">16h30</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Timeslot 7</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">17h10</span>
            </div>
            <div class="agenda-row-timeslot hidden-row" style="grid-area: session7;">
                <div class="agenda-session" data-slot-id="{{ include.sessions[31].id }}"
                    data-remote="{{ include.sessions[31].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_1 }}</div>
                    <div class="agenda-session-time">16h30</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[32].id }}"
                    data-remote="{{ include.sessions[32].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_2 }}</div>
                    <div class="agenda-session-time">16h30</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[33].id }}"
                    data-remote="{{ include.sessions[33].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_3 }}</div>
                    <div class="agenda-session-time">16h30</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[34].id }}"
                    data-remote="{{ include.sessions[34].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_4 }}</div>
                    <div class="agenda-session-time">16h30</div>
                </div>
                <div class="agenda-session" data-slot-id="{{ include.sessions[35].id }}"
                    data-remote="{{ include.sessions[35].remote }}">
                    <div class="agenda-session-room">{{ event.rooms.room_5 }}</div>
                    <div class="agenda-session-time">16h30</div>
                </div>
            </div>
            <div class="agenda-row-style-key" style="grid-area: cocktail;">
                <span class="time-from-time">17h10</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Drinks &amp; networking</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">19h00</span>
            </div>

            <div class="sponsor-content-detail-heading agenda-workshop-title" style="grid-area: workshoptitle;">
                Masterclasses</div>

            {% if event.workshops.workshop1.enabled %}
            <div class="agenda-row-style-key" style="grid-area: workshoptime1;">
                <span class="time-from-time">10h30</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Workshop</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">12h10</span>
            </div>
            <div class="agenda-workshop" style="grid-area: workshop10;">
                <h3>{{ event.workshops.workshop1.title }}</h3>
                {% if event.workshops.workshop1.announceSponsor %}
                <div class="agenda-workshop-sponsor">Sponsored by<br /><a
                        href="{{ event.workshops.workshop1.sponsorLink }}" target="_blank" rel="noopener noreferrer">{{
                        event.workshops.workshop1.sponsor }}</a></div>
                {% endif %}

                <div class="agenda-workshop-time">{{ event.workshops.workshop1.room }}</div>

                <div class="agenda-workshop-content">{{ event.workshops.workshop1.content1 }}</div>
            </div>

            <div class="agenda-row-style-key" style="grid-area: workshoptime2;">
                <span class="time-from-time">12h30</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Workshop</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">13h30</span>
            </div>
            <div class="agenda-workshop" style="grid-area: workshop11;">
                <h3>{{ event.workshops.workshop1.title }}</h3>
                {% if event.workshops.workshop1.announceSponsor %}
                <div class="agenda-workshop-sponsor">Sponsored by<br /><a
                        href="{{ event.workshops.workshop1.sponsorLink }}" target="_blank" rel="noopener noreferrer">{{
                        event.workshops.workshop1.sponsor }}</a></div>
                {% endif %}

                <div class="agenda-workshop-time">{{ event.workshops.workshop1.room }}</div>

                <div class="agenda-workshop-content">{{ event.workshops.workshop1.content2 }}</div>
            </div>
            {% endif %}

            {% if event.workshops.workshop2.enabled %}
            <div class="agenda-row-style-key" style="grid-area: workshoptime3;">
                <span class="time-from-time">14h30</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Workshop</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">15h10</span>
            </div>
            <div class="agenda-workshop" style="grid-area: workshop20;">
                <h3>{{ event.workshops.workshop2.title }}</h3>
                {% if event.workshops.workshop2.announceSponsor %}
                <div class="agenda-workshop-sponsor">Sponsored by<br /><a
                        href="{{ event.workshops.workshop2.sponsorLink }}" target="_blank" rel="noopener noreferrer">{{
                        event.workshops.workshop2.sponsor }}</a></div>
                {% endif %}

                <div class="agenda-workshop-time">{{ event.workshops.workshop2.room }}</div>

                <div class="agenda-workshop-content">{{ event.workshops.workshop2.content1 }}</div>
            </div>

            <div class="agenda-row-style-key" style="grid-area: workshoptime4;">
                <span class="time-from-time">15h30</span>
                <span class="time-from-arrow">&#10095;</span>
                <b class="time-title">Workshop</b>
                <span class="time-to-arrow">&#10094;</span>
                <span class="time-to-time">17h20</span>
            </div>
            <div class="agenda-workshop" style="grid-area: workshop21;">
                <h3>{{ event.workshops.workshop2.title }}</h3>
                {% if event.workshops.workshop2.announceSponsor %}
                <div class="agenda-workshop-sponsor">Sponsored by<br /><a
                        href="{{ event.workshops.workshop2.sponsorLink }}" target="_blank" rel="noopener noreferrer">{{
                        event.workshops.workshop2.sponsor }}</a></div>
                {% endif %}

                <div class="agenda-workshop-time">{{ event.workshops.workshop2.room }}</div>

                <div class="agenda-workshop-content">{{ event.workshops.workshop2.content2 }}</div>
            </div>
            {% endif %}
        </div>
        {% else %}
        <div>Our amazing agenda will be announced at the end of February 2024!</div>

        <div>Get a feel for the content by enjoying sessions from previous years on our YouTube channel.</div>
        <a class="button-blue nudgeDown" href="https://youtube.com/c/devconfza" target="_blank">Visit Our YouTube
            Channel</a>
        {% endif %}
    </div>

    <div class="sponsor-content-detail">
        {% if event.sponsorOpen %}
        <div class="sponsor-content-detail-heading">Sponsors</div>
        <div class="sponsor-content-detail-content-sponsor">
            {% assign sponsorsByLevel = (include.sponsors | group_by: 'Level') %}
            {% for level in sponsorsByLevel %}
            <div class="sponsor-content-detail-sponsor-level">
                <div class="sponsor-content-detail-heading-smaller">{{ level.name }}</div>
                <div class="sponsor-content-detail-sponsors">
                    {% for sponsor in level.items %}
                    <div
                        class="sponsor-content-detail-content-sponsor-card sponsor-content-detail-sponsor-{{ level.name }}">
                        <a href="{{ sponsor.Url }}" target="_blank" rel="noopener noreferrer">
                            <img alt="The logo for {{ sponsor.Name }}"
                                src="/public/images/sponsorship/2024/{{sponsor.Logo }}" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <!-- <div>Sponsorship is now available with exclusive options and amazing opportunties to share your brand.</div> -->
            <!-- <div>&nbsp;</div> -->
            {% comment %}
            <div class="sponsor-content-detail-email" role="button">
                <a class="button" href="/sponsorship" target="_blank">Interested in sponsoring? Review our Sponsor
                    Proposal now!</a>
            </div>
            {% endcomment %}
        </div>
        {% else %}
        <div class="sponsor-content-detail-heading">Sponsorship opening 1st November 2023</div>
        {% endif %}
    </div>

    {% if event.virtual %}
    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-heading">Join DevConf Online!</div>
        <div class="sponsor-content-detail-location">
            <div>DevConf Virtual will be streamed online, with a dedicated chat functionality for networking, special
                online only content from sponsors and REAL WORLD SWAG delivered to your door!</div>
        </div>
    </div>
    {% else %}
    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-heading">Location</div>
        <div class="sponsor-content-detail-location">
            <div>DevConf will be held at
                <a href="{{ event.website }}" target="_blank" rel="noopener noreferrer">{{ event.venue }}</a>, in
                {{ event.location }}, South Africa.
            </div>
            <div class="googleMapEmbed" frameborder="0" id="map" referrerpolicy="unsafe-url" style="border:0"></div>
            <a href="{{ event.mapLink }}" target="_blank" rel="noopener noreferrer">View on Google Maps</a>
        </div>
    </div>
    {% endif %}

    <div class="popupBackdrop popupBackdropHidden">
        <div class="popupContent" onclick="event.stopPropagation()">
            <div class="popupClose">X</div>
        </div>
    </div>
</div>

<template id="tbaCardTemplate">
    <div class="agenda-session-tba">To be announced</div>
</template>

<template id="noSessionCardTemplate">
    <div class="agenda-session-tba">No Session 😥</div>
</template>

<template id="sessionCardTemplate">
    <div class="agenda-session-image"></div>
    <div class="agenda-session-name">Name</div>
    <div class="agenda-session-title">Title</div>
    <div class="agenda-session-remote">This will be a remote presentation</div>
    <div class="agenda-session-underline">&nbsp;</div>
</template>

<template id="popupBioContent">
    <div class="popupBio">
        <div class="popupBioLeft">
            <img class="largePopupImage" />
            <div class="bio-speaker"></div>
            <div class="bio-social"></div>
            <div class="bio-tagline"></div>
            <div class="bio-speaker-bio-title">Biography</div>
            <div class="bio-speaker-bio"></div>
        </div>
        <div class="popupBioRight">
            <div class="bio-title"></div>
            <div class="bio-talk-description"></div>
        </div>
    </div>
</template>

<script>
    function initMap() {
        const venue = {
            lat: {{ event.lat }},
            lng: {{ event.long }}
        };

    const map = new google.maps.Map(
        document.getElementById('map'), {
        zoom: 16,
        center: venue,
    });

    const marker = new google.maps.Marker({
        position: venue,
        map: map,
    });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBst3wwICkBsSju8yT7S2fC60vqjKAfe3g&callback=initMap"></script>