{% assign event = site.data.config.events[include.offset] %}
<div class="content">
    <h1 class="highlight">DevConf {{ event.location }}</h1>
    <div class="subSectionTitle">{{event.date}} | 5 Tracks | Over 40 Speakers</div>
    <!-- {% if site.data.config.tickets.cpt_sell %}
    <a class="button" target="_blank" rel="noopener noreferrer" href="{{ site.data.config.tickets.cpt }}">Buy
        tickets</a>
    {% else %}
    <a class="button" target="_blank" rel="noopener noreferrer" href="{{ site.data.config.tickets.cpt_wait }}">Waiting
        List</a>
    <a class="smalllink" target="_blank" rel="noopener noreferrer" href="{{ site.data.config.tickets.cpt_wait }}">Have a
        ticket already and need to update details OR have a access code?</a>
    {% endif %} -->
    <div class="sectionTitle">Agenda</div>
    <div id="agenda" class="agenda" data-event-id="{{ event.sessionizeId }}"
        data-event-date="{{ event.sessionizeDate}}"></div>
    <!-- <div class="seperator">&nbsp;</div>
    <div class="sectionTitle">Sponsors</div>
    {% assign sponsorsByLevel = (site.data.2020.cptsponsors | sort: 'level' | group_by: 'level') %}

    {% for level in sponsorsByLevel %}
    <div class="sponsorLevel">
        {% assign levelInfo = site.data.config.sponsorLevels | where:"level", level.name | first %}
        <div class="subSectionTitle">{{ levelInfo.title }}</div>
        <div class="sponsors">
            {% for sponsor in level.items %}
            <a class="smallerCard" href="{{ sponsor.link }}"
                style="background-image: url('/public/images/sponsors/{{ sponsor.logo }}');" target="_blank"
                rel="noopener noreferrer">
                <div class="title">{{ sponsor.sponsor }}</div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %} -->
    <div class="seperator">&nbsp;</div>
    <div class="sectionTitle">Location</div>
    <div class="map">
        <div class="overlaytext">
            <p>DevConf will be held at
                <a href="{{ event.venue.website }}" target="_blank"
                    rel="noopener noreferrer">{{ event.venue }}</a>, in
                {{ event.location }}, South Africa.</p>
            <p>
                <a href="{{ event.mapLink }}" target="_blank" rel="noopener noreferrer">View on Google
                    Maps</a>
            </p>
        </div> 
    </div>
</div>
<template id="sessionTemplate">
    <a class="modal">
        <div class="session">
            <div class="talkLabel">
                <div class="talkLabelText">
                    <span class="talkTitle"></span><br />
                    presented by<br />
                    <span class="talkSpeaker"></span>
                </div>
            </div>
            <div class="talkImages"></div>
        </div>
    </a>
</template>
<template id="breakTeamplate">
    <div class="break">

    </div>
</template>
<template id="roomCardTemplate">
    <div class="room">

    </div>
</template>
<template id="timeslotCardTemplate">
    <div class="timeslot">

    </div>
</template>
<template id="tbaCardTemplate">
    <div class="tbaCard">
        Session To Be Announced
    </div>
</template>
<template id="sessionDetail">
    <aside class="popupContainer">
        <span class="talkTitle"></span>
    </aside>
</template>