{% assign event = site.data.config.events[include.offset] %}

<div class="sponsor">
    <div class="{{ include.baseStyle }}">
        <div class="{{ include.baseStyle }}-ellipse">&nbsp;</div>
        <div class="sponsor-title-content">
            <div class="sponsor-title-content-third">[ DevConf 2020 ]</div>
            <div>{{ event.location }}</div>
            <div class="sponsor-title-content-second">{{event.date}} | 5 Tracks | Over 40 Speakers</div>
        </div>
    </div>

    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-heading">Buy your tickets</div>
        <div class="sponsor-content-detail-tickets">
            <div>Limited tickets available with something for everyone. All tickets include full day access to all
                sessions, the amazing welcome gifts, lunch, snacks, and access to the post-conference event!</div>
            <div class="sponsor-content-detail-tickets-cards">
                <div>
                    <div>Early bird tickets</div>
                    <div>The best price ticket but highly limited!</div>
                    <a class="sponsor-button" href="/packages" target="_blank">Buy an early bird ticket now!</a>
                </div>
                <div>
                    <div>Individual Tickets</div>
                    <div>For community members and solo developers who are paying their own way. Only
                        available via Quicket with credit card payment.</div>
                    <a class="sponsor-button" href="/packages" target="_blank">Buy an individual ticket now!</a>
                </div>
                <div>
                    <div>Corporate Tickets</div>
                    <div>Corporates are on the honour system to purchase this ticket and support the
                        community. You can pay with EFT or Credit Card and get an invoice from Quicket prior to EFT
                        payment.</div>
                    <div>
                        Purchase 10 or more to get 10% off!
                    </div>
                    <a class="sponsor-button" href="/packages" target="_blank">Buy a corporate ticket now!</a>
                </div>
                <div>
                    <div>Manual Corporate Tickets</div>
                    <div>Have a special requirement? Pro-forma invoice? Need us to register as a
                        supplier? Need special payment terms?<br />
                        <strong>No problem</strong> - we can assist with a manual ticket purchase</div>
                    <div>Purchase 10 or more to get 10% off!</div>
                    <a class="sponsor-button"
                        href="mailto:info@devconf.co.za?subject=Manual Ticket For {{ event.location }}"
                        target="_blank">Let us help you now!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-heading">Agenda</div>
        <div class="sponsor-content-detail-content">
            Full agenda to be announced in November
        </div>
        <div id="agenda" class="agenda" data-event-id="{{ event.sessionizeId }}"
            data-event-date="{{ event.sessionizeDate}}"></div>
    </div>

    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-heading">Sponsors</div>
        <div class="sponsor-content-detail-content">
            <a href="/sponsorship" target="_blank">Interested in sponsoring? Review our 2020 Sponsor Proposal now!</a>
        </div>
    </div>

    <div class="sponsor-content-detail">
        <div class="sponsor-content-detail-heading">Location</div>
        <div class="sponsor-content-detail-location">
            <div>DevConf will be held at
                <a href="{{ event.venue.website }}" target="_blank" rel="noopener noreferrer">{{ event.venue }}</a>, in
                {{ event.location }}, South Africa.</div>
            <div>
                <a href="{{ event.mapLink }}" target="_blank" rel="noopener noreferrer">View on Google
                    Maps</a>
            </div>
        </div>
    </div>
</div>

<template id="sessionTemplate">
    <a class="modal">
        <div class="agenda-session">
            <div class="agenda-session-talk">
                <div class="agenda-session-talk-content">
                    <span class="agenda-session-talk-content-title"></span><br />
                    presented by<br />
                    <span class="agenda-session-talk-content-speaker"></span>
                </div>
            </div>
            <!-- <div class="talkImages"></div> -->
        </div>
    </a>
</template>
<template id="breakTeamplate">
    <div class="agenda-break">

    </div>
</template>
<template id="roomCardTemplate">
    <div class="agenda-room">

    </div>
</template>
<template id="timeslotCardTemplate">
    <div class="agenda-timeslot">

    </div>
</template>
<template id="tbaCardTemplate">
    <div class="agenda-tbaCard">
        Session To Be Announced
    </div>
</template>