<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://www.devconf.co.za/images/hl3confirmed.jpg" type="image/x-icon" />
    <title>DevConf ZA</title>

    <meta name="keywords" content="business, conference website, convene, event website, exhibition, keynote, meeting, schedule, seminar, speakers, venue, workshop"/>
    <meta name="description" content="DevConf is a conference South Africa for professional software developers focusing on the enterprise development scenarios."/>

    <!-- Open Graph (Facebook) -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DevConf ZA" />
    <meta property="og:description" content="DevConf is a conference South Africa for professional software developers focusing on the enterprise development scenarios."/>
    <meta property="og:url" content="http://devconf.co.za" />
    <meta property="og:site_name" content="DevConf ZA" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="DevConf is a conference South Africa for professional software developers focusing on the enterprise development scenarios."/>
    <meta name="twitter:title" content="DevConf ZA" />
    <meta name="twitter:image" content="http://www.devconf.co.za/images/hl3confirmed.jpg" />
    <meta name="twitter:site" content="devconfza" />

    <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'></script>
    <script type='text/javascript' src='/public/scripts/bootstrap.min.js'></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' id='thm-style-css' href='/public/css/style.css' type='text/css' media='all' />
    
    <!-- FAV and App icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>
