<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/public/images/logoDevSml.png" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="https://soundcloud.com/zadevchat/episode-23-devconf-with-rob-maclean" target="_blank"><img src="public/images/ZADevChat-Header.png" /></a>
                    </li>
                    <li class="active">
                        <a class='page-scroll' data-toggle="collapse" data-target=".in" href="/#purpose">About</a>
                    </li>
                    <li class="active">
                        <a class='page-scroll' data-toggle="collapse" data-target=".in"  href="/#register">Register</a>
                    </li>
                    <li class="active">
                        <a class='page-scroll' data-toggle="collapse" data-target=".in"  href="/#tracks">Tracks</a>
                    </li>
                    <li class="active">
                        <a class='page-scroll' data-toggle="collapse" data-target=".in"  href="/#sponsors">Sponsors</a>
                    </li>
					<li class="active"> 
                        <a class='page-scroll' data-toggle="collapse" data-target=".in"  href="/#speakers">Speakers</a>
                    </li>
                    <li class="active">
                        <a class='page-scroll' data-toggle="collapse" data-target=".in"  href="/#contactus">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
