<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <title>DevConf ZA</title>

    <meta name="description" content="business, conference website, convene, event website, exhibition, keynote, meeting, schedule, seminar, speakers, venue, workshop"/>

    <!-- Open Graph (Facebook) -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DevConf ZA" />
    <meta property="og:description" content="business, conference website, convene, event website, exhibition, keynote, meeting, schedule, seminar, speakers, venue, workshop"
    />
    <meta property="og:url" content="http://devconf.co.za" />
    <meta property="og:site_name" content="DevConf ZA" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="business, conference website, convene, event website, exhibition, keynote, meeting, schedule, seminar, speakers, venue, workshop"
    />
    <meta name="twitter:title" content="DevConf ZA" />
    <meta name="twitter:domain" content="DevConf ZA" />

    <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'></script>
    <script type='text/javascript' src='/public/scripts/bootstrap.min.js'></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' id='thm-style-css' href='/public/css/style.css' type='text/css'
    media='all' />
</head>
