<section id="community" class="section-light">
	<div class="container">
		<div class="row double-top-buffer">
			<div class="col-md-12">
				<h1>Software Communities</h1>
				<p>
                    DevConf is organized by a local community of software professionals passionate about creating great software.<br/>
                    While DevConf happens once a year, these communities meet at regular intervals throughout the year.
                </p>
			</div>
		</div>
		<div class="row double-top-buffer double-bottom-buffer">
			<div class="col-md-2 col-md-offset-2 text-center">
				<p><a href='http://www.DeveloperUG.org.za' target='_blank'>DeveloperUG</a> or <a href='https://twitter.com/search?q=%23devconf' target='_blank'>#devconf</a></p>
			</div>
			<div class="col-md-2 col-md-offset-1 text-center">
				<p><a href='http://www.meetup.com/Jozi-JUG/' target='_blank'>Jozi-Jug</a> or <a href='https://twitter.com/search?q=%23devconf' target='_blank'>#devconf</a></p>
			</div>
			<div class="col-md-2 col-md-offset-1 text-center">
				<p><a href='http://www.meetup.com/Continuous-Delivery-and-Devops/' target='_blank'>Continous Delivery and DevOps JHB</a> or <a href='https://twitter.com/search?q=%23devconf' target='_blank'>#devconf</a></p>
			</div>
		</div>
	</div>
</section>
