<section id="sponsors" class="section-light">
	<div class="container">
		<div class="">
			<div class="row double-top-buffer">
				<div class="col-md-12">
					<h1>Our Sponsors</h1>
					<p>Great conferences like this one would not be possible without great companies passionate about supporting the local
						software development community.</p>
					<p>We would like to thank the following companies for helping make DevConf possible.</p>
					<div class="register">
						<div class="container">
							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#sponsorsJhb">Johannesburg</a>
								</li>
								<li>
									<a data-toggle="tab" href="#sponsorsCpt">Cape Town</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="tab-content">
						<div id="sponsorsJhb" class="tab-pane in active">
							<div class="sponsor-type platinum">
								<h2>Cocktail Function Sponsor</h2>
								<a href="http://www.bbd.co.za" target="_blank">
									<img alt="BBD" src="/public/images/sponsors/bbd.png" />
								</a>
							</div>
							<div class="sponsor-type platinum">
								<h2>Platinum Sponsors</h2>
								<a href="http://www.dvt.co.za" target="_blank">
									<img alt="DVT" src="/public/images/sponsors/dvt.png" />
								</a>
								<a href="http://www.eoh.co.za" target="_blank">
									<img alt="EOH" src="/public/images/sponsors/eoh.png" />
								</a>
								<a href="https://www.microsoft.com/en-za" target="_blank">
									<img alt="Microsoft" src="/public/images/sponsors/Microsoft.png" />
								</a>
							</div>
							<div class="sponsor-type gold">
								<h2>Gold Sponsors</h2>
								<a href="http://www.chillisoft.co.za" target="_blank">
									<img alt="Chillisoft" src="/public/images/sponsors/chillisoft.jpg" />
								</a>
								<a href="http://www.derivco.com/" target="_blank">
									<img alt="Derivco" src="/public/images/sponsors/derivco.png" />
								</a>
							</div>
							<div class="sponsor-type silver">
								<h2>Silver Sponsors</h2>
								<a href="https://www.offerzen.com/" target="_blank">
									<img alt="OfferZen" src="/public/images/sponsors/offerzen.png" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Bronze Sponsors</h2>
								<a href="https://www.allangray.co.za" target="_blank">
									<img alt="AllanGray" src="/public/images/sponsors/AllanGray.jpg" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Video Sponsor</h2>
								<a href="http://obsidian.co.za/" target="_blank">
									<img alt="Obsidian" src="/public/images/sponsors/obsidian_bron.png" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Specialised Coffee Sponsor</h2>
								<a href="http://www.dvt.co.za" target="_blank">
									<img alt="DVT" src="/public/images/sponsors/dvt-coffee.png" />
								</a>
							</div>
						</div>
						<div id="sponsorsCpt" class="tab-pane">
							<div class="sponsor-type platinum">
								<h2>Cocktail Function Sponsor</h2>
								<a href="http://www.bbd.co.za" target="_blank">
									<img alt="BBD" src="/public/images/sponsors/bbd.png" />
								</a>
							</div>
							<div class="sponsor-type platinum">
								<h2>Platinum Sponsors</h2>
								<a href="http://www.dvt.co.za" target="_blank">
									<img alt="DVT" src="/public/images/sponsors/dvt.png" />
								</a>
								<a href="http://obsidian.co.za/" target="_blank">
									<img alt="Obsidian" src="/public/images/sponsors/obsidian_plat.png" />
								</a>
								<a href="https://www.microsoft.com/en-za" target="_blank">
									<img alt="Microsoft" src="/public/images/sponsors/Microsoft.png" />
								</a>
							</div>
							<div class="sponsor-type gold">
								<h2>Gold Sponsors</h2>
								<a href="https://www.allangray.co.za" target="_blank">
									<img alt="AllanGray" src="/public/images/sponsors/AllanGray.jpg" />
								</a>
							</div>
							<div class="sponsor-type silver">
								<h2>Silver Sponsors</h2>
								<a href="https://www.offerzen.com/" target="_blank">
									<img alt="OfferZen" src="/public/images/sponsors/offerzen.png" />
								</a>
							</div>
						</div>
					</div>

					<!-- <div class="sponsor-type gold">
						<h2>Gold Sponsors</h2>
                        <a href="http://www.absa.co.za" target="_blank"><img alt="ABSA" src="/public/images/sponsors/absa.jpg" /></a>
					</div> 
					<div class="sponsor-type silver">
						<h2>Silver Sponsors</h2>
						<a href="https://aws.amazon.com/" target="_blank"><img alt="AWS" src="/public/images/sponsors/aws.png" /></a>
						<a href="https://www.atlassian.com" target="_blank"><img alt="Atlassian" src="/public/images/sponsors/atlassian.png" /></a>
						<a href="http://developers.google.com" target="_blank"><img alt="Google" src="/public/images/sponsors/google.png" /></a>
					</div>
					<div class="sponsor-type bronze">
						<h2>Bronze Sponsors</h2>
						<a href="http://www.britehouse.co.za/" target="_blank"><img alt="Britehouse" src="/public/images/sponsors/britehouse.png"/></a>				
                        <a href="http://www.chillisoft.co.za" target="_blank"><img alt="Chillisoft" src="/public/images/sponsors/chillisoft.jpg" /></a>						
						<a href="http://iqbusiness.hashtagtalent.com/" target="_blank"><img alt="IQ business" src="/public/images/sponsors/iqbusiness.png" /></a>						
						<a href="http://www.microfocus.com" target="_blank"><img alt="Micro Focus" src="/public/images/sponsors/mf.png" /></a>
						<a href="https://www.suse.com/" target="_blank"><img alt="SUSE" src="/public/images/sponsors/suse.png" /></a>
					</div>
					<div class="sponsor-type bronze">
						<h2>Specialised Coffee Sponsor</h2>
                        <a href="http://drivenalliance.com/" target="_blank"><img alt="Driven Software" src="/public/images/sponsors/driven.jpg" /></a>
					</div>
					<div class="sponsor-type bronze">
						<h2>Speakers Dinner Sponsor</h2>
                        <a href="http://www.entelect.co.za" target="_blank"><img alt="Entelect" src="/public/images/sponsors/entelect.jpg" /></a>
					</div>
					<div class="sponsor-type bronze">
						<h2>Media Partners</h2>
                        <a href="http://www.htxt.co.za/" target="_blank"><img alt="htxt" src="/public/images/sponsors/htxt.png" /></a>
						<a href="http://www.itweb.co.za" target="_blank"><img alt="ITWeb" src="/public/images/sponsors/itweb.png" /></a>					
					</div> -->
					<div>
						<p>Would you like your organization associated with DevConf? DevConf offers a variety of sponsorship opportunites to be
							able to connect with the best software developers in South Africa.</p>
						<p>Please download our
							<a href="/public/docs/DevConf 2018 Sponsorship Proposal.pdf" target="_blank">2018 Sponsor Proposal</a> for information.</p>
						<!-- <p>If you have any questions or would like more information, please <a href="#contactus" target="_blank">contact us</a> - we will be announcing sponsor packages soon.</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>