<div class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://www.htxt.co.za/2018/02/16/additional-tickets-for-devconf-2018-johannesburg-are-available-now/" target="_blank">
					<p>htxt.africa - Additional tickets for Devconf 2018 Johannesburg are available now</p>
					<i class="media media-htxt"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://africabusiness.com/event/devconf-2018/" target="_blank">
					<p>AfricaBusiness.com - DevConf 2018</p>
					<i class="media media-africabusiness"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.wcbn.co.za/events/event/2192/" target="_blank">
					<p>Western Cape Business News - DevConf 2018</p>
					<img src="/public/images/media/wcbn_main_logo.gif" />
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://it-online.co.za/2018/02/06/sterling-speaker-lineup-for-devconf/" target="_blank">
					<p>IT Online - Sterling speaker lineup for DevConf</p>
					<i class="media media-itologo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://www.insurancegateway.co.za/ShorttermProfessionals/Events/EventDetails/Irn=663&URL=DevConf+2018+Johannesburg++27+March+2018#.WnvxjZNubvE"
				    target="_blank">
					<p>Insurance Gateway - DevConf 2018: Johannesburg - 27 March 2018</p>
					<i class="media media-insurancegateway"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://it-online.co.za/2018/01/24/where-the-whole-is-less-than-the-sum-of-its-code-parts/" target="_blank">
					<p>IT Online - Where the whole is less than the sum of its (code) parts:</p>
					<i class="media media-itologo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://www.digitalstreetsa.com/whole-less-sum-code-parts-software-engineers-turn-product-developer-david-hussman/"
				    target="_blank">
					<p>Digital Street - SOFTWARE ENGINEERS SHOULD TURN PRODUCT DEVELOPER: DAVID HUSSMAN!</p>
					<i class="media media-digitalstreet"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://africabusiness.com/2018/01/24/software-engineers/" target="_blank">
					<p>AfricaBusiness.com - Software Engineers:</p>
					<i class="media media-africabusiness"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://it-online.co.za/2017/09/21/devconf-back-for-round-three/" target="_blank">
					<p>IT Online - DevConf back for round three:</p>
					<i class="media media-itologo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.bizcommunity.com/Article/196/743/167464.html" target="_blank">
					<p>BizCommunity - DevConf 2018 to include Cape Town:</p>
					<i class="media media-biz-logo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://www.digitalstreetsa.com/devconf-back-round-three-time-cape-town/" target="_blank">
					<p>Digital Street - DevConf back for round three, and this time it’s in Cape Town too!</p>
					<i class="media media-digitalstreet"></i>
				</a>
			</div>
		</div>
	</div>
</div>