<div id="media" class="section-light">
	<div class="container">
		<div class="row">
            <h2>About DevConf 2017</h2>	
			<div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="http://www.itweb.co.za/index.php?option=com_content&view=article&id=159623" target="_blank">
				<p>ITWeb- DevConf 2017 tackles hot software development topics:</p>
				<img src="public/images/media/itweb.png" /></a>
			</div> 
			<div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="http://www.htxt.co.za/2017/02/27/learn-how-ai-becomes-racist-at-this-years-devconf/?utm_source=rss&utm_medium=rss" target="_blank">
				<p>htxt.africa - Learn how AI becomes racist at this year’s DevConf:</p>
				<img src="public/images/media/htxt.png" /></a>
			</div>  	
			<div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="http://it-online.co.za/2017/02/23/sponsors-promise-epic-swag-at-devconf2017/" target="_blank">
				<p>IT Online - Sponsors promise ‘epic swag’ at DevConf2017:</p>
				<img src="public/images/media/itologo.jpg" /></a>
			</div>  
			<div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="https://companies.mybroadband.co.za/dvt/2017/02/21/dvt-spotlights-agility-in-software-development-googles-android-things-at-devconf-2017/" target="_blank">
				<p>MyBroadband - DVT spotlights Agility in software development...:</p>
				<img src="public/images/media/mybroadband.png" /></a>
			</div>  		
			<div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="http://it-online.co.za/2017/02/10/from-mob-programming-to-blockchain/" target="_blank">
				<p>IT Online - From mob programming to blockchain:</p>
				<img src="public/images/media/itologo.jpg" /></a>
			</div>   
			<div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="https://mybroadband.co.za/news/software/197817-devconf-2017-coming-to-gauteng.html" target="_blank">
				<p>MyBroadband - DevConf 2017 coming to Gauteng:</p>
				<img src="public/images/media/mybroadband.png" /></a>
			</div>  
			<div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="http://www.bizcommunity.com/Article/196/743/157380.html" target="_blank">
				<p>BizCommunity - DevConf 2017 to present hottest topics to SA developers:</p>
				<img src="public/images/media/biz-logo.png" /></a>
			</div>  
			<div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="http://africabusiness.com/2017/02/08/devconf-2017/" target="_blank">
				<p>AfricaBusiness.com - From Mob Programming to Blockchain: DevConf 2017 covers it all:</p>
				<img src="public/images/media/africabusiness.png" /></a>
			</div>  

             <div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="http://it-online.co.za/2016/12/02/devconf-2-0-doubles-in-size/" target="_blank">
				<p>IT Online - DevConf 2.0 doubles in size:</p>
				<img src="public/images/media/itologo.jpg" /></a>
			</div>             
			<div class="col-md-2 mediaCard" style="text-align: center;">
                <a href="http://www.insurancegateway.co.za/ShorttermProfessionals/Events/EventDetails/Irn=566&URL=DevConf+20++Midrand+9+March+2017#.WJoc5rZ97Ya" target="_blank">
				<p>Insurance Gateway - DevConf 2.0 – Midrand, 9 March 2017:</p>
				<img src="public/images/media/insurancegateway.gif" /></a>
			</div>   
            <div class="col-md-2 mediaCard" style="text-align: center;">
                <a href="http://www.bizcommunity.com/Article/196/379/154516.html" target="_blank">
				<p>BizCommunity - DevConf returns to Joburg in 2017:</p>
				<img src="public/images/media/biz-logo.png" /></a>
			</div> 
            <div class="col-md-2 mediaCard" style="text-align: center;">
                <a href="http://www.digitalstreetsa.com/devconf-2-0-doubles-size/" target="_blank">
				<p>Digital Street - DevConf 2.0 doubles in size:</p>
				<img src="public/images/media/digitalstreet.png" /></a>
			</div>    
			<div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="http://adcomm.co.za/571-from-mob-programming-to-blockchain-devconf-2017-covers-it-all" target="_blank">
				<p>ADComm - From Mob Programming to Blockchain: DevConf 2017 covers it all:</p>
				<img src="public/images/media/adcomm.png" /></a>
			</div>   
		</div>
		<div class="row">
            <h2>About DevConf 2016</h2>
			<div class="col-md-2 mediaCard" style="text-align: center;">
                <a href="https://soundcloud.com/zadevchat/episode-23-devconf-with-rob-maclean" target="_blank">
				<p>Hear all about it from one of the organisers on:</p>
				<img src="public/images/ZADevChat.jpg" /></a>
			</div>
            <div class="col-md-2 mediaCard" style="text-align: center;">
                <a href="http://www.itweb.co.za/index.php?option=com_content&view=article&id=149816" target="_blank">
				<p>ITWeb - Local developers come together at DevConf:</p>
				<img src="public/images/media/itweb.png" /></a>
			</div>
             <div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="http://it-online.co.za/2016/02/15/first-devconf-coming-to-sa-soon/" target="_blank">
				<p>IT Online - First DevConf coming to SA soon:</p>
				<img src="public/images/media/itologo.jpg" /></a>
			</div>
             <div class="col-md-2 mediaCard" style="text-align: center;">
                 <a href="http://purelylocal.co.za/sa-software-developers-get-1st-major-networking-upskilling-conference-in-march/" target="_blank">
				<p>Purely local - SA software developers get 1st major networking &amp; upskilling conference in March:</p>
				<img src="public/images/media/purelylocal.png" /></a>
			</div>            
			<div class="col-md-2 mediaCard" style="text-align: center;">
                <a href="http://www.itweb.co.za/index.php?option=com_content&view=article&id=150606" target="_blank">
				<p>IT Web - Mint sponsors DevConf 2016:</p>
				<img src="public/images/media/itweb.png" /></a>
			</div>   
            <div class="col-md-2 mediaCard" style="text-align: center;">
                <a href="http://www.bizcommunity.com/Article/196/379/142025.html" target="_blank">
				<p>BizCommunity - SA's first DevConf draws a crowd:</p>
				<img src="public/images/media/biz-logo.png" /></a>
			</div> 
            <div class="col-md-2 mediaCard" style="text-align: center;">
                <a href="http://www.digitalstreetsa.com/capacity-crowd-sas-first-devconf/" target="_blank">
				<p>Digital Street - Capacity crowd at SA’s first DevConf:</p>
				<img src="public/images/media/digitalstreet.png" /></a>
			</div>   
			<div class="col-md-2 mediaCard" style="text-align: center;">
                <a href="https://www.facebook.com/pg/devconfza/photos/?tab=album&album_id=225167064610278" target="_blank">
				<p>Check out our 2016 photo album on Facebook!</p>
				<img src="public/images/media/facebook.png" /></a>
			</div>     
		</div>
	</div>
</div>
