<div id="purpose" class="section-light">
	<div class="container">
		<div class="row">
			<div class="hidden-xs hidden-sm col-md-5 section-image">
				<img src="/public/images/about-left.jpg" />
			</div>
			<div class="col-sm-12 col-md-7">
				<div class="row">
					<div class="col-md-4">
						<h2>Introduction</h2>
						<p>
							<em>DevConf</em> is a community-driven, developer focused, one-day conference hosted annually. The aim of the
							conference
							is to provide software developers with a buffet of tools, practices and principles applicable to tackling
							current and future
							challenges in the South African software development environment. It's an event where attendees can learn,
							network
							and be inspired regardless of their specific technology stack and programming language of choice. </p>
					</div>
					<div class="col-md-4">
						<h2>Why DevConf</h2>
						<p>
							<em>DevConf</em> serves to inspire software developers. A range of topics applicable to software development
							will be presented.
							From keeping up to date with the latest technologies and trends to tackling the challenges of working in large
							enterprise
							systems – it's a buffet of experiences, ideas and pragmatic advice as well as an opportunity to connect with
							peers
							across the industry. </p>
					</div>

					<div class="col-md-4">
						<h2>Need to convince your boss?</h2>
						<p>We have put together a helpful letter you can use to convince your boss to send you: <a
							 rel="noopener noreferrer" href="/public/docs/DevConf Boss Letter.pdf" target="_blank">Download the boss letter!</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>