<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <img class="img-responsive center-block" src="/public/images/bannerTitle.png" alt='DevConf;' />
                    <h3>solving today and tomorrow's software development challenges</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-offset-1 col-md-4">
                <h2 class="countdown-timer-subtitle">Cape Town
                    <br />26 March 2019</h2>

                <div class="row">
                    <div class="col-md-12">
                        <div id="capetowncountdown-timer">
                            <div class="countdown-section">
                                <div id="countdown-days" class="countdown-amount first-item countdown-days">946</div>
                                <div class="countdown-period">DAYS</div>
                            </div>
                            <div class="countdown-section">
                                <div id="countdown-hours" class="countdown-amount countdown-hours">14</div>
                                <div class="countdown-period">HOURS</div>
                            </div>
                            <div class="countdown-section">
                                <div id="countdown-mins" class="countdown-amount countdown-minutes">39</div>
                                <div class="countdown-period">MINUTES</div>
                            </div>
                            <div class="countdown-section">
                                <div id="countdown-secs" class="countdown-amount countdown-seconds">39</div>
                                <div class="countdown-period">SECONDS</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a class="btn btn-success page-scroll">SOLD OUT!</a>
                    <div class="soldOut">
                        <p>We are running a waiting list in case of ticket cancellations, you can join the waiting
                            list
                            <a class="emailUs" href="https://airtable.com/shrDqXmP2lmFvUTVJ" target="_blank">by
                                clicking here</a>. If you need to update an already purchased ticket, or have a access
                            code: <a class="emailUs" rel="noopener noreferrer" href="https://www.quicket.co.za/events/56719-devconf-2019-cape-town/"
                                target="_blank">click here</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h2 class="countdown-timer-subtitle">AND</h2>
            </div>
            <div class="col-md-4">
                <h2 class="countdown-timer-subtitle">Johannesburg
                    <br />28 March 2019</h2>

                <div class="row">
                    <div class="col-md-12">
                        <div id="joburgcountdown-timer">
                            <div class="countdown-section">
                                <div id="countdown-days" class="countdown-amount first-item countdown-days">946</div>
                                <div class="countdown-period">DAYS</div>
                            </div>
                            <div class="countdown-section">
                                <div id="countdown-hours" class="countdown-amount countdown-hours">14</div>
                                <div class="countdown-period">HOURS</div>
                            </div>
                            <div class="countdown-section">
                                <div id="countdown-mins" class="countdown-amount countdown-minutes">39</div>
                                <div class="countdown-period">MINUTES</div>
                            </div>
                            <div class="countdown-section">
                                <div id="countdown-secs" class="countdown-amount countdown-seconds">39</div>
                                <div class="countdown-period">SECONDS</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a class="btn btn-success page-scroll">SOLD OUT!</a>
                    <div class="soldOut">
                        <p>We are running a waiting list in case of ticket cancellations, you can join the waiting
                            list
                            <a class="emailUs" href="https://airtable.com/shrVqMnqLj7Y6xuIr" target="_blank">by
                                clicking here</a>. If you need to update an already purchased ticket, or have a access
                            code: <a class="emailUs" rel="noopener noreferrer" href="https://www.quicket.co.za/events/56474-devconf-2019-johannesburg/"
                                target="_blank">click
                                here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include index_preregister.html %}
            </div>
        </div>
    </div>
</div>