
<div id="map" class="section-light">
    <div class="text-center bubble-text">
       <p>DevConf will be held at <a href="http://www.vodacom.co.za/vodacom/vodacom-world-events" target="_blank">Vodacom World Events</a>, in Midrand, Johannesburg, South Africa.</p> 
       <!--<p><a href="http://www.DevConf.co.za/public/images/map/riversandsmap.jpg" target="_blank">View simplified map to Riversands Incubation Hub</a></p>-->
       <p><a href="https://www.google.ie/maps/place/Vodacom+World+events/@-25.970069,28.1258103,17z/data=!3m1!4b1!4m5!3m4!1s0x1e956e2da0a67005:0x4584d1a741404e7!8m2!3d-25.9700738!4d28.127999" target="_blank">View on Google Maps</a></p>
   </div>
</div>
<style> 
    #map {
        padding-top: 100px;
        min-height: 455px;
        background-image: url("public/images/map.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 455px;
    }
    #map .bubble-text {
            padding-bottom: 50px;
            padding-top: 50px; 
            margin: 0px auto;
            background-color: #F6F6F6;
        }
</style>