<section id="contactus" class="section-light">
	<div class="container">
		<div class="row double-top-buffer">
			<h1>Contact Us</h1>
		</div>	
		<div class="row double-top-buffer double-bottom-buffer">
			<div class="col-md-2 col-md-offset-2 text-center">
				<i class="fa fa-envelope large"></i><br/>
				<p><a href='mailto:info@devconf.co.za'>info@devconf.co.za</a></p>
			</div>
			<div class="col-md-2 col-md-offset-1 text-center">
				<i class="fa fa-phone large"></i><br/>
				<p>+27 (0)73 142 5422</p>
			</div>
			<div class="col-md-2 col-md-offset-1 text-center">
				<i class="fa fa-twitter large"></i><br/>
				<p><a href='https://twitter.com/devconfza' target='_blank'>@devconfza</a> or <a href='https://twitter.com/search?q=%23devconf' target='_blank'>#devconf</a></p>
			</div>
		</div>
	</div>
</section>
