<div id="contactus">
	<div class="container">
		<div class="row double-top-buffer">
			<h1>Contact Us</h1>
			<h2>We'd love to hear from you</h2>
		</div>	
		<div class="row double-top-buffer double-bottom-buffer">
			<div class="col-md-2 col-md-offset-2 text-center">
				<h2><i class="fa fa-envelope"></i></h2><br/>
				<h3><a >info@devconf.co.za</a></h3>
			</div>
			<div class="col-md-3 col-md-offset-1 text-center">
				<i class="fa fa-phone"></i><br/>
				<h3>+37 (0)83 337 9138</h3>
			</div>
			<div class="col-md-3 col-md-offset-1 text-center">
				<i class="fa fa-twitter"></i><br/>
				<h3>@devconfza</h3>
			</div>
		</div>
	</div>
</div>
