
<div id="map" class="section-light">
    <div class="text-center bubble-text">
       <p>DevConf will be held at <a href="http://riversandsihub.co.za/" target="_blank">Riversands Incubation Hub</a>, in Fourways, Johannesburg, South Africa.</p> 
       <p><a href="http://www.DevConf.co.za/public/images/map/riversandsmap.jpg" target="_blank">View simplified map to Riversands Incubation Hub</a></p>
       <p><a href="https://www.google.com/maps/place/Riversands+Incubation+Hub/@-25.9053739,28.0118572,12z/data=!4m2!3m1!1s0x0000000000000000:0x1ebe7f1b99e73d81" target="_blank">View on google maps</a></p>
   </div>
</div>
<style> 
    #map {
        padding-top: 100px;
        min-height: 455px;
        background-image: url("public/images/map.fw.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 455px;
    }
    #map .bubble-text {
            max-width: 400px;
            margin: 0px auto;
        }
</style>