<div class="seperator register">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>We are
                    <span class="emailUs">
                        <strong>SOLD OUT</strong>!
                    </span>
                    <br/>
                    <p> We are running a waiting list in case of ticket cancellations, please email us at
                        <a class="emailUs" href="mailto:info@devconf.co.za?subject=Please add me to the waiting list" target="_blank">info@devconf.co.za</a> to be added to the waiting list.
                        <!-- <br/>
                                Thank you for the amazing support and we cannot wait to see you soon! -->
                    </p>
                </h1>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="register">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#ticketsJhb">Johannesburg</a>
            </li>
            <li>
                <a data-toggle="tab" href="#ticketsCpt">Cape Town</a>
            </li>
        </ul> 
    </div>
</div> -->
<!-- <div class="tab-content">
    <div id="ticketsJhb" class="tab-pane in active">
        <iframe src="https://www.quicket.co.za/embed.aspx?productid=34167&productname=devconf-2018-johannesburg&embed=true&v=2" frameborder="0"
            scrolling="yes" width="100%" height="450"></iframe>
        <div class="row">
            <div class="col-md-12">
                Buy above or go direct to Quicket!
                <a href="https://www.quicket.co.za/events/34167-devconf-2018-johannesburg/" target="_blank">https://www.quicket.co.za/events/34167-devconf-2018-johannesburg/</a>
            </div>
        </div>
    </div>
    <div id="ticketsCpt" class="tab-pane">
        <iframe src="https://www.quicket.co.za/embed.aspx?productid=34171&productname=devconf-2018-cape-town&embed=true&v=2" frameborder="0"
            scrolling="yes" width="100%" height="450"></iframe>
        <div class="row">
            <div class="col-md-12">
                Buy above or go direct to Quicket!
                <a href="https://www.quicket.co.za/events/34171-devconf-2018-cape-town/" target="_blank">https://www.quicket.co.za/events/34171-devconf-2018-cape-town/</a>
            </div>
        </div>
    </div>
</div> -->

<div class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&nbsp</p>
                <p>
                    <em>Buy in bulk and save!</em> We offer 5% off for orders of 5 or more tickets &amp; 10% off for orders of
                    10 or more tickets.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>If you are a
                    <em>student</em> or work for an academic institute, we have a limited set of massively discounted tickets
                    available for you. Please
                    <a href="mailto:info@devconf.co.za">email us</a> your from your .ac.za email address, so we can assist in getting those tickets to you.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>FAQ: You can change the details of the person attending on the ticket up to two days before the event by
                    logging into
                    <a href="https://www.quicket.co.za" target="_blank">Quicket</a>. If you are unsure of the person attending, you can also fill in dummy details now and update
                    it closer to the event.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Please note that the Cape Town venue, The Riverclub, is not a wheel chair accessible venue.
            </div>
        </div>
    </div>
</div>