<div id="media" class="section-light">
	<div class="container">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#media2018">About DevConf 2018</a></li>
			<li><a data-toggle="tab" href="#media2017">About DevConf 2017</a></li>
			<li><a data-toggle="tab" href="#media2016">About DevConf 2016</a></li>
		</ul>
	</div>
</div>


<div class="tab-content">
	<div id="media2018" class="tab-pane in active">
		{% include index_media2018.html %}		
	</div>

	<div id="media2017" class="tab-pane">
		{% include index_media2017.html %}		
	</div>

	<div id="media2016" class="tab-pane">
		{% include index_media2016.html %}	
	</div>
</div>