<section id="speakers" class="section-light">
	<div class="container">
		{% assign sorted_speakers = (site.data.speakers | where: 'publish',true | sort: 'firstname') %}
		{% for speaker in sorted_speakers %}
		{% assign loopindex = forloop.index | modulo: 4 %}
		  {% if loopindex == 1 %}
		  <div clas="row">
		  {% endif %}
			<div class="col-md-3">
				<div class="pic-box">
					<img src="public\images\speakers\{{ speaker.pic }}" />
					<span class="name">{{ speaker.firstname }} {{ speaker.lastname }}</span>
					<a href="http://www.twitter.com/{{ speaker.twitter }}" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
					<div class="track">{{ speaker.track }} @ {{ speaker.time }}</div>
				</div>
			</div>
		  {% if loopindex == 0 or forloop.last %}
		  </div>
		  {% endif %}
		{% endfor %}
	</div>
</section>
