<div id="tracksSeparator">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Conference Tracks</h2>
			</div>
		</div>
		<div class="row top-buffer">
			<div class="col-md-2 text-center">
				<h2>Crafting Code</h2>
			</div>
			<div class="col-md-2 col-md-offset-1 text-center">
				<h2>Databases <br>
					&amp; <br>
				   Infrastructure</h2>
			</div>
			<div class="col-md-2 col-md-offset-1 text-center">
				<h2>DevOps <br>
				     &amp;<br>
				Automation</h2>
			</div>
			<div class="col-md-2 text-center">
				<h2>Tools <br>
				    &amp; <br>
				  Experiences</h2>
			</div>
		</div>
	</div>
</div>
