<div id="speakers" class="section-light">
	<div class="container">
		<div class="row top-buffer">
			<div class="col-md-12">
				<div class="row">
					<h2>We want you!</h2>
                    <p>DevConf can only be great if we have great speakers and we welcome you to submit your talks for DevConf 2017.</p>
                    
				</div>
			</div>
            <div class="col-md-12">
				<div class="row">
					<h3>About the talks</h3>
                    <h4>Tips for submitting a proposal</h4>
                    <span class="text-left">
                        <p>Be authentic! Your peers need original presentation ideas that focus real-world scenarios, relevant examples, and knowledge transfer.</p>
<p>Give your proposal a simple and straightforward title. Clever or inappropriate titles make it harder for people to figure out what you’re really talking about.</p>
<p>All talks are limited to a 25 minute or 45 minute slot, make sure you don't try to cover too much content in that time – identify the 2 or 3 things you want people to take home.</p>
<p>Keep proposals free of marketing and sales.</p>
<p>Keep things practical and relevant.</p>
<p>Keep the audience in mind: The audience will be professional developers and already pretty smart.</p>
<p>We are specifically focusing on corporate developers, so they may not attend many conferences or be up to date with the latest technology. We want them to go away and be more productive and be more excited about software development. We are expecting 600 to 700 people to attend and we expect the sessions will be between 150 and 300 people.</p>
<p>Explain why people will want to attend: is your topic gaining traction? Is it critical to modern business? Will attendees learn how to use it, program it, or just what it is?</p>
<p>Repeated talks from the conference circuit are less likely to be appealing. The conference has a limited number of slots, and if attendees can see the same talk somewhere else, why should they come see you at this one? If you speak at a lot of events, be sure to note why this presentation is different.</p>
<p>Don’t assume that your company’s name buys you credibility. If you’re talking about something important that you have specific knowledge of because of what your company does, spell that out in the description.</p>
<p>We welcome sessions for attendees with a variety of skill levels. Consider proposing a number of different skill-level sessions, and please indicate the experience and knowledge level of the audience that you are targeting: novice, intermediate, or expert.</p>
</span>
				</div>
			</div>
            <div class="col-md-12">
				<div class="row">
					<h3>Call for speakers timeline</h3>
                    <span class="text-left">
                        <p>17 September 2016 - Submissions Open</p>
                        <p>23 October 2016 - Submissions Close</p>
                        <p>20 November 2016 - Speakers Selected. Regardless of selection or not, we will contact you via email to let you know.</p>
                        <p>27 November 2016 - Deadline for Speakers to confirm</p>
                        <p>28 November 2016 - Announcements of Speakers</p>
                    </span>
				</div>
			</div>
            <div class="col-md-12">
				<div class="row text-left">
					<h3>Compensation Policy</h3>
                    <p>Note: Regretfully, we cannot offer splitting or transferring compensation to non-presenters.</p>
                    <h4>Conference Access</h4>
<p>We are pleased to offer One (1) Complimentary Registration per presenter.</p>
<h4>Accommodation Compensation</h4>
<p>We have a limited funds to contribute towards accommodation for international and "out of town" presenters. Should accommodation assistance be a requirement for you to be able to present at DevConf, please indicate on your talk submissions.</p>
<h4>Travel/Airfare Compensation</h4>
<p>We have a limited fund to contribute towards economy flights for international and local speakers, which will be communicated to accepted speakers. Should travel assistance be a requirement for you to be able to present at DevConf, please indicate on your talk submissions.</p>
				</div>
			</div>
            <div class="col-md-12">
				<div class="row">
					<h3>How to submit a talk?</h3>
                    <p>To submit a talk for DevConf 2017, please complete <a href="https://1drv.ms/xs/s!AjU4J9ribN2EoY4PTZ5dEn_3oqt-bg" target="_blank">this form</a> and we will be in touch on or before the 13th November.</p>
                    <p>If you have any questions, need more information or want to make any changes, please <a href="#contactus" target="_blank">contact us</a>.</p>
				</div>
			</div>
		</div>		
	</div>
</div>
