<div id="about">
    <div class="container">
        <div class="row">
            <div id="event-countdown col-md-4 col-md-offset-4 ">
                <div id="countdown-timer">
                    <div class="countdown-section">
                        <div id="countdown-days" class="countdown-amount first-item countdown-days">946</div>
                        <div class="countdown-period">DAYS</div>
                    </div>
                    <div class="countdown-section">
                        <div id="countdown-hours" class="countdown-amount countdown-hours">14</div>
                        <div class="countdown-period">HOURS</div>
                    </div>
                    <div class="countdown-section">
                        <div id="countdown-mins" class="countdown-amount countdown-minutes">39</div>
                        <div class="countdown-period">MINUTES</div>
                    </div>
                    <div class="countdown-section">
                        <div id="countdown-secs" class="countdown-amount countdown-seconds">39</div>
                        <div class="countdown-period">SECONDS</div>
                    </div>
                </div>
	    </div>
	</div>
        <div class="row">
                <div>
                    <img src="/public/images/bannerTitle.png" alt='DevConf;'/>
                </div>
                <h2 class="countdown-timer-subtitle">10 March, 2016, Johannesburg</h2>
        </div>
    </div>
</div>
<script type="text/javascript">
	var updateCountdown = function()
        {
            var now = moment(new Date());
            var confDays = moment(new Date(2016, 2, 10, 8, 0,0));
            var days = confDays.diff(now, 'days');
            var hours = confDays.diff(now.add(days, 'd'), 'hours');
            var mins = confDays.diff(now.add(hours, 'h'), 'minutes');
            var secs = confDays.diff(now.add(mins, 'm'), 'seconds');

            $('#countdown-days').html(days);
            $('#countdown-hours').html(hours);
            $('#countdown-mins').html(mins);
            $('#countdown-secs').html(secs);
        };

    $(function()
    {
		updateCountdown();
        setInterval(updateCountdown, 1000);
    });
</script>
