<div class="register">
<iframe src="https://www.quicket.co.za/embed.aspx?productid=14425&productname=devconf-2017&embed=true&v=2" frameborder="0" scrolling="yes" width="100%" height="450"></iframe>
<div class="row">
    <div class="col-md-12">
        <p>If you are a <em>student</em> or work for an academic institute, we have a limited set of massively discounted tickets available for you. Please <a href="mailto:info@devconf.co.za">email us</a> your details, so we can assist in getting those tickets to you.</p>
    </div>
</div>
</div>