<div id="speakers" class="section-light">
	<div class="container">
		<div class="row top-buffer">
			<div class="col-md-12">
				<div class="row">
					<h2>We want you!</h2>
                    <p>Submit your talk at <a href="https://www.devconf.co.za/CFS" target="_blank">https://www.devconf.co.za/CFS</a></p>
				</div>
			</div>
            <div class="col-md-12">
				<div class="row">
					<h3>Call for speakers timeline</h3>
                    <span class="text-left">
                        <p>4 September 2017 - Submissions Open</p>
                        <p>1 October 2017 - Submissions Close</p>
                        <p>15 October 2017 - Speakers Selected. Regardless of selection or not, we will contact you via email to let you know.</p>
                        <p>22 October 2017 - Deadline for Speakers to confirm</p>
                        <p>25 October 2017 - Announcements of Speakers</p>
                    </span>
				</div>
			</div>
		</div>		
	</div>
</div>
