<div class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://it-online.co.za/2018/01/24/where-the-whole-is-less-than-the-sum-of-its-code-parts/" target="_blank">
					<p>IT Online - Where the whole is less than the sum of its (code) parts:</p>
					<i class="media media-itologo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://www.digitalstreetsa.com/whole-less-sum-code-parts-software-engineers-turn-product-developer-david-hussman/"
				    target="_blank">
					<p>Digital Street - SOFTWARE ENGINEERS SHOULD TURN PRODUCT DEVELOPER: DAVID HUSSMAN!</p>
					<i class="media media-digitalstreet"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://africabusiness.com/2018/01/24/software-engineers/" target="_blank">
					<p>AfricaBusiness.com - Software Engineers:</p>
					<i class="media media-africabusiness"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://it-online.co.za/2017/09/21/devconf-back-for-round-three/" target="_blank">
					<p>IT Online - DevConf back for round three:</p>
					<i class="media media-itologo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.bizcommunity.com/Article/196/743/167464.html" target="_blank">
					<p>BizCommunity - DevConf 2018 to include Cape Town:</p>
					<i class="media media-biz-logo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://www.digitalstreetsa.com/devconf-back-round-three-time-cape-town/" target="_blank">
					<p>Digital Street - DevConf back for round three, and this time it’s in Cape Town too!</p>
					<i class="media media-digitalstreet"></i>
				</a>
			</div>
		</div>
	</div>
</div>