<div id="contactus">
	<div class="container">
		<div class="row double-top-buffer">
			<h1>Contact Us</h1>
			<h2>We'd love to hear from you</h2>
		</div>	
		<div class="row double-top-buffer double-bottom-buffer">
			<div class="col-md-2 col-md-offset-2 text-center">
				<i class="fa fa-envelope large"></i><br/>
				<p><a >info@devconf.co.za</a></p>
			</div>
			<div class="col-md-3 col-md-offset-1 text-center">
				<i class="fa fa-phone large"></i><br/>
				<p>+37 (0)83 337 9138</p>
			</div>
			<div class="col-md-3 col-md-offset-1 text-center">
				<i class="fa fa-twitter large"></i><br/>
				<p>@devconfza</p>
			</div>
		</div>
	</div>
</div>
