<section id="speakers" class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Community Driven</h1>
				<h2>DevConf is organized local software communities</h2>
				<p>DevConf is run by a community of professionals passionate about creating great software<br/>
				<h2>Local User Groups Involved</h2>
				<ul>
                    <li>[DeveloperUG](http://www.DeveloperUG.org.za)</li>
                    <li>[Jozii-Jug](http://www.meetup.com/Jozi-JUG/)</li>
                    <li>[Continous Delivery and DevOps JHB](http://www.meetup.com/Continuous-Delivery-and-Devops/)</li>
				</ul>
			</div>
		</div>
	</div>
</section>
