<div class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.digitalstreetsa.com/entering-a-brave-new-world-for-software-developers/" rel="noopener noreferrer"
				 target="_blank">
					<p>IT-Online - Obsidian confirms platinum sponsorship of DevConf ZA 2019</p>
					<i class="media media-itologo"></i>
				</a>
			</div>
			
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.digitalstreetsa.com/entering-a-brave-new-world-for-software-developers/" rel="noopener noreferrer"
				 target="_blank">
					<p>DigitalStreet - ENTERING A BRAVE NEW WORLD FOR SOFTWARE DEVELOPERSD</p>
					<i class="media media-digitalstreet"></i>
				</a>
			</div>

			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://www.digitalstreetsa.com/highlights-of-devconf-2019-revealed/" rel="noopener noreferrer" target="_blank">
					<p>DigitalStreet - HIGHLIGHTS OF DEVCONF 2019 REVEALED</p>
					<i class="media media-digitalstreet"></i>
				</a>
			</div>

			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://www.itweb.co.za/content/nWJad7b8Y3zqbjO1" rel="noopener noreferrer" target="_blank">
					<p>ITWeb - DevConf set for March 2019</p>
					<i class="media media-itweb"></i>
				</a>
			</div>

			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://www.digitalstreetsa.com/ticket-sales-open-for-devconf-2019/" rel="noopener noreferrer" target="_blank">
					<p>DigitalStreet - TICKET SALES OPEN FOR DEVCONF 2019</p>
					<i class="media media-digitalstreet"></i>
				</a>
			</div>
		</div>
	</div>
</div>