<div id="map" class="row">
    <div class="col-md-6">
        <div id="mapjoburg" class="section-light text-center">
            <div class="text-center bubble-text">
                <h3>DevConf ❖ Johannesburg</h3>
                <p>DevConf will be held at <a href="http://www.birchwoodhotel.co.za/" target="_blank">Birchwood Hotel & OR Tambo Conference Centre</a>,
                    in Johannesburg, South Africa.</p>
                <p><a href="https://www.google.co.za/maps/place/Birchwood+Hotel+%26+OR+Tambo+Conference+Centre/@-26.175525,28.250523,15z/data=!4m5!3m4!1s0x0:0xa0673df49d1b3e64!8m2!3d-26.175525!4d28.250523"
                        target="_blank">View on Google Maps</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="mapcapetown" class="section-light text-center">
            <div class="text-center bubble-text">
                <h3>DevConf ❖ Cape Town</h3>
                <p>DevConf will be held at <a href="http://riverclub.co.za/" target="_blank">The River Club</a>, in Cape Town,
                    South Africa.</p>
                <p><a href="https://www.google.co.za/maps/place/The+River+Club/@-33.934415,18.4747436,15z/data=!4m2!3m1!1s0x0:0x6dbc9237f397ba3e?sa=X&ved=0ahUKEwiu1f211frVAhUEIMAKHdTlCrMQ_BIIdjAN"
                        target="_blank">View on Google Maps</a></p>
            </div>
        </div>
    </div>
    </dov>