<div id="location" class="section-light">
	<div class="container">
           <div class="row">
               <div class="col-md-12 text-center">
                   <p>DevConf will be held at <a href="http://riversandsihub.co.za/" target="_blank">Riversands Incubation Hub</a>, in Fourways, Johannesburg, South Africa.</p> 
               </div>
               <div class="col-md-12 text-center">
                   <p><a href="http://www.DevConf.co.za/images/map/riversandsmap.jpg" target="_blank">Download a simplified map</a></p>
               </div>
           </div>
	</div>
</div>
