<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <img class= "img-responsive center-block" src="/public/images/bannerTitle.png" alt='DevConf;'/>
                    <h3>solving today and tomorrow's software development challenges</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="countdown-timer-subtitle">9 March, 2017, Johannesburg</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="countdown-timer">
                    <div class="countdown-section">
                        <div id="countdown-days" class="countdown-amount first-item countdown-days">946</div>
                        <div class="countdown-period">DAYS</div>
                    </div>
                    <div class="countdown-section">
                        <div id="countdown-hours" class="countdown-amount countdown-hours">14</div>
                        <div class="countdown-period">HOURS</div>
                    </div>
                    <div class="countdown-section">
                        <div id="countdown-mins" class="countdown-amount countdown-minutes">39</div>
                        <div class="countdown-period">MINUTES</div>
                    </div>
                    <div class="countdown-section">
                        <div id="countdown-secs" class="countdown-amount countdown-seconds">39</div>
                        <div class="countdown-period">SECONDS</div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row" id="ticketsremaining">
            <div class='col-md-12'>
                Tickets Remaining: <span id="ticketsremainingcount">350</span>
            </div>
        </div>-->
        <div class="row" id="booknow">
            <div class='col-md-12'>
            <a href="#register" class="btn btn-success page-scroll">Book your tickets now!</a>
            </div>
        </div>
         <div class="row">
            <div class="col-md-12">
              <hr/> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include index_preregister.html %} 
            </div>
        </div>       
    </div>
</div>
