<div id="tracksSeparator">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				Conference Tracks
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-2 text-center">
				Crafting Code
			</div>
			<div class="col-md-2 col-md-offset-1 text-center">
				Databases &amp; Infrastructure
			</div>
			<div class="col-md-2 col-md-offset-1 text-center">
				DevOps &amp; Automation
			</div>
			<div class="col-md-2 col-md-offset-1 text-center">
				Tools &amp; Experiences
			</div>
			<div class="col-md-2 col-md-offset-1 text-center">
				Sponsor Track
			</div>
		</div>
	</div>
</div>
