<section id="tracks" class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>What to expect</h1>
				<p>Our Johannesburg event will kick off with an amazing keynote and be followed by 5 concurrent tracks of content. We will
					have over 30 full length talks (45min long) and over 5 lightning talks (15min long) during the day. The day will also
					include snacks, lunch and drinks at the end of the day for networking.</p>
				<p>In Cape Town will have a smaller event will kick off with an amazing keynote and be followed 2 tracks full of content.
					We will have over 12 full length talks (45min long) and over 5 lightning talks (15min long) during the day. The day
					will also include snacks, lunch and drinks at the end of the day for networking.</p>
				<p>The keynote and full length talks presented in Cape Town will be the same content as in Johannesburg and the lightning
					talks will be unique per event.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="track">Theme</th>
							<th class="description">Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Crafting Code</td>
							<td>Talks related to designing or refactoring code (can be language specific or spanning multiple languages). </td>
						</tr>
						<tr>
							<td>Database</td>
							<td>Talks relating to database paradigms from Relational Databases to Graph & Object Databases, techniques for working
								with data, etc.</td>
						</tr>
						<tr>
							<td>DevOps &amp; Automation</td>
							<td>Talks related to DevOps and automation of deployment, including specific automation approaches, experiences and lessons
								learned.
							</td>
						</tr>
						<tr>
							<td>Tools</td>
							<td>Talks related to the use of developer tools, languages, frameworks and platforms. </td>
						</tr>
						<tr>
							<td>Teams, People &amp; Methodologies</td>
							<td>Talks related to culture and experiences in teams, new ways of working, or tools that practitioner’s find useful.</td>
						</tr>
						<tr>
							<td>Security</td>
							<td>Talks related to security or hacking. </td>
						</tr>
						<tr>
							<td>IoT</td>
							<td>Talks related to Internet of Thing devices, platforms and writing software for IoT. </td>
						</tr>
						<tr>
							<td>Machine Learning &amp; AI </td>
							<td>Talks related to data science, and how to use AI and machine learning.</td>
						</tr>
						<tr>
							<td>Future Technology</td>
							<td>Sessions focussed around the the future of autonomous vehicles, VR (Virtual Reality), AR (Augmented Reality), rockets
								and drones.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>