<div id="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>DevConf is a new community driven, developer focused, one-day conference hosted annually in Johannesburg.</p>
				<p>Local software developers come together to learn about the latest practices, principles and tools applicable to tackling current and future challenges in the South African software development environment.</p>
				<p>Learn, Network and be Inspired regardless of your specific technology stack or programming language of choice.</p>
			</div>
		</div>
	</div>
</div>
