<section id="speakers" class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Organized by Local Software Communities</h1>
				<p>
                    DevConf is organized by a local community of software professionals passionate about creating great software<br/>
                    While DevConf happens once a year, these communities meet at regular intervals throughout the year.
            </p>
				<h2>Local User Groups Involved</h2>
				<ul>
                    <li><a href='http://www.DeveloperUG.org.za' target='_blank'>DeveloperUG</a></li>
                    <li><a href='http://www.meetup.com/Jozi-JUG/' target='_blank'>Jozi-Jug</a></li>
                    <li><a href='http://www.meetup.com/Continuous-Delivery-and-Devops/' target='_blank'>Continous Delivery and DevOps JHB</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
