<div id="agenda" class="section-light">
	<div class="container">
        <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Crafting Code</th>
                    <th>Persistence</th>
                    <th>DevOps &amp; Automation</th>
                    <th>Tools & Frameworks</th>
                    <th>Teams & People</th>
                    <th>Sponsor Track</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09h00</td>
                    <td>10h00</td>
                    <td class="info text-center" colspan="6">Welcome &amp; Keynote</td>
                </tr>
                <tr>
                    <td>10h00</td>
                    <td>10h30</td>
                    <td class="text-center" colspan="6">Movement, Networking, &amp; Snacks</td>
                </tr>
                <tr>
                    <td>10h30</td>
                    <td>11h00</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
               <tr>
                    <td>11h00</td>
                    <td>11h10</td>
                    <td class="text-center" colspan="6">Movement</td>
                </tr>
                <tr>
                    <td>11h10</td>
                    <td>11h40</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
                <tr>
                    <td>11h40</td>
                    <td>11h50</td>
                    <td class="text-center" colspan="6">Movement</td>
                </tr>
                <tr>
                    <td>11h50</td>
                    <td>12h20</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >Metrics Driven-DevOps: Delivering High Quality Software like Facebook & Co by <href="http://www.twitter.com/grabnerandi" target="_blank">Andreas	Grabner</a></td>
                    <td class="info" >Gradle: The Build System you have been waiting for by <href="http://www.twitter.com/corneil" target="_blank">Corneil Duplessis</a></td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
                <tr>
                    <td>12h20</td>
                    <td>13h10</td>
                    <td class="text-center" colspan="6">Movement &amp; Lunch</td>
                </tr>
                <tr>
                    <td>13h10</td>
                    <td>13h40</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
                <tr>
                    <td>13h40</td>
                    <td>13h50</td>
                    <td class="text-center" colspan="6">Movement</td>
                </tr>
                <tr>
                    <td>13h50</td>
                    <td>14h20</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
                <tr>
                    <td>14h20</td>
                    <td>14h50</td>
                    <td class="text-center" colspan="6">Movement, Networking, &amp; Snacks</td>
                </tr>
                <tr>
                    <td>14h50</td>
                    <td>15h20</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
                <tr>
                    <td>15h20</td>
                    <td>15h30</td>
                    <td class="text-center" colspan="6">Movement</td>
                </tr>
                <tr>
                    <td>15h30</td>
                    <td>16h00</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
                 <tr>
                    <td>16h00</td>
                    <td>16h10</td>
                    <td class="text-center" colspan="6">Movement</td>
                </tr>
                <tr>
                    <td>16h10</td>
                    <td>16h40</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
            </tbody>
        </table>
	</div>
    </div>
</div>
