<section class="section-light speakers">

	<!--<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="/public/images/agenda.png" download="agenda.png">Download the agenda</a>
			</div>
		</div>
	</div>-->

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="break">08h00 → <b>Registration</b> ← 09h00</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="break">09h00 → <b>Welcome</b> ← 09h15</p>
			</div>
		</div>
	</div>
	<div class="container">
		{% include keynote_row_2018.html location='cpt' %}
	</div>

	{% assign agendaSpeakers = (site.data.2018cpt.speakers | sort: 'time' | group_by: 'time') %} 
	{% for agenda in site.data.2018cpt.agenda %}
		{% if agenda.type == 'break' %} 
			{% include index_speakers_break_thirds.html agenda=agenda %} 
		{% else %} 
			{% assign speakers=agendaSpeakers[agenda.sessionIndex].items %} 
			{% include index_speakers_timeslot_base.html speakers=speakers agenda=agenda columns=4 imageSize=290 year=2018 city='cpt' %} 
			{% endif %} 
	{% endfor %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="break">17h40 → <b>Drinks, snacks, cocktails &amp; networking</b> ← 19h00</p>
			</div>
		</div>
	</div>
</section>