<div class="jumbotron">
    <div class="container">
        <div id="event-countdown" class="row">
            <div id="countdown-timer">
                <div class="countdown-section"><span class="countdown-amount first-item countdown-days">946 </span>
                    <span
                    class="countdown-period">DAYS</span>
                </div>
                <div class="countdown-section"><span class="countdown-amount countdown-hours">14 </span>
                    <span
                    class="countdown-period">HOURS</span>
                </div>
                <div class="countdown-section"><span class="countdown-amount countdown-minutes">39 </span>
                    <span
                    class="countdown-period">MINUTES</span>
                </div>
                <div class="countdown-section"><span class="countdown-amount countdown-seconds">39 </span>
                    <span
                    class="countdown-period">SECONDS</span>
                </div>
            </div>
            <h1 class="countdown-timer-title">DevConf ZA 2016</h1>
            <h2 class="countdown-timer-subtitle">3 March, 2016, Johannesburg</h2>
        </div>
    </div>
</div>
