<section id="speakers" class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Speakers</h1>
				<h2>We are currently open for talk submissions</h2>
				<p>We will be open for submissions for several weeks so that potential speakers may submit
				their proposals in time for feedback. <br />
				If you feel that you can contribute to others by sharing 
				in one of our tracks please read our <a href="/public/docs/CFP-Guidelines.pdf" target="_blank">CFP-Guidelines</a> carefully and 
				then use our <a href="/public/docs/CFP-Template.txt" target="_blank">CFP-Template</a> to submit your talk.</p>
				<h2>Important Dates</h2>
				<ul>
						<li>CFP opens for submissions – 14 December 2015</li>
						<li>CFP closes for submissions – 18 January 2016</li>
				</ul>
			</div>
		</div>
	</div>
</section>
