<section id="speakers" class="section-light">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="break">09h00 -> <b>Welcome & Keynote</b> <- 10h00</p>
			</div>
		</div>
	</div>

	{% for agenda in site.data.agenda %}
        {% if agenda.type == 'break' %}
        	{% include index_speakers_break.html agenda=agenda %}
        {% else %}
            {% assign speakers=agendaSpeakers[agenda.sessionIndex].items %}
            {% include index_speakers_timeslot.html speakers=speakers agenda=agenda %}
        {% endif %}
    {% endfor %}
</section>
