<div id="agenda" class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Agenda</p>
			</div>
		</div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Crafting Code</th>
                    <th>Persistence</th>
                    <th>DevOps &amp; Automation</th>
                    <th>Tools & Experiences</th>
                    <th>Sponsor Track</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09h00</td>
                    <td>10h00</td>
                    <td class="info" colspan="5">Welcome &amp; Keynote</td>
                </tr>
                <tr>
                    <td>10h00</td>
                    <td>10h30</td>
                    <td colspan="5">Movement, Networking, &amp; Snacks</td>
                </tr>
                <tr>
                    <td>10h30</td>
                    <td>11h00</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
               <tr>
                    <td>11h00</td>
                    <td>11h15</td>
                    <td colspan="5">Movment</td>
                </tr>
                <tr>
                    <td>11h15</td>
                    <td>11h45</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
                <tr>
                    <td>11h45</td>
                    <td>12h00</td>
                    <td colspan="5">Movement</td>
                </tr>
                <tr>
                    <td>12h00</td>
                    <td>12h30</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
                <tr>
                    <td>12h30</td>
                    <td>13h15</td>
                    <td colspan="5">Movement &amp; Lunch</td>
                </tr>
                <tr>
                    <td>13h15</td>
                    <td>13h45</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
                <tr>
                    <td>13h45</td>
                    <td>14h00</td>
                    <td colspan="5">Movement</td>
                </tr>
                <tr>
                    <td>14h00</td>
                    <td>14h30</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
                <tr>
                    <td>14h30</td>
                    <td>15h00</td>
                    <td colspan="5">Movement, Networking, &amp; Snacks</td>
                </tr>
                <tr>
                    <td>15h00</td>
                    <td>15h30</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
                <tr>
                    <td>15h30</td>
                    <td>15h45</td>
                    <td colspan="5">Movement</td>
                </tr>
                <tr>
                    <td>15h45</td>
                    <td>16h15</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                    <td class="info" >TBA</td>
                </tr>
            </tbody>
        </table>
	</div>
</div>
