
	<div class="container">
		{% assign sorted_speakers = (include.speakers | sort: 'track_order') %}
		{% for speaker in sorted_speakers %}		
		{% assign loopindex = forloop.index | modulo: 5 %}
		  {% if loopindex == 1 %}
		  
			  <div class="row">
			  {% endif %}
				<div class="col-md-2">
					{% if speaker.publish == true %}
					<div class="pic-box" data-toggle="modal" data-target="#{{ speaker.firstname | replace: ' ', '' | replace: '&', '' }}{{ speaker.lastname | replace: ' ', '' | replace: '&', '' }}Modal">
						<div class="track">{{ speaker.track }}</div>
						<div class="time">{{ speaker.time }}</div>
						<img src="/public/images/speakers/{{ speaker.pic }}" />
						<span class="name">{{ speaker.firstname }} {{ speaker.lastname }}</span>
						<div class="title">{{ speaker.title }}</div>
						<div class="social">
							{% if speaker.twitter.size > 0 %}
							<a href="http://www.twitter.com/{{ speaker.twitter }}" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							{% endif %}
							{% if speaker.linkedin.size > 0 %}
							<a href="https://za.linkedin.com/in/{{ speaker.linkedin }}" target="_blank">
								<i class="fa fa-linkedin"></i>
							</a>
							{% endif %}
							<i class="fa fa-info"></i>
							{% if speaker.slides.size > 0 %}
							<a href="{{ speaker.slides }}" target="_blank">
								<i class="fa fa-laptop"></i>
							</a>
							{% endif %}
						</div>
					</div>

					<div id="{{ speaker.firstname | replace: ' ', '' | replace: '&', '' }}{{ speaker.lastname | replace: ' ', '' | replace: '&', '' }}Modal" class="modal fade" tabindex="-1" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<div class="social">
										{% if speaker.twitter.size > 0 %}
										<a href="http://www.twitter.com/{{ speaker.twitter }}" target="_blank">
											<i class="fa fa-twitter"></i>
										</a>
										{% endif %}
										{% if speaker.linkedin.size > 0 %}
										<a href="https://za.linkedin.com/in/{{ speaker.linkedin }}" target="_blank">
											<i class="fa fa-linkedin"></i>
										</a>
										{% endif %}
										{% if speaker.slides.size > 0 %}
										<a href="{{ speaker.slides }}" target="_blank">
											<i class="fa fa-laptop"></i>
										</a>
										{% endif %}
									</div>
									<h4 class="modal-title">
										{{ speaker.firstname }} 
										{{ speaker.lastname }}
									</h4>
									<h5>
											{{ speaker.track }} 
											{{ speaker.time }}
									</h5>
								</div>
								<div class="modal-body">
								<div class="row">
						          <div class="col-md-12">
						          	<h3>{{ speaker.title }}</h3>
						          </div>
						        </div>
								<div class="row">
						          <div class="col-md-12">
						          	<img src="/public/images/speakers/{{ speaker.pic }}" />
						          {% capture abstractFilename %}/public/abstract/{{ speaker.firstname | replace: ' ', '' | replace: '&', '' }}{{ speaker.lastname | replace: ' ', '' | replace: '&', '' }}.html{% endcapture %}
						          {% for static_file in site.static_files %}
								    {% if static_file.path == abstractFilename %}

								        <p>{% include_relative {{ abstractFilename }} %}</p>
								    {% endif %}
								  {% endfor %}
						          </div>
						        </div>
						        <div class="row">
						          <div class="col-md-12">
						          {% capture bioFilename %}/public/bio/{{ speaker.firstname | replace: ' ', '' | replace: '&', '' }}{{ speaker.lastname | replace: ' ', '' | replace: '&', '' }}.html{% endcapture %}
						          {% for static_file in site.static_files %}
								    {% if static_file.path == bioFilename %}
								        <p>{% include_relative {{ bioFilename }} %}</p>
								    {% endif %}
								  {% endfor %}
						          </div>
						        </div>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					{% else %}
					To be announced
		  			{% endif %}
				</div>
			  {% if loopindex == 0 or forloop.last %}
			  </div>
		  
		  {% endif %}	
		{% endfor %}
	</div>
