<div id="purpose">
	<div class="container">
		<div class="row">
			<div class="col-md-4 hidden-xs hidden-sm section-image-left">
				<img src="/public/images/about-left.jpg" />
			</div>
			<div class="col-md-8">
				<h1>
					The community driven developer focused conference hosted annually in Johannesburg.
				</h1>
				<h2>
					Learn about the practices, principles and latest techniques applicable to tackling software development in a South African environment.
				</h2>
				<h3>
					Be inspired regardless of your specific technology stack or programming language of choice.
				</h3>
				{% include index_preregister.html %}
			</div>
		</div>
	</div>
</div>