
<div class="register">
<div class="row">
    <div class="col-md-12 text-center">
        <hr/>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-12 text-center soldOut">
        <p>We are <span class="emailUs"><strong>SOLD OUT</strong></span>! Thank you for the amazing support and we cannot wait to see you on 9th March!</p>
    </div>
</div>-->
</div>

<!--<div class="register">
<iframe src="https://www.quicket.co.za/embed.aspx?productid=14425&productname=devconf-2017&embed=true&v=2" frameborder="0" scrolling="yes" width="100%" height="450"></iframe>
<div class="row">
    <div class="col-md-12">
        Buy above or go direct to Quicket! <a href="https://www.quicket.co.za/events/14425-devconf-2017/#/" target="_blank">https://www.quicket.co.za/events/14425-devconf-2017/#/</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Buy in bulk and save! We offer 5% off for 5 or more tickets &amp; 11% off for 10 or more tickets.</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <p>If you are a <em>student</em> or work for an academic institute, we have a limited set of massively discounted tickets available for you. Please <a href="mailto:info@devconf.co.za">email us</a> your details, so we can assist in getting those tickets to you.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>If your order exceeds R25 000, you will need to use the EFT option when paying as credit card payments are limited to R25 000 or less. We are more than happy to help you with invoice and arranging manual payments too, so please feel to <a href="mailto:info@devconf.co.za">email us</a> and we will assist.</p>
    </div>
</div>
</div>-->