<section class="section-light speakers">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="/public/docs/agenda.pdf">Download the agenda</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p class="break">07h15 → <b>Registration</b> ← 08h30</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p class="break">07h30 → <b>Lean Coffee</b> ← 08h30</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p class="break">08h00 → <b>Expo is Opens</b> ← 19h00</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p class="break">08h30 → <b>Welcome</b> ← 08h45</p>
			</div>
		</div>
	</div>
	<div class="container">
		{% include keynote_row_2019.html location='jhb' %}
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p class="break">10h00 → <b>Unpanel is Opens</b> ← 17h50</p>
			</div>
		</div>
	</div>	

	{% assign agendaSpeakers = (site.data.2019jhb.speakers | sort: 'time' | group_by: 'time') %} 
	{% for agenda in site.data.2019jhb.agenda %}
		{% if agenda.type == 'break' %} 
			{% include index_speakers_break.html agenda=agenda %} 
		{% else %} 
			{% assign speakers=agendaSpeakers[agenda.sessionIndex].items %} 			
			{% include index_speakers_timeslot_base.html speakers=speakers agenda=agenda columns=2 imageSize=133 includeFirstColumn=true year=2019 city='jhb' %} 
		{% endif %} 
	{% endfor %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p class="break">17h50 → <b>Drinks, snacks, cocktails &amp; networking</b> ← 19h00</p>
			</div>
		</div>
	</div>
</section>