<section id="sponsors" class="section-light">
	<div class="container">
		<div class="">
			<div class="row double-top-buffer">
				<div class="col-md-12">
					<h1>Our Sponsors</h1>
					<p>Great conferences like this one would not be possible without great companies passionate about supporting the
						local software development community.</p>
					<p>We would like to thank the following companies for helping make DevConf possible.</p>
					<div class="register">
						<div class="container">
							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#sponsorsJhb">Johannesburg</a>
								</li>
								<li>
									<a data-toggle="tab" href="#sponsorsCpt">Cape Town</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="tab-content">
						<div id="sponsorsJhb" class="tab-pane in active">
							<div class="sponsor-type diamond">
								<h2>Diamond Sponsor</h2>
								<a href="https://derivco.co.za/" target="_blank"d>
									<img alt="Derivco" src="/public/images/sponsors/derivcoplatinum.jpg" />
								</a>
							</div>
							<div class="sponsor-type platinum">
								<h2>Platinum Sponsors</h2>
								<a href="https://www.allangray.co.za" target="_blank" rel="noopener noreferrer">
									<img alt="AllanGray" src="/public/images/sponsors/AllanGrayPlat.jpg" />
								</a>
								<a href="https://www.microfocus.com" target="_blank" rel="noopener noreferrer">
									<img alt="Micro Focus" src="/public/images/sponsors/mfplat.jpg" />
								</a>
								<a href="http://obsidian.co.za/" target="_blank" rel="noopener noreferrer">
									<img alt="Obsidian" src="/public/images/sponsors/obsidian_plat.jpg" />
								</a>
							</div>
							<div class="sponsor-type gold">
								<h2>Gold Sponsors</h2>
								<a href="http://www.eoh.co.za/" target="_blank" rel="noopener noreferrer">
									<img alt="EOH" src="/public/images/sponsors/eohgold.jpg" />
								</a>
								<a href="https://www.synthesis.co.za" target="_blank" rel="noopener noreferrer">
									<img alt="Synthesis" src="/public/images/sponsors/synthesisgold.jpg" />
								</a>
							</div>
							<div class="sponsor-type silver">
								<h2>Silver Sponsors</h2>
								<a href="https://www.accenture.com" target="_blank" rel="noopener noreferrer">
									<img alt="Accenture" src="/public/images/sponsors/accenturesilver.jpg" />
								</a>
								<a href="https://www.equalexperts.com/" target="_blank" rel="noopener noreferrer">
									<img alt="EqualExperts" src="/public/images/sponsors/EqualExpertsSilver.jpg" />
								</a>
								<a href="https://www.luno.com" target="_blank" rel="noopener noreferrer">
									<img alt="Luno" src="/public/images/sponsors/lunosilver.jpg" />
								</a>
								<a href="https://www.offerzen.co.za" target="_blank" rel="noopener noreferrer">
									<img alt="OfferZen" src="/public/images/sponsors/offerzensilver.jpg" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Bronze Sponsors</h2>
								<a href="https://www.dvt.co.za/" target="_blank" rel="noopener noreferrer">
									<img alt="DVT" src="/public/images/sponsors/dvtbronze.jpg" />
								</a>
								<a href="https://www.Microsoft.com" target="_blank" rel="noopener noreferrer">
									<img alt="Microsoft" src="/public/images/sponsors/microsoftbronze.jpg" />
								</a>
								<a href="https://www.redhat.com/" target="_blank" rel="noopener noreferrer">
									<img alt="Red Hat" src="/public/images/sponsors/redhatbronze.jpg" />
								</a>
							</div>
							<!--<div class="sponsor-type bronze">
								<h2>Video Sponsor</h2>
								<a href="http://obsidian.co.za/" target="_blank" rel="noopener noreferrer">
									<img alt="Obsidian" src="/public/images/sponsors/obsidian_bron.png" />
								</a>
							</div> -->
							<div class="sponsor-type bronze">
								<h2>Refreshment Sponsor</h2>
								<a href="https://www.bbd.co.za" target="_blank" rel="noopener noreferrer">
									<img alt="BBD" src="/public/images/sponsors/bbdrefreshment.jpg" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Bag Sponsor</h2>
								<a href="https://derivco.co.za/" target="_blank" rel="noopener noreferrer">
									<img alt="Derivco" src="/public/images/sponsors/derivcobag.jpg" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Media Sponsors</h2>
								<a href="https://www.digitalstreetsa.com/" target="_blank" rel="noopener noreferrer">
									<img alt="Digital Street" src="/public/images/sponsors/digitalstreet.jpg" />
								</a>
								<a href="http://www.htxt.co.za/" target="_blank" rel="noopener noreferrer">
									<img alt="htxt" src="/public/images/sponsors/htxt.jpg" />
								</a>
								<a href="http://www.it-online.co.za/" target="_blank" rel="noopener noreferrer">
									<img alt="IT-Online" src="/public/images/sponsors/itonline.jpg" />
								</a>
							</div>
						</div>
						<div id="sponsorsCpt" class="tab-pane">
							<div class="sponsor-type platinum">
								<h2>Diamond Sponsor</h2>
								<a href="https://www.flutterwave.com" target="_blank" rel="noopener noreferrer">
									<img alt="flutterwave" src="/public/images/sponsors/flutterwavediamond.jpg" />
								</a>
							</div>
							<div class="sponsor-type platinum">
								<h2>Platinum Sponsors</h2>
								<a href="https://www.Microsoft.com" target="_blank" rel="noopener noreferrer">
									<img alt="Microsoft" src="/public/images/sponsors/microsoftplat.jpg" />
								</a>
								<a href="http://obsidian.co.za/" target="_blank" rel="noopener noreferrer">
									<img alt="Obsidian" src="/public/images/sponsors/obsidian_plat.jpg" />
								</a>
								<a href="https://www.redhat.com/" target="_blank" rel="noopener noreferrer">
									<img alt="Red Hat" src="/public/images/sponsors/redhatplatinum.jpg" />
								</a>
							</div>
							<div class="sponsor-type gold">
								<h2>Gold Sponsors</h2>
								<a href="https://www.allangray.co.za" target="_blank" rel="noopener noreferrer">
									<img alt="AllanGray" src="/public/images/sponsors/AllanGrayGold.jpg" />
								</a>
								<a href="https://www.tfgcareers.co.za/" target="_blank" rel="noopener noreferrer">
									<img alt="TFS Infosec" src="/public/images/sponsors/tfggold.jpg" />
								</a>
							</div>
							<div class="sponsor-type silver">
								<h2>Silver Sponsor</h2>
								<a href="https://www.equalexperts.com/" target="_blank" rel="noopener noreferrer">
									<img alt="EqualExperts" src="/public/images/sponsors/EqualExpertsSilver.jpg" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Bronze Sponsor</h2>
								<a href="https://www.offerzen.co.za" target="_blank" rel="noopener noreferrer">
									<img alt="OfferZen" src="/public/images/sponsors/offerzenbronze.jpg" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Registration</h2>
								<a href="https://capenetworks.com/" target="_blank" rel="noopener noreferrer">
									<img alt="Aruba" src="/public/images/sponsors/arubaregistration.jpg" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Community Hero</h2>
								<a href="https://www.microfocus.com" target="_blank" rel="noopener noreferrer">
									<img alt="Micro Focus" src="/public/images/sponsors/mfcommunity.jpg" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Bag Sponsor</h2>
								<a href="https://www.saratoga.co.za" target="_blank" rel="noopener noreferrer">
									<img alt="Saratoga" src="/public/images/sponsors/saratogabag.jpg" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Refreshment Sponsor</h2>
								<a href="https://www.bbd.co.za" target="_blank" rel="noopener noreferrer">
									<img alt="BBD" src="/public/images/sponsors/bbdrefreshment.jpg" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Wifi Sponsor</h2>
								<a href="https://www.luno.com" target="_blank" rel="noopener noreferrer">
									<img alt="Luno" src="/public/images/sponsors/lunosilver.jpg" />
								</a>
							</div>
							<div class="sponsor-type bronze">
								<h2>Media Sponsors</h2>
								<a href="https://www.digitalstreetsa.com/" target="_blank" rel="noopener noreferrer">
									<img alt="Digital Street" src="/public/images/sponsors/digitalstreet.jpg" />
								</a>
								<a href="http://www.htxt.co.za/" target="_blank" rel="noopener noreferrer">
									<img alt="htxt" src="/public/images/sponsors/htxt.jpg" />
								</a>
								<a href="http://www.it-online.co.za/" target="_blank" rel="noopener noreferrer">
									<img alt="IT-Online" src="/public/images/sponsors/itonline.jpg" />
								</a>
							</div>
						</div>
					</div>
					<!-- <div>
						<p>Would you like your organization associated with DevConf? DevConf offers a variety of sponsorship opportunites
							to be
							able to connect with the best software developers in South Africa.</p>
						<p>Please download our
							<a href="/public/docs/DevConf%202019%20Sponsor%20Proposal.pdf" target="_blank" rel="noopener noreferrer">2019
								Sponsor Proposal</a> for information.</p>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>