<div id="speakers" class="section-light">
	<div class="container">
		<div class="row top-buffer">
			<div class="col-md-12">
				<div class="row">
					<h2>We want you!</h2>
                    <p>Thank you for the overwhelming response to our call for speakers! Our call for speakers is now closed.</p>                    
				</div>
			</div>
            <div class="col-md-12">
				<div class="row">
					<h3>Call for speakers timeline</h3>
                    <span class="text-left">
                        <p>17 September 2016 - Submissions Open</p>
                        <p>23 October 2016 - Submissions Close</p>
                        <p>20 November 2016 - Speakers Selected. Regardless of selection or not, we will contact you via email to let you know.</p>
                        <p>27 November 2016 - Deadline for Speakers to confirm</p>
                        <p>28 November 2016 - Announcements of Speakers</p>
                    </span>
				</div>
			</div>
		</div>		
	</div>
</div>
