<section class="section-light speakers">
		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="break">08h00 -> <b>Registration</b> <- 09h00</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="break">09h00 -> <b>Welcome & Keynote</b> <- 10h00</p>
				</div>
			</div>
		</div>
	
		{% include 2016/index_speakers_keynote.html %}

	
		{% assign agendaSpeakers = (site.data.2016.speakers | sort: 'time' | group_by: 'time') %}
		{% for agenda in site.data.2016.agenda %}
			{% if agenda.type == 'break' %}
				{% include 2016/index_speakers_break.html agenda=agenda %}
			{% else %}
				{% assign speakers=agendaSpeakers[agenda.sessionIndex].items %}
				{% include 2016/index_speakers_timeslot.html speakers=speakers agenda=agenda %}
			{% endif %}
		{% endfor %}
	</section>