<div class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://soundcloud.com/zadevchat/episode-23-devconf-with-rob-maclean" rel="noopener noreferrer" target="_blank">
					<p>Hear all about it from one of the organisers on</p>
					<i class="media media-ZADevChat"></i></a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.itweb.co.za/index.php?option=com_content&view=article&id=149816" rel="noopener noreferrer" target="_blank">
					<p>ITWeb - Local developers come together at DevConf</p>
					<i class="media media-itweb"></i></a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://it-online.co.za/2016/02/15/first-devconf-coming-to-sa-soon/" rel="noopener noreferrer" target="_blank">
					<p>IT Online - First DevConf coming to SA soon</p>
					<i class="media media-itologo"></i></a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://purelylocal.co.za/sa-software-developers-get-1st-major-networking-upskilling-conference-in-march/" rel="noopener noreferrer" target="_blank">
					<p>Purely local - SA software developers get 1st major networking &amp; upskilling conference in March</p>
					<i class="media media-purelylocal"></i></a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.itweb.co.za/index.php?option=com_content&view=article&id=150606" rel="noopener noreferrer" target="_blank">
					<p>IT Web - Mint sponsors DevConf 2016</p>
					<i class="media media-itweb"></i></a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.bizcommunity.com/Article/196/379/142025.html" rel="noopener noreferrer" target="_blank">
					<p>BizCommunity - SA's first DevConf draws a crowd</p>
					<i class="media media-biz-logo"></i></a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.digitalstreetsa.com/capacity-crowd-sas-first-devconf/" rel="noopener noreferrer" target="_blank">
					<p>Digital Street - Capacity crowd at SA’s first DevConf</p>
					<i class="media media-digitalstreet"></i></a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://www.facebook.com/pg/devconfza/photos/?tab=album&album_id=225167064610278" rel="noopener noreferrer" target="_blank">
					<p>Check out our 2016 photo album on Facebook!</p>
					<i class="media media-facebook"></i></a>
			</div>
		</div>
	</div>
</div>