<section id="sponsors" class="section-light">
	<div class="container">
		<div class="">
			<div class="row double-top-buffer">
				<div class="col-md-12">
					<h1>Our Sponsors</h1>
					<p>Great conferences like this one would not be possible without great companies passionate about supporting the local software development community.</p>
					<p>We would like to thank the following companies for helping make DevConf possible.</p>
					<div class="sponsor-type platinum">
						<h2>Platinum Sponsors</h2>
						<a href="http://www.bbd.co.za" target="_blank"><img alt="BBD" src="/public/images/sponsors/bbd.png" /></a>
						<a href="http://www.dvt.co.za" target="_blank"><img alt="DVT" src="/public/images/sponsors/dvt.png" /></a>                    
					</div>
					<!-- <div class="sponsor-type gold">
						<h2>Gold Sponsors</h2>
                        <a href="http://developers.google.com" target="_blank"><img alt="Google" src="/public/images/sponsors/google.png" /></a>
                        <a href="https://www.microsoft.co.za/" target="_blank"><img alt="Microsoft" src="/public/images/sponsors/Microsoft.png" /></a>
					</div>--> 
					<div class="sponsor-type silver">
						<h2>Silver Sponsors</h2>
						<a href="https://www.offerzen.com/" target="_blank"><img alt="OfferZen" src="/public/images/sponsors/offerzen.png" /></a>                    
					</div>
					<!--<div class="sponsor-type bronze">
						<h2>Bronze Sponsors</h2>
                        <a href="http://www.chillisoft.co.za" target="_blank"><img alt="Chillisoft" src="/public/images/sponsors/Chillisoft.jpg" /></a>
						<a href="http://mint.co.za" target="_blank"><img alt="Mint" src="/public/images/sponsors/mint.png" /></a>
					</div>-->
					<div class="sponsor-type bronze">
						<h2>Speakers Dinner Sponsor</h2>
                        <a href="http://www.entelect.co.za" target="_blank"><img alt="Entelect" src="/public/images/sponsors/entelect.jpg" /></a>
					</div>
					<!--<div class="sponsor-type bronze">
						<h2>Cocktail Function Sponsor</h2>
                        <a href="http://www.entelect.co.za" target="_blank"><img alt="Entelect" src="/public/images/sponsors/entelect.jpg" /></a>
					</div>-->
					<div>
						<p>Would you like your organization associated with DevConf? DevConf offers a variety of sponsorship opportunites to be able to connect with the best software developers in South Africa.</p>
						<p>Please download our <a href="/public/docs/DevConf 2017 Sponsorship Proposal.pdf" target="_blank">2017 Sponsor Proposal</a> for information.</p> 
						<p>If you have any questions or would like more information, please <a href="#contactus" target="_blank">contact us</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
