<div class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://soundcloud.com/robert-maclean-940380046/candice-on-safm-in-2017-talking-about-devconf" target="_blank">
					<p>Hear Candice talking about DevConf on SAFM!</p>
					<img src="/public/images/media/safm.jpg" />
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://www.facebook.com/media/set/?set=a.252782738515377.1073741831.224367094690275&type=1&l=851e98f3ab" target="_blank">
					<p>Check out our 2017 photo album on Facebook!</p>
					<i class="media media-facebook"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://soundcloud.com/zadevchat/57-5-devconf-2017" target="_blank">
					<p>Hear all about how it went from the organisers on:</p>
					<i class="media media-ZADevChat"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.digitalstreetsa.com/devconf-2017-highlights-top-coding-challenges/" target="_blank">
					<p>Digital Street - DevConf 2017 highlights top coding challenges:</p>
					<i class="media media-digitalstreet"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.itweb.co.za/index.php?option=com_content&view=article&id=159976" target="_blank">
					<p>ITWeb - Obsidian Systems, Atlassian leading collaboration of great delivery in DevOps:</p>
					<i class="media media-itweb"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.itweb.co.za/index.php?option=com_content&view=article&id=159841:DevConf-2017-another-sold-out-success&catid=1359"
				    target="_blank">
					<p>ITWeb - DevConf 2017: another sold-out success:</p>
					<i class="media media-itweb"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://adcomm.co.za/602-epic-swag-at-devconf2017" target="_blank">
					<p>ADComm - 'epic swag' at DevConf2017:</p>
					<i class="media media-adcomm"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.itweb.co.za/index.php?option=com_content&view=article&id=159623" target="_blank">
					<p>ITWeb - DevConf 2017 tackles hot software development topics:</p>
					<i class="media media-itweb"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.htxt.co.za/2017/02/27/learn-how-ai-becomes-racist-at-this-years-devconf/?utm_source=rss&utm_medium=rss"
				    target="_blank">
					<p>htxt.africa - Learn how AI becomes racist at this year’s DevConf:</p>
					<i class="media media-htxt"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://it-online.co.za/2017/02/23/sponsors-promise-epic-swag-at-devconf2017/" target="_blank">
					<p>IT Online - Sponsors promise ‘epic swag’ at DevConf2017:</p>
					<i class="media media-itologo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://companies.mybroadband.co.za/dvt/2017/02/21/dvt-spotlights-agility-in-software-development-googles-android-things-at-devconf-2017/"
				    target="_blank">
					<p>MyBroadband - DVT spotlights Agility in software development...:</p>
					<i class="media media-mybroadband"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://it-online.co.za/2017/02/10/from-mob-programming-to-blockchain/" target="_blank">
					<p>IT Online - From mob programming to blockchain:</p>
					<i class="media media-itologo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="https://mybroadband.co.za/news/software/197817-devconf-2017-coming-to-gauteng.html" target="_blank">
					<p>MyBroadband - DevConf 2017 coming to Gauteng:</p>
					<i class="media media-mybroadband"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.bizcommunity.com/Article/196/743/157380.html" target="_blank">
					<p>BizCommunity - DevConf 2017 to present hottest topics to SA developers:</p>
					<i class="media media-biz-logo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://africabusiness.com/2017/02/08/devconf-2017/" target="_blank">
					<p>AfricaBusiness.com - From Mob Programming to Blockchain: DevConf 2017 covers it all:</p>
					<i class="media media-africabusiness"></i>
				</a>
			</div>

			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://it-online.co.za/2016/12/02/devconf-2-0-doubles-in-size/" target="_blank">
					<p>IT Online - DevConf 2.0 doubles in size:</p>
					<i class="media media-itologo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.insurancegateway.co.za/ShorttermProfessionals/Events/EventDetails/Irn=566&URL=DevConf+20++Midrand+9+March+2017#.WJoc5rZ97Ya"
				    target="_blank">
					<p>Insurance Gateway - DevConf 2.0 – Midrand, 9 March 2017:</p>
					<i class="media media-insurancegateway"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.bizcommunity.com/Article/196/379/154516.html" target="_blank">
					<p>BizCommunity - DevConf returns to Joburg in 2017:</p>
					<i class="media media-biz-logo"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://www.digitalstreetsa.com/devconf-2-0-doubles-size/" target="_blank">
					<p>Digital Street - DevConf 2.0 doubles in size:</p>
					<i class="media media-digitalstreet"></i>
				</a>
			</div>
			<div class="col-xs-2 mediaCard" style="text-align: center;">
				<a href="http://adcomm.co.za/571-from-mob-programming-to-blockchain-devconf-2017-covers-it-all" target="_blank">
					<p>ADComm - From Mob Programming to Blockchain: DevConf 2017 covers it all:</p>
					<i class="media media-adcomm"></i>
				</a>
			</div>
		</div>
	</div>
</div>