<div class="container">	
	{% assign sorted_speakers = (include.speakers | sort: 'track_order') %} 
	{% for speaker in sorted_speakers %} 
		{% assign loopindex = forloop.index | modulo: 5 %} 
		{% if loopindex == 1 %}

	<div class="row">
			{% if include.includeFirstColumn %}
		<div class="col-md-1">&nbsp;</div>
			{% endif %}
		{% endif %}		
		{% if speaker.lightning == true %}
			{% include timeslot_lightningcard.html speaker=speaker columns=include.columns imageSize=include.imageSize year=include.year city=include.city %}
		{% else %}
			{% include timeslot_normalcard.html speaker=speaker columns=include.columns imageSize=include.imageSize year=include.year city=include.city %}
		{% endif %}
		{% if loopindex == 0 or forloop.last %}
	</div>

	{% endif %} 
	{% endfor %}
</div>