<div class="row" data-toggle="modal" data-target="#keynotemodal2018{{ include.location }}">
	<div class="col-md-10 col-md-offset-1">
		<p class="break">09h15 → <b>Keynote</b> ← 10h00</p>
		<div class="container">
			<div class="row">

				<div class="col-md-2 col-md-offset-4">
					<div class="pic-box" data-toggle="modal">
						<div class="track">Keynote Speaker</div>
						<div class="time">9:15</div>
						<img src="/public/images/speakers/marco.png" />
						<span class="name">Marco Heimeshoff</span>
						<div class="title">Software development is not about software</div>
						<div class="social">
							<a href="http://www.twitter.com/heimeshoff" rel="noopener noreferrer" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-md-offset-2">
					<div class="pic-box">
						<span class="title">You can tap on the tiles to learn more about our speakers and their topics!</span>
					</div>
				</div>
			</div>
		</div>
		<div id="keynotemodal2018{{ include.location }}" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div class="social">
							<a href="http://www.twitter.com/heimeshoff" rel="noopener noreferrer" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
						</div>
						<h4 class="modal-title">
							Software development is not about software
						</h4>
						<h5>
							Keynote 09h15
						</h5>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<h3>Software development is not about software</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<img src="/public/images/speakers/marco.png" /> We build software that changes the world. From optimizing small
								companies to connecting humans and businesses on a global scale, our
								work plays a hidden but major role. Software development is not about
								software, it is about understanding the customers domain and solving
								their problems. We need a culture, a way of thinking about the needs
								of the customers first and putting an emphasis on their language and
								human interactions. If we let the domain drive our design, we can
								tackle complexity in the heart of software. The pillars of Domain
								Driven Design are learning, language and empathy. With the right
								mindset it becomes simple to derive good models, keep them pure and
								aligned with the business.
								Simple is not easy, but done right Domain Driven Design transforms
								everything in your organisation: code, culture, agile and
								architecture.
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								Marco Heimeshoff is a trainer, coach and software developer from
germany. He co-organizes KanDDDinsky, a conference about the art of
business software and founded the german DDD community in 2013.
Marco Heimeshoff has an unhealty relationship with Domain Driven
Design, and won't leave any stone unturned once you lend him an ear
and sticky notes.
He believes that life long learning, focus on language and empathy are
the three pillars of quality development. Frustration about the same
old methods of working together and developing solutions lead him to
Domain Driven Design, agile software development, functional
programming and CQRS with event sourcing. With ten years of experience
in these topics he helps teams to change and learn in all things from
code to culture.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
		<!-- /.modal-->
	</div>
</div>