<div class="row" data-toggle="modal" data-target="#keynotemodal2019{{ include.location }}">
	<div class="col-md-10 col-md-offset-1">
		<p class="break">08h45 → <b>Keynote</b> ← 9h30</p>
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-md-offset-4">
					<div class="pic-box" data-toggle="modal">
						<div class="track">Keynote Speaker</div>
						<div class="time">8:45</div>
						<img src="/public/images/speakers/2019/cliff.jpg" />
						<span class="name">Clifford de Wit</span>
						<div class="title">The age of the modern Developer</div>
						<div class="social">
							<a href="https://www.linkedin.com/in/clifford-de-wit-5a3a932/" rel="noopener noreferrer" target="_blank"> <i
								 class="fa fa-linkedin"></i> </a>
							<a href="http://www.twitter.com/clifforddw" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-md-offset-2">
					<div class="pic-box">
						<span class="title">You can tap on the tiles to learn more about our speakers and their topics!</span>
					</div>
				</div>
			</div>
		</div>
		<div id="keynotemodal2019{{ include.location }}" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div> 
						<h4 class="modal-title">
							Clifford de Wit
						</h4>
						<h5>
							Keynote 08h45
						</h5>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<h3>
									The age of the modern Developer
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<img src="/public/images/speakers/2019/cliff.jpg" />
								This talk will cover the evolution of the developer and how as developers today we are in such a privileged
								position to have impact in our businesses but also on the world and society.
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								In his current role Clifford is the CTO and co-founder of a new Digital business within the Metrofile group,
								Dexterity Digital. Dexterity is focused on building out leading Digital Transformation products to help
								companies move to the digital world and gain value out of new technologies such as Cloud Computing and Machine
								Learning.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-->
	</div>
</div>