<div class="row" data-toggle="modal" data-target="#keynotemodal2018{{ include.location }}">
	<div class="col-md-10 col-md-offset-1">
		<p class="break">09h15 → <b>Keynote</b> ← 10h00</p>
		<div class="container">
			<div class="row">

				<div class="col-md-2 col-md-offset-4">
					<div class="pic-box" data-toggle="modal">
						<div class="track">Keynote Speaker</div>
						<div class="time">9:15</div>
						<img src="/public/images/speakers/davidhussman133.png" />
						<span class="name">David Hussman</span>
						<div class="title">What Developers Can Do to Make the World a Better Place</div>
						<div class="social">
							<a href="http://www.twitter.com/davidhussman" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-md-offset-2">
					<div class="pic-box">
						<span class="title">You can tap on the tiles to learn more about our speakers and their topics!</span>
					</div>
				</div>
			</div>
		</div>
		<div id="keynotemodal2018{{ include.location }}" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div class="social">
							<a href="http://www.twitter.com/davidhussman" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
						</div>
						<h4 class="modal-title">
							David Hussman
						</h4>
						<h5>
							Keynote 09h15
						</h5>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<h3>What Developers Can Do to Make the World a Better Place</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<img src="/public/images/speakers/davidhussman250.png" /> For the last 18 years, I have watched tech teams take ownership of builds, deploys and what I might call "all things
								automatable". This has changed the way digital products are produced and in many cases improved our ability to make
								incremental changes. While this is true, there are also many teams, and companies, so wound up that they can automate
								their pipeline that missing the obvious fact that their best efforts are not positively impacting their customers
								or investors. What if developers, and others working on whole product teams, looked at their next iteration by asking
								"What is our next best investment?". Is it learning from discovery, or learning "outside the code", or is it learning
								in production, or "inside the code". Let's explore how each person at this conference can use their skills, experience,
								empathy, and cleverness to make the next best investment in learning, and avoid getting more done that may not make
								real and lasting impact for the people using their product(s).
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								David teaches and coaches product discovery through iterative delivery. He has spent the last 15 years coaching agility and
								producing products for companies of all sizes around the world. David’s coaching is non-dogmatic and pragmatic. His
								focus on getting to know a project community allows him to seed self-discovery and avoid falling into the expert
								trap of simply telling people what they “should do". David spends most of his time with teams, helping them create
								and validate product ideas and roadmaps with responsive engineering. He also works with leadership teams to pragmatically
								introduce the type of lasting agility that fosters innovation and creates a competitive edge. David was awarded The
								Gordon Pask Award and has contributed to Agile at Scale, Story Mapping, and many other publications and presentations
								that can be found on-line.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
		<!-- /.modal-->
	</div>
</div>