<div class="row" data-toggle="modal" data-target="#keynotemodal2018{{ include.location }}">
	<div class="col-md-10 col-md-offset-1">
		<p class="break">09h15 → <b>Keynote</b> ← 10h00</p>
		<div class="container">
			<div class="row">

				<div class="col-md-2 col-md-offset-4">
					<div class="pic-box" data-toggle="modal">
						<div class="track">Keynote Speaker</div>
						<div class="time">9:15</div>
						<!-- <img src="/public/images/speakers/davidhussman133.png" /> -->
						<span class="name">To be announced</span>
						<div class="title">To be announced</div>
						<div class="social">
							<!-- <a href="http://www.twitter.com/davidhussman" target="_blank">
								<i class="fa fa-twitter"></i>
							</a> -->
						</div>
					</div>
				</div>
				<div class="col-md-2 col-md-offset-2">
					<div class="pic-box">
						<span class="title">You can tap on the tiles to learn more about our speakers and their topics!</span>
					</div>
				</div>
			</div>
		</div>
		<div id="keynotemodal2018{{ include.location }}" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div class="social">
							<!-- <a href="http://www.twitter.com/davidhussman" target="_blank">
								<i class="fa fa-twitter"></i>
							</a> -->
						</div>
						<h4 class="modal-title">
							To be announced
						</h4>
						<h5>
							Keynote 09h15
						</h5>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<h3><!-- Talk title--></h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<img src="" /> <!-- About the talk -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<!-- About the speaker -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
		<!-- /.modal-->
	</div>
</div>