<div class="sponsor-content-detail-package-card{{ include.suffix }}">
    <div>{{ package.title }}</div>
    <div>{{ package.price }}</div>
    {% if package.limit %}    
    <div>Limited to {{ package.limit }}
        {% if package.sold_out %}
        <div class="sponsor-content-detail-package-card-remaining">SOLD OUT!</div>
        {% else %}
            {% if package.remaining == 0 %}
            <div class="sponsor-content-detail-package-card-remaining">All packages reserved</div>
            {% elsif package.remaining > 0 %}
            <div class="sponsor-content-detail-package-card-remaining">Only {{package.remaining}} left</div>
            {% endif %}
        {% endif %} 
    </div>
    {% else %}    
    <div>&nbsp;</div>
    {% endif %}
    <!-- <img src="/public/images/sponsorship/{{ package.logo }}" /> -->
    {% if package.expo_space %}
    <div>Exhibition & networking space</div>
    <div>{{ package.expo_space }}</div>
    {% endif %}
    {% if package.speakerSlot %}
    <div>Speaker Slot</div>
    <div>50 minute speaker slot</div>
    {% endif %}
    <a class="sponsor-button more-info" href="{{ package.url }}">More Info</a>
</div>