{% assign event = site.data.config.events[include.offset] %}

<div class="sponsor">
    <div class="{{ include.baseStyle }}">
        <div class="{{ include.baseStyle }}-ellipse">&nbsp;</div>
        <div class="sponsor-title-content">
            <div>DevConf {{ event.location }} {{ site.data.config.general.year }} - Feedback</div>
            <div class="sponsor-title-content-third">This is your event! Tell us how to improve it for you!</div>
            <div class="sponsor-title-content-third">Want to win a Loadshedding Essentials Kit which conatins a GIZZU 242Wh Portal Power Station and solar panels, complete your email in "Demographics"</div>
        </div>
    </div>

    <h1>Thanks! Feedback is now closed!</h1>
</div>

