<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(function () {
        $('a.page-scroll').bind('click', function (event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });


    function countDown(confDays, targetPrefix) {
        const now = new Date();
        const root = `#${targetPrefix}countdown-timer`;

        if (now >= confDays) {
            $(root).hide();
        } else {
            const timeDiff = Math.abs(confDays.getTime() - now.getTime());
            const days = Math.floor(timeDiff / 86400000);
            const daysms = days * 86400000;
            const hours = Math.floor((timeDiff - daysms) / 3600000);
            const hoursms = hours * 3600000;
            const mins = Math.floor((timeDiff - daysms - hoursms) / 60000);
            const minsms = mins * 60000;
            const secs = Math.floor((timeDiff - daysms - hoursms - minsms) / 1000);
            $(`${root} #countdown-days`).html(days);
            $(`${root} #countdown-hours`).html(hours);
            $(`${root} #countdown-mins`).html(mins);
            $(`${root} #countdown-secs`).html(secs);
        }
    }

    function joburg() {
        countDown(new Date(2019, 2, 28, 9, 0, 0), 'joburg');
    }

    function capeTown() {
        countDown(new Date(2019, 2, 26, 9, 0, 0), 'capetown');
    }
 
    $(function () {
        $("#currentYear").text((new Date()).getFullYear());
        joburg();
        capeTown();
        setInterval(joburg, 1000);
        setInterval(capeTown, 1000);
  
        var profilePosition = window.location.href.indexOf('/#profile');
        if (profilePosition > -1) {
            var profileToOpen = `#${window.location.href.substring(profilePosition+10)}Modal`;
            $(profileToOpen).modal('show')
        }
    });
</script>