<div id="{{ include.modelId }}{{ include.year }}{{ include.city }}Modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="link" href="#profile-{{ include.modelId }}{{ include.year }}{{ include.city }}">🔗</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% if speaker.pair == true %}
                <h4 class="modal-title">
                    {{ speaker.firstname1 }} {{ speaker.lastname1 }} and {{ speaker.firstname2 }} {{ speaker.lastname2
                    }}
                </h4>
                {% else %}
                <h4 class="modal-title">
                    {{ speaker.firstname }} {{ speaker.lastname }}
                </h4>
                {% endif %}
                <h5>
                    {{ speaker.track }} {{ speaker.time }}
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{ speaker.title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="popupImage">
                            {% if speaker.pair == true %}
                            <div class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="{{ speaker.pic1 }}?s=250&r=g&d=https%3A%2F%2Fwww.devconf.co.za%2Fpublic%2Fms-icon-310x310.png" />
                                    </div>

                                    <div class="item">
                                        <img src="{{ speaker.pic2 }}?s=250&r=g&d=https%3A%2F%2Fwww.devconf.co.za%2Fpublic%2Fms-icon-310x310.png" />
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <img src="{{ speaker.pic }}?s=250&r=g&d=https%3A%2F%2Fwww.devconf.co.za%2Fpublic%2Fms-icon-310x310.png" />
                            {% endif %}
                        </div>
                        {% capture abstractFilename %}/public/talkdescriptions/{{ include.year
                        }}/{{include.modelId}}.html{% endcapture %}
                        {% for static_file in site.static_files%}
                        {% if static_file.path == abstractFilename %}
                        {% include_relative {{ abstractFilename }} %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->