<div class="sponsor">
    <div class="{{ include.baseStyle }}">
        <div class="{{ include.baseStyle }}-ellipse">&nbsp;</div>
        <div class="sponsor-title-content sponsor-title-content-package">
            <div class="sponsor-title-content-third">[ {{ include.city }} ]</div>
            <div>{{ page.title }}</div>
            <div class="sponsor-title-content-second">{{ page.price }}</div>
            {% if page.limit %}
            <div class="sponsor-title-content-second">Limited to {{ page.limit }} sponsor/s</div>
            {% endif %}
        </div>
    </div>

    <div class="sponsor-title-content-package-image">
        <img src="/public/images/sponsorship/{{ page.large-logo }}" />
    </div>

    <div class="sponsor-content-detail sponsor-content-detail-white">
        <div class="sponsor-content-detail-heading">Brand Exposure</div>
        <div class="sponsor-content-detail-brand">
            <div>Logo on all scheduled emails to database</div>
            <div>Logo on event website</div>
            <div>Logo and sponsorship acknowledgement in keynote</div>
            <div>Logo on printed agenda</div>
            {% for benefit in page.brand_benefits %}
            <div>{{ benefit }}</div>
            {% endfor %}
            <div>Option to include brochure and/or promotional item in delegate bag – (subject to refusal)</div>
            <div>Logo size on all material: {{ page.logo_size }}%</div>
        </div>
    </div>

    <hr/>

    {% if page.expo %}
    <div class="sponsor-content-detail sponsor-content-detail-white">
        <div class="sponsor-content-detail-heading">Exhibition Space &amp; Networking Area</div>
        <div class="sponsor-content-detail-expo">
            {% if page.expo_space %}
            <div><strong>{{ page.expo_space }} {{ page.stand_style }}</strong> stand with raised carpeting flooring,
                branded counter which can be
                used for storage space, mounted plasma screen, plug point for screen and
                laptop</div>
            <div>{{ page.furniture }}</div>
            {% endif %}
            {% if page.watercooler %}
            <div>Water cooler at stand to bring attendees to the stand</div>
            {% endif %}
            {% if page.banners %}
            <div>Option to display {{ page.banners }} pull up banners in networking area</div>
            {% endif %}
            {% for extra in page.expo_extras %}
            <div>{{ extra }}</div>
            {% endfor %}
        </div>
    </div>
    <hr/>
    {% if page.stand %}
    <div class="sponsor-content-detail sponsor-content-detail-white">
        <div class="sponsor-content-detail-heading">Exhibition Stand</div>
        <div class="sponsor-content-detail-expo-stand">
            <a href="/public/docs/2020/{{page.stand}}.pdf" target="_blank">
                Click to view the amazing new 2020 stand design unique to the {{ page.title }} package<br />
                <img src="/public/images/sponsorship/2020/{{page.stand}}-1.png" alt="Stand design" />
            </a>
            Note: Branding will be tailored to your company.
        </div>
    </div>
    <hr/>
    {% endif %}
    {% endif %}

    <div class="sponsor-content-detail sponsor-content-detail-white">
        <div class="sponsor-content-detail-heading">Conference Benefits</div>
        <div class="sponsor-content-detail-benefits">
            {% if page.delegateDB %}
            <div>Access to delegate database (based on opt in)</div>
            {% endif %}
            {% if page.speakerSlot %}
            <div>50 minute speaker slot (Subject to content approval. Single presenter only)</div>
            {% endif %}
            <div>{{ page.passes }} x Delegate passes with full access to event</div>
            {% if page.discount_disabled == false %}
            <div>Maximum discount of 12,5% on delegate tickets (not applicable on early bird or existing bulk discount
                prices)</div>
            {% endif %}
        </div>
    </div>

    {% if page.exclusive %}
    <hr/>
    <div class="sponsor-content-detail sponsor-content-detail-white">
        <div class="sponsor-content-detail-heading">Exclusive {{ page.title }} Only Benefit</div>
        <div class="sponsor-content-detail-exclusive">
            {% for benefit in page.exclusive %}
            <div>{{ benefit }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="sponsor-content-detail">
        <a class="sponsor-button" href="/packages">Explore All Sponsorships</a>
    </div>
</div>