{% assign modelId = speaker.details %} 

<div class="col-md-{{ include.columns }}">
	{% if speaker.publish == true %}
	<div class="pic-box" data-toggle="modal" data-target="#{{ modelId }}{{ include.year }}{{ include.city }}Modal">
			<div class="track">{{ speaker.track }}</div>
		<div class="time">{{ speaker.time }}</div>

		<div class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active">
					<img src="{{ speaker.pic1 }}?s={{ include.imageSize }}&r=g&d=https%3A%2F%2Fwww.devconf.co.za%2Fpublic%2Fms-icon-310x310.png"/>
				</div>

				<div class="item">
					<img src="{{ speaker.pic2 }}?s={{ include.imageSize }}&r=g&d=https%3A%2F%2Fwww.devconf.co.za%2Fpublic%2Fms-icon-310x310.png"/>
				</div>

				<div class="item">
					<img src="{{ speaker.pic3 }}?s={{ include.imageSize }}&r=g&d=https%3A%2F%2Fwww.devconf.co.za%2Fpublic%2Fms-icon-310x310.png"/>
				</div>
			</div>
		</div>

		<span class="lightning">LIGHTNING TALKS with</span>
		<span>
			<ul class="lightningList">
				<li class="lightningItem">
					<span class="title">{{ speaker.title1 }}</span><span class="lightningname">&nbsp;by {{ speaker.name1 }}</span></li>
				<li class="lightningItem">
					<span class="title">{{ speaker.title2 }}</span><span class="lightningname">&nbsp; by {{ speaker.name2 }}</span></li>
				<li class="lightningItem">
					<span class="title">{{ speaker.title3 }}</span><span class="lightningname">&nbsp; by {{ speaker.name3 }}</span></li>
			</ul>
		</span>
	</div>
	
	{% include speaker_modernlightningpopup.html speaker=speaker year=include.year modelId=modelId city=include.city %} 
	{% else %} 
	{% include timeslot_notAnnounced.html %}
	{% endif %}
</div>
