{% assign modelId = speaker.firstname | replace: ' ', '' | append:speaker.lastname | replace: ' ', '' %} 

<div class="col-md-{{ include.columns }}">
	{% if speaker.publish == true %}
	<div class="pic-box" data-toggle="modal" data-target="#{{ modelId }}{{ include.year }}{{ include.city }}Modal">
		<div class="track">{{ speaker.track }}</div>
		<div class="time">{{ speaker.time }}</div>
		{% if speaker.pair == true %}
		<div class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active">
					<img src="{{ speaker.pic1 }}?s={{ include.imageSize }}&r=g&d=https%3A%2F%2Fwww.devconf.co.za%2Fpublic%2Fms-icon-310x310.png"
					/>
				</div>

				<div class="item">
					<img src="{{ speaker.pic2 }}?s={{ include.imageSize }}&r=g&d=https%3A%2F%2Fwww.devconf.co.za%2Fpublic%2Fms-icon-310x310.png"
					/>
				</div>
			</div>
		</div>

		<span class="name">{{ speaker.firstname1 }} {{ speaker.lastname1 }}
			<br/>with
			<br/> {{ speaker.firstname2 }} {{ speaker.lastname2 }}</span>
		{% else %}
		<img src="{{ speaker.pic }}?s={{ include.imageSize }}&r=g&d=https%3A%2F%2Fwww.devconf.co.za%2Fpublic%2Fms-icon-310x310.png"
		/>
		<span class="name">{{ speaker.firstname }} {{ speaker.lastname }}</span>
		{% endif %}
		<div class="title">{{ speaker.title }}</div>
		<div class="social">
			{% if speaker.twitter.size > 0 %}
			<a href="http://www.twitter.com/{{ speaker.twitter }}" rel="noopener noreferrer" target="_blank">
				<i class="fa fa-twitter"></i>
			</a>
			{% endif %} {% if speaker.linkedin.size > 0 %}
			<a href="https://za.linkedin.com/in/{{ speaker.linkedin }}" rel="noopener noreferrer" target="_blank">
				<i class="fa fa-linkedin"></i>
			</a>
			{% endif %}
			<i class="fa fa-info"></i>
			{% if speaker.slides.size > 0 %}
			<a href="{{ speaker.slides }}" rel="noopener noreferrer" target="_blank">
				<i class="fa fa-laptop"></i>
			</a>
			{% endif %}
		</div>
	</div>

	{% include speaker_modernpopup.html speaker=speaker year=include.year modelId=modelId city=include.city %} 
	{% else %} 
	{% include timeslot_notAnnounced.html %}
	{% endif %}
</div>