<div id="tracks" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>5 - Tracks</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>Crafting Code</h2>
				<h3>Topics:</h3>
				<p>Code related, can be language specific but will span across languages</p>
				<h3>Keywords: </h3>
				<p>Object Oriented Design, Principles, Functional & Lambdas, Legacy Code, Legacy Systems, Refactoring, Software Craftsmanship</p>
			</div>
		</div>
	</div>
</div>