<section id="tracks" class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Tracks</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table class="table table-striped">
					<tr>
						<th class="track">Track</th>
						<th class="description">Description</th>
						<th class="keywords">Keywords</th>
					</tr>
					<tr>
						 <td>Crafting Code</td>
						 <td>Code related, can be language specific but will span across languages</td>
						 <td>Object Oriented Design, Principles, Functional & Lambdas, Legacy Code, Legacy Systems, Refactoring, Software Craftsmanship</td>
					</tr>
					<tr>
						 <td>Databases & Infrastructure</td>
						 <td>DB related Multiple database paradigms from Relational Databases to Graph & Object Databases</td>
						 <td>Sql,, Mongo, Neo4J, Rest Architectures, Security, Sql Server, Oracle</td>
					</tr>
					<tr>
						 <td>DevOps & Automation</td>
						 <td>DevOps and automation of deployment related Include specific automation approaches provided, what worked, what was a challenge</td>
						 <td>Chef, Puppet, Ansible, Octopus Deploy, Test Driven Infrastructure, Docker, Slack, TFS, TeamCity, Jenkins, Go CI, Rational</td>
					</tr>
					<tr>
						 <td>Tools & Experiences</td>
						 <td>Topics related to experiences in teams, or tools that practitioner’s find useful</td>
						 <td>Mentoring, Working in Teams, Git, Visual Studio Tips & Techniques, Vim, Eclipse, NetBeans, Dealing with Diversity</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>