.top-buffer {
    margin-top: 20px;
}

.double-top-buffer {
    margin-top: 40px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.double-bottom-buffer {
    margin-bottom: 40px;
}

.large {
    font-size: 36px;
}

.medium {
    font-size: 26px;
}

.image-responsive-center {
    img {
        display: block;
        padding-bottom: 20px;
        width: 300px;
        margin: 0 auto;
    }
    .img-large {
        width: 300px;
    }
}

//768px;
@media (min-width:@screen-sm-min) {
    .image-responsive-center {
        img {
            display: block;
            padding-bottom: 20px;
            width: 390px;
        }
        .img-large {
            width: 550px;
        }
    }
}

//992px;
@media (min-width:@screen-md-min) {
    .image-responsive-center {
        img {
            display: block;
            padding-bottom: 20px;
            width: 390px;
        }
        .img-large {
            width: 650px;
        }
    }
}

// 1200px;
@media (min-width:@screen-lg-min) {
    .image-responsive-center {
        img {
            width: 470px;
        }
        .img-large {
            width: 750px;
        }
    }
}

.emailUs {
    color: @brand-3;
    &:hover {
        color: lighten(@brand-3, 10%);
    }
}

.largerFont {
    font-size: 18px;
}


/*#ticketframe{
    display:none;
}

#registerMenuLink{
  display:none;
}

#booknow{
 display:none;
}*/

a.redirectionLink {
    color: @brand-3;
    &:hover {
        color: darken(@brand-3, 10%);
    }
}

.mediaCard {
    height: 200px;
    width: 220px;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    margin: 5px;
    &>a>p {
        color: black;
        text-decoration: none;
        font-size: 16px;
    }

    @media (max-width: 460px) {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

.soldOut {
    color: @brand-2;
    font-size: 34px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus  {
    color: white;
    background-color: #990020;
} 

.devuglink {
    color: @brand-2;
    text-decoration: underline;

    &:hover{
        color: @brand-2;
    }

    &:focus{
        color: @brand-2;
    }
}