.top-buffer { 
	margin-top: 20px;
}
.double-top-buffer { 
	margin-top: 40px;
}

.bottom-buffer { 
	margin-bottom: 20px;
}

.double-bottom-buffer { 
	margin-bottom: 40px;
}

.large {
	font-size: 36px;
}

.medium {
	font-size: 26px;
}

.image-responsive-center {
	img { 
		display: block;
		padding-bottom: 20px;
		width: 300px;
		margin: 0 auto;
	}
	.img-large { width: 300px; }
}

//768px;
@media (min-width:@screen-sm-min) {	
	.image-responsive-center {
		img { 
			display: block;
			padding-bottom: 20px;
			width: 390px;
		}
		.img-large { width: 550px; }
	}
}

//992px;
@media (min-width:@screen-md-min) {	
	.image-responsive-center {
		img { 
			display: block;
			padding-bottom: 20px;
			width: 390px;
		}
		.img-large { width: 650px; }
	}
}

// 1200px;
@media (min-width:@screen-lg-min) {
	.image-responsive-center {
		img { 
			width: 470px;
		}
		.img-large { width: 750px; }
	}
}
