#purpose { 
	background-color: @purpose-background;
	padding-top: 120px;
	padding-bottom: 120px;
	color: @purpose-text-color;

	h1 { color: @brand-primary; font-size: 19px; }
	h2 { color: @brand-2; font-size: 17px; }
	h3 { color: @brand-3; font-size: 15px; }

	input {
		width: 200px;
	}
	.input-group-btn {
		width: 96px;
	}

	form {
		padding-top: 140px;
	}

}
