#bannerSeparator { 
	background-image: url(http://www.devconf.co.za/public/images/RandomSeparator1Edited.png); 
	background-color: @separator-background;
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	text-align: center;
	padding-top: 90px;
	padding-bottom: 90px;
}

#tracksSeparator { 
	background-image: url(http://www.devconf.co.za/public/images/RandomSeparator1Edited.png); 
	background-color: @separator-dark;
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	color: @white-base;
	text-align: center;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 90px;
}
