#bannerSeparator { 
	background-image: url(http://www.devconf.co.za/public/images/RandomSeparator1Edited.png); 
	background-color: @gray-lighter;
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 

	color: #333333;
	text-align: center;
}
