#speakers { 
	color: #333333;
	text-align: center;
	padding-bottom: 100px;
	
	h2 {
		padding-top: 40px;
		font-size: 20px;
	}

	ul {
		list-style: none;
	}

	img {
	    width: 100%;
	    border: 1px solid white;
	}
	.pic-box {
	    width: 100%;
	    border-radius: 8px;
	    border-color: @brand-primary;
	    background-color: @brand-primary;
	    padding: 15px;
	    margin-bottom: 20px;

	    a {
	    	color: @brand-2; //@gray-lighter;
	    }

	    i {
	    	    font-size: 27px;
			    position: relative;
			    top: 5px;
	    }

	    .name {
	    	color: @brand-3; //@gray-lighter;
			padding: 15px;
			display: inline-block;
			font-weight: bold;	
	    }

	    .track {
	    	color: @gray-lighter;
			padding: 0px;
			display: inline-block;
		    font-size: 12px;
		    font-weight: 100;
	    }
	}
}
