#sponsors { 
	color: #333333;
	text-align: center;

	h2 {
		padding: 0px 0px 15px 0px;;
	}

	.sponsor-type {
		padding-bottom: 15px;

		a {
			background-color: white;
			display: inline-block;
			padding: 10px;
			border-radius: 6px;
			border: 3px solid white;
			margin: 3px 3px;
		}
	}

	.diamond img {
		max-width: 278px;
		max-height: 55px;
	}

	.platinum img {
		max-width: 250px;
		max-height: 50px;
	}

	.gold img {
		max-width: 222px;
		max-height: 44px;
	}

	.silver img {
		max-width: 204px;
		max-height: 40px;
	}

	.bronze img {
		max-width: 185px;
		max-height: 37px;
	}
}