<section id="tracks" class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Tracks</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table class="table table-striped">
                    <thead>
					<tr>
						<th class="track">Track</th>
						<th class="description">Description</th>
					</tr>
                    </thead>
                    <tbody>
					<tr>
						 <td>Crafting Code</td>
						 <td>Sessions with a direct focus on coding. Appropriate topics could include working with legacy code, refactoring, and principles and practices to improve code design.</td>
					</tr>
					<tr>
						 <td>Persistence & Data</td>
						 <td>Sessions focussed around persistence. Appropriate topics could include best practices with relational db's, transitioning to NoSQL databases, working with data as a programmer, handling schema migrations. </td>
					</tr>
					<tr>
						 <td>DevOps & Automation</td>
						 <td>Sessions focussed around the culture, environment and tools used for building, testing, and releasing software rapidly, frequently, and more reliably. Experience reports on what worked, what didn't and why.</td>
					</tr>
					<tr>
						 <td>Tools & Frameworks</td>
						 <td>Sessions focussed around the tools that make developers productive be they software (Visual Studio or Eclipse), and details in programming languages that are often overlooked.</td>
					</tr>
                    <tr>
						 <td>Teams & People</td>
						 <td>Sessions focussed around the learning from other developers, office layout or soft skills like mentoring, dealing with diversity and working in teams. </td>
					</tr>
                    </tbody>
				</table>
			</div>
		</div>
	</div>
</section>
