<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <img class= "img-responsive center-block" src="/public/images/bannerTitle.png" alt='DevConf;'/>
                    <h3>solving today and tomorrow's software development challenges</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="countdown-timer-subtitle">8 March, 2016, Johannesburg</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include index_preregister.html %}
            </div>
        </div>       
    </div>
</div>